force-app/main/default/flows/Auto_Select_Invoice_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_BUPA_Invoice</name>
        <label>Run BUPA Invoice</label>
        <locationX>159</locationX>
        <locationY>732</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Completion_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>3DED71CF-8000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AirSlateIDBasedonCycleorPatient</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Invoice</name>
        <label>Run Invoice</label>
        <locationX>566</locationX>
        <locationY>725</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Completion_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>A339BEEE-8000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Medicare_Invoice</name>
        <label>Run Medicare Invoice</label>
        <locationX>370</locationX>
        <locationY>733</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Completion_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>BB29274A-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AirSlateIDBasedonCycleorPatient</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_SA_Invoice</name>
        <label>Run SA Invoice</label>
        <locationX>923</locationX>
        <locationY>514</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Completion_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>B1AA1325-A000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bug_Report</name>
        <label>Send Bug Report</label>
        <locationX>278</locationX>
        <locationY>211</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>grace.lanspeary@pariosolutions.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bug Report</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Medicare_Invoice_Type</name>
        <label>Medicare Invoice Type?</label>
        <locationX>272</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medicare_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Related_Cycle__r.Price_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Defence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Medicare_Invoice</targetReference>
            </connector>
            <label>Medicare Invoice</label>
        </rules>
        <rules>
            <name>BUPA_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Related_Cycle__r.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_BUPA_Invoice</targetReference>
            </connector>
            <label>BUPA Invoice</label>
        </rules>
        <rules>
            <name>Semen_Analysis_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Related_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <label>Semen Analysis Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medicare_or_Regular</name>
        <label>Invoice Type</label>
        <locationX>561</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice.Related_Cycle__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medicare_Invoice_Type</targetReference>
            </connector>
            <label>Medicare</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Invoice</targetReference>
            </connector>
            <label>Regular</label>
        </rules>
        <rules>
            <name>Semen_Analysis</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Related_Cycle__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Display_Screen</targetReference>
            </connector>
            <label>Semen Analysis</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AirSlateIDBasedonCycleorPatient</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Invoice.Related_Cycle__r.Id}=NULL, {!Get_Invoice.Patients_Donors__r.Id}, {!Get_Invoice.Related_Cycle__r.Id})</expression>
    </formulas>
    <interviewLabel>Auto Select Invoice Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Select Invoice Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>566</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>279</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Bug_Report</targetReference>
        </connector>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There has been a problem with this process - Please alert administration of this message. Make sure you press the finish button below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Completion_Notification</name>
        <label>Flow Completion Notification</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowCompletionText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The invoice has been successfully generated. Please allow a minute for this to export to the files tab.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Type</name>
        <label>Invoice Type</label>
        <locationX>566</locationX>
        <locationY>370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Medicare_or_Regular</targetReference>
        </connector>
        <fields>
            <name>YNPicklistText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Would you like to generate an Invoice with Medicare Item Numbers? &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicareInvoiceYN</name>
            <extensionName>c:YesNoPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>YesNo</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>YesNo</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Display_Screen</name>
        <label>SA Display Screen</label>
        <locationX>740</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_SA_Invoice</targetReference>
        </connector>
        <fields>
            <name>SA_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please note: You are about to generate a Semen Analysis Invoice. Please allow 30-60 Seconds for this to export to the file. Please select finish to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>440</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi there,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A fault has occurred in the &quot;Auto Select Invoice Type&quot; Flow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The user was &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Username}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
