force-app/main/default/flows/Auto_Generate_Cycle_Alerts_Based_on_Results_and_Protocol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_All_Tests</name>
        <label>Assign to All Tests</label>
        <locationX>1364</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AllTests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Steps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_2_of_LH_Within_Range</name>
        <label>Copy 2 of LH Within Range</label>
        <locationX>2772</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Create_System_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_LH_Within_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LH__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Greater_Than__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LH__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Less_Than__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Tests</targetReference>
            </connector>
            <label>Copy 2 of Yes LH Within Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_2_Within_Range</name>
        <label>E 2 Within Range</label>
        <locationX>1452</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Create_System_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Tests.Level_Greater_Than__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.E2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Tests.Level_Less_Than__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.E2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Tests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LH_Within_Range</name>
        <label>LH Within Range</label>
        <locationX>1892</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_System_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_LH_Within_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LH__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Greater_Than__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LH__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Less_Than__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Tests</targetReference>
            </connector>
            <label>Yes LH Within Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Steps_Found</name>
        <label>No Steps Found?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null Steps</label>
        </rules>
    </decisions>
    <decisions>
        <name>P4_Within_Range_decision</name>
        <label>P4 Within Range</label>
        <locationX>2332</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Create_System_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P4_Within_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.P4__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Greater_Than__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P4__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>All_Tests.Level_Less_Than__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Tests</targetReference>
            </connector>
            <label>P4 Within Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Type</name>
        <label>Test Type</label>
        <locationX>2288</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>All_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>E2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Tests.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_2_Within_Range</targetReference>
            </connector>
            <label>E2</label>
        </rules>
        <rules>
            <name>LH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Tests.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LH_Within_Range</targetReference>
            </connector>
            <label>LH</label>
        </rules>
        <rules>
            <name>P4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>All_Tests.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Progesterone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Tests.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P4_Within_Range_decision</targetReference>
            </connector>
            <label>P4</label>
        </rules>
        <rules>
            <name>HCG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Tests.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HCG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_LH_Within_Range</targetReference>
            </connector>
            <label>HCG</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Generate Cycle Alerts Based on Results and Protocol {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Generate Cycle Alerts Based on Results and Protocol</label>
    <loops>
        <name>All_Tests</name>
        <label>All Tests</label>
        <locationX>1276</locationX>
        <locationY>1055</locationY>
        <collectionReference>AllTests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_Type</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Steps</name>
        <label>Loop Steps</label>
        <locationX>1276</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Step</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Tests</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Tests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_System_Warning</name>
        <label>Copy 1 of Copy 1 of Create System Warning</label>
        <locationX>2420</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>All_Tests</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>E2 Is out of Parameters Doctor Advice Required</stringValue>
            </value>
        </inputAssignments>
        <object>System_Cycle_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_System_Warning</name>
        <label>Copy 1 of Create System Warning</label>
        <locationX>1980</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>All_Tests</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>E2 Is out of Parameters Doctor Advice Required</stringValue>
            </value>
        </inputAssignments>
        <object>System_Cycle_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Create_System_Warning</name>
        <label>Copy 2 of Copy 1 of Create System Warning</label>
        <locationX>2860</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>All_Tests</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>E2 Is out of Parameters Doctor Advice Required</stringValue>
            </value>
        </inputAssignments>
        <object>System_Cycle_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_System_Warning</name>
        <label>Create System Warning</label>
        <locationX>1540</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>All_Tests</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>E2 Is out of Parameters Doctor Advice Required</stringValue>
            </value>
        </inputAssignments>
        <object>System_Cycle_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step</name>
        <label>Get Step</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Steps_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Day_of_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Cycle_Day_Event__r.Cycle_Day_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Step_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blood Test</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Step_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tests</name>
        <label>Get Tests</label>
        <locationX>1364</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Steps.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <object>Result__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step_Test__c</objectType>
    </variables>
</Flow>
