force-app/main/default/flows/Auto_Appointment_Creation_Movments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Event_Type</name>
        <label>Event Type</label>
        <locationX>363</locationX>
        <locationY>564</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVF_Interview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Drug</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Interview_Event</targetReference>
            </connector>
            <label>Interview</label>
        </rules>
        <rules>
            <name>Blood_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blood</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Blood_Event</targetReference>
            </connector>
            <label>Blood Onsite</label>
        </rules>
        <rules>
            <name>Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scan_Event</targetReference>
            </connector>
            <label>Scan</label>
        </rules>
        <rules>
            <name>Andro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sperm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Andro_Event</targetReference>
            </connector>
            <label>Andro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OnsiteBloodName</name>
        <dataType>String</dataType>
        <expression>&quot;Onsite Blood - &quot;&amp;{!Get_Patient.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectName</name>
        <dataType>String</dataType>
        <expression>{!Get_Patient.Name}&amp; &apos; - &apos;&amp;{!$Record.Subject}</expression>
    </formulas>
    <interviewLabel>Auto Appointment Creation Movments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Appointment Creation Movements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Andro_Event</name>
        <label>Create Andro Event</label>
        <locationX>729</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Cycle_Sumo__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Collection_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Donors_Sumo__c</field>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sumo_Linked_Object__c</field>
            <value>
                <elementReference>$Record.sumoapp__SumoId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Blood_Event</name>
        <label>Create Blood Event</label>
        <locationX>373</locationX>
        <locationY>747</locationY>
        <inputAssignments>
            <field>Cycle_Sumo__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Blood_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Donors_Sumo__c</field>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sumo_Linked_Object__c</field>
            <value>
                <elementReference>$Record.sumoapp__SumoId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Interview_Event</name>
        <label>Create Interview Event</label>
        <locationX>168</locationX>
        <locationY>746</locationY>
        <inputAssignments>
            <field>Cycle_Sumo__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Library__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Donors_Sumo__c</field>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sumo_Linked_Object__c</field>
            <value>
                <elementReference>$Record.sumoapp__SumoId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scan_Event</name>
        <label>Create Scan Event</label>
        <locationX>542</locationX>
        <locationY>748</locationY>
        <inputAssignments>
            <field>Cycle_Sumo__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Bundles_Scan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Donors_Sumo__c</field>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sumo_Linked_Object__c</field>
            <value>
                <elementReference>$Record.sumoapp__SumoId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>369</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>243</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sumoapp__SumoId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
