force-app/main/default/flows/Book_Interview_From_Calendar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Calendar</name>
        <label>Redirect to Calendar</label>
        <locationX>747</locationX>
        <locationY>1248</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>https://compassfertility.lightning.force.com/lightning/o/Event/home</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>646</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Note_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowed_to_Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.User_Allowed_to_Cycle_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Note</targetReference>
            </connector>
            <label>Allowed to Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes</name>
        <label>Yes</label>
        <locationX>818</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPicklistVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Note_Screen</targetReference>
            </connector>
            <label>Notes</label>
        </rules>
        <rules>
            <name>Cycle_On_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPicklistVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle On Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cycle_On_Screen</targetReference>
            </connector>
            <label>Cycle On Event</label>
        </rules>
        <rules>
            <name>Manual_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPicklistVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Any_Event</targetReference>
            </connector>
            <label>Manual Event</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Appointment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Type__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InterviewTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Interview_Types__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateNotTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Date_For_Note})-(4/24)</expression>
    </formulas>
    <formulas>
        <name>EPUName</name>
        <dataType>String</dataType>
        <expression>&quot;Cycled On EPU - &quot;&amp;{!SelectedPatient}</expression>
    </formulas>
    <formulas>
        <name>NextDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!DateNotTime}+{!RecurringEveryXDays}</expression>
    </formulas>
    <interviewLabel>Book Interview From Calendar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Interview From Calendar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EPU</name>
        <label>Create EPU</label>
        <locationX>830</locationX>
        <locationY>1091</locationY>
        <connector>
            <targetReference>Redirect_to_Calendar</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Estimated_EPU_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Type__c</field>
            <value>
                <stringValue>Proceedure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Doctor__c</field>
            <value>
                <elementReference>Get_Patient.Account.Doctor2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Procedure_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Types__c</field>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Cycled On EPU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SelectedPatient</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Note</name>
        <label>Create Event_Note</label>
        <locationX>385</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Redirect_to_Calendar</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>DateNotTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Type__c</field>
            <value>
                <stringValue>Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Notes_Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Note_Discription</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>831</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_EPU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPatient</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>653</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Note</name>
        <label>Add Note</label>
        <locationX>826</locationX>
        <locationY>418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Yes</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;b&gt;What Type of Booking would you like to make?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EventPicker</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Calendar_Choice_Display__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>SelectedPicklistVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPicklistVar</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_On_Screen</name>
        <label>Cycle On Screen</label>
        <locationX>829</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <fields>
            <name>Patient_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedPatient</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPatient</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Estimated_EPU_Date</name>
            <dataType>Date</dataType>
            <fieldText>Estimated EPU Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Note_Screen</name>
        <label>Note Screen</label>
        <locationX>384</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Event_Note</targetReference>
        </connector>
        <fields>
            <name>Note_Discription</name>
            <dataType>String</dataType>
            <fieldText>Note Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_For_Note</name>
            <dataType>Date</dataType>
            <fieldText>Date For Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>527</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Any_Event</name>
        <label>Create Any Event</label>
        <locationX>1079</locationX>
        <locationY>598</locationY>
        <flowName>Developer_Create_Any_Event</flowName>
    </subflows>
    <variables>
        <name>AllCycles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CreatedAppointmnet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecurringEveryXDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SelectedInterviewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPatinet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedPicklistVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNoVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
