force-app/main/default/flows/Bulk_Process_Medicare_Claims.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_RecordID</name>
        <label>Assign RecordID</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medicare_Claims.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Medicare_Processing_Flow</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Bulk Process Medicare Claims {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Process Medicare Claims</label>
    <loops>
        <name>Loop_Medicare_Claims</name>
        <label>Loop Medicare Claims</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_All_Outstanding_Medicare_Claims</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_More_Medicare_Claims</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Outstanding_Medicare_Claims</name>
        <label>Get All Outstanding Medicare Claims</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Medicare_Claims</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medicare_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Defence</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0125m0000004KabAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Outcome__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bulk_Screen</name>
        <label>Bulk Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Outstanding_Medicare_Claims</targetReference>
        </connector>
        <fields>
            <name>BulkStartText</name>
            <fieldText>&lt;p&gt;Would you like to begin bulk processing all ready patient claims? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Begin Claim Processing</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_Information</name>
        <label>Cycle Information</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_RecordID</targetReference>
        </connector>
        <fields>
            <name>Display_Patient_Name</name>
            <fieldText>&lt;p&gt;You are about to process a claim for {!Loop_Medicare_Claims.Contact.FirstName} {!Loop_Medicare_Claims.Contact.Last_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_More_Medicare_Claims</name>
        <label>No More Medicare Claims</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are no more Medicare claims for processing. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Have a Cookie</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bulk_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Medicare_Processing_Flow</name>
        <label>Launch Medicare Processing Flow</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_Medicare_Claims</targetReference>
        </connector>
        <flowName>Medicare</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
