force-app/main/default/flows/Bulk_Results_Add.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>493</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>Cycleid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Pregnancy_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_0</name>
        <label>Assign Date</label>
        <locationX>57</locationX>
        <locationY>1504</locationY>
        <assignmentItems>
            <assignToReference>Cycleid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_0_0</name>
        <label>Assign Date</label>
        <locationX>601</locationX>
        <locationY>1313</locationY>
        <assignmentItems>
            <assignToReference>Cycleid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Pregnancy_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result_ID</name>
        <label>Assign Result ID</label>
        <locationX>430</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>resultId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedResult.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Cycles</name>
        <label>Count Cycles</label>
        <locationX>62</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CountCycleVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Cycles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_1_Active_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Tasks</name>
        <label>Count Tasks</label>
        <locationX>245</locationX>
        <locationY>1726</locationY>
        <assignmentItems>
            <assignToReference>CountTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_One_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Day_1_Completed</name>
        <label>Day 1 Completed</label>
        <locationX>602</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>Where_in_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Past_Day_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_0_0</targetReference>
            </connector>
            <label>Past Day 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Active_Cycle</name>
        <label>More than 1 Active Cycle</label>
        <locationX>50</locationX>
        <locationY>1003</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCycleVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Cycle_Screen</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_One_Tasks</name>
        <label>More than One Tasks</label>
        <locationX>235</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>More than 1 Task</label>
        </rules>
        <rules>
            <name>No_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountTasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Creation</targetReference>
            </connector>
            <label>No Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Active_Cycles</name>
        <label>No Active Cycles</label>
        <locationX>428</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Count_Cycles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Cycles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Cycles</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preg_Test_Check</name>
        <label>Preg Test Check</label>
        <locationX>409</locationX>
        <locationY>1314</locationY>
        <defaultConnector>
            <targetReference>Assign_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_Pregnancy_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_a_Pregnancy_Test_Screen</targetReference>
            </connector>
            <label>Not a Pregnancy Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Type</name>
        <label>Test Type</label>
        <locationX>303</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blood_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result</targetReference>
            </connector>
            <label>Blood Test</label>
        </rules>
        <rules>
            <name>Pregnancy_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result</targetReference>
            </connector>
            <label>Pregnancy Test</label>
        </rules>
        <rules>
            <name>Where_in_Cycle_Blood</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Where in Cycle Blood</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result</targetReference>
            </connector>
            <label>Where in Cycle Blood</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Type_0</name>
        <label>Test Type</label>
        <locationX>229</locationX>
        <locationY>1333</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blood_Test_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_0</targetReference>
            </connector>
            <label>Blood Test</label>
        </rules>
        <rules>
            <name>Pregnancy_Test_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preg_Test_Check</targetReference>
            </connector>
            <label>Pregnancy Test</label>
        </rules>
        <rules>
            <name>Where_in_Cycle_Blood_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Type_Selection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Where in Cycle Blood</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_0</targetReference>
            </connector>
            <label>Where in Cycle Blood</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Mostrecentcycle</name>
        <dataType>Date</dataType>
        <expression>{!Get_Cycle_0.Day_1__c}-30</expression>
    </formulas>
    <interviewLabel>Bulk Results Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Results Add</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Result</name>
        <label>Create Result</label>
        <locationX>248</locationX>
        <locationY>1485</locationY>
        <assignRecordIdToReference>resultId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Result_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2__c</field>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCG__c</field>
            <value>
                <elementReference>HCG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LH__c</field>
            <value>
                <elementReference>LH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <elementReference>Result_Type_Selection.value</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>78</locationX>
        <locationY>2014</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Result__c</field>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Book_Blood_QueueID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Entered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Cycles</name>
        <label>Get All Cycles</label>
        <locationX>474</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Active_Cycles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPatient</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>53</locationX>
        <locationY>1167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPatient</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_0</name>
        <label>Get Cycle</label>
        <locationX>610</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_1_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPatient</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_1__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Mostrecentcycle</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result</name>
        <label>Get Result</label>
        <locationX>612</locationX>
        <locationY>1596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Result_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <object>Result__c</object>
        <outputReference>SelectedResult</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>243</locationX>
        <locationY>2025</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>SelectedTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>246</locationX>
        <locationY>1600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycleid</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>244</locationX>
        <locationY>2164</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Linked_Result__c</field>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Entered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>473</locationX>
        <locationY>2041</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <fields>
            <name>MorethanOne</name>
            <fieldText>&lt;p&gt;Please select a task to associate this result with.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,WhatId,ActivityDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:314, WhatId:314, ActivityDate:314</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTask</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Cycle_Screen</name>
        <label>Multiple Cycle Screen</label>
        <locationX>420</locationX>
        <locationY>1015</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;This patient has more than one active Cycle and as such results must be added on the cycle screen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Cycles</name>
        <label>No Cycles</label>
        <locationX>610</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Cycle_0</targetReference>
        </connector>
        <fields>
            <name>Display_Text_0</name>
            <fieldText>&lt;p&gt;This patient has no active cycles and as such a result cannot be added. &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;If you proceed please do so with caution.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_a_Pregnancy_Test_Screen</name>
        <label>Not a Pregnancy Test Screen</label>
        <locationX>337</locationX>
        <locationY>1137</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Result_Type</targetReference>
        </connector>
        <fields>
            <name>PregTestText</name>
            <fieldText>&lt;p&gt;This is not a pregnancy test as this cycle has no day 1. This should be logged as a where in cycle blood. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>501</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Cycles</targetReference>
        </connector>
        <fields>
            <name>Patients_and_Donors</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedPatient</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPatient</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Result_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Result Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Blood_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Where_in_Cycle_Blood</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LH</name>
            <dataType>Number</dataType>
            <fieldText>LH</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Blood_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Where_in_Cycle_Blood</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>P4</name>
            <dataType>Number</dataType>
            <fieldText>P4</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnancy_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Blood_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>E2</name>
            <dataType>Number</dataType>
            <fieldText>E2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Blood_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Where_in_Cycle_Blood</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HCG</name>
            <dataType>Number</dataType>
            <fieldText>HCG</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnancy_Test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Type</name>
        <label>Result Type</label>
        <locationX>251</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Test_Type</targetReference>
        </connector>
        <fields>
            <name>Result_Type_Selection</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Pregnancy Test Result&quot;,&quot;value&quot;:&quot;Pregnancy Test Result&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Blood Test Result&quot;,&quot;value&quot;:&quot;Blood Test Result&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Where in Cycle Blood&quot;,&quot;value&quot;:&quot;Where in Cycle Blood&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>78</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>NoTaskText</name>
            <fieldText>&lt;p&gt;No tasks currently exist for this patient if you press next as new task will be created for follow-up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Incoming Result Generated Task</stringValue>
            </defaultValue>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Where_in_Cycle</name>
        <label>Where in Cycle</label>
        <locationX>794</locationX>
        <locationY>1177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WICText</name>
            <fieldText>&lt;p&gt;This is not actually a pregnancy test it is a where in cycle blood. You will need to enter this result again and select the correct result type. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>129</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Result_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Pregnancy_Result</name>
        <label>New Pregnancy Result</label>
        <locationX>603</locationX>
        <locationY>1449</locationY>
        <connector>
            <targetReference>Get_Result</targetReference>
        </connector>
        <flowName>Subflow_New_Pregnancy_Result</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Cycleid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>resultId</assignToReference>
            <name>ResultId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CountCycleVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Cycleid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>SelectedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
