force-app/main/default/flows/Check_for_Existing_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Duplicate_Found_0</name>
        <label>Duplicate Found?</label>
        <locationX>794</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Duplicated_Event_UPDATED.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Duplicate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Appointment_Ticked</name>
        <label>Is Create Appointment Ticked?</label>
        <locationX>989</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Appointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Appointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AppointmentTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Type__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Check for Existing Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Existing Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1005</locationX>
        <locationY>100</locationY>
        <inputAssignments>
            <field>Assigned_Doctor__c</field>
            <value>
                <elementReference>SelectedDoctorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Appointment_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedRoomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Appointment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>SelectCycleVAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Duplicated_Event_UPDATED</name>
        <label>Check Duplicated Event</label>
        <locationX>625</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Calendar</targetReference>
        </connector>
        <filterLogic>3 AND ((1 AND 2 AND 4 AND 5) OR(6 AND 7) OR (8 AND 9 ))</filterLogic>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRoomId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calendar</name>
        <label>Get Calendar</label>
        <locationX>619</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRoomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Event_Screen</name>
        <label>Create Event Screen</label>
        <locationX>627</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Duplicated_Event_UPDATED</targetReference>
        </connector>
        <fields>
            <name>Appointment_Type</name>
            <choiceReferences>AppointmentTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appointment_Description</name>
            <defaultValue>
                <stringValue>{!Appointment_Description}</stringValue>
            </defaultValue>
            <fieldText>Appointment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Start_Time</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>End_Time</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:people</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dropDownLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedContactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Room</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Calendar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Room</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dropDownLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedRoomId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Search Rooms...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFiveRecent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRoomId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Cycle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectCycleVAR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dropDownLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:asset_relationship</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectCycleVAR</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doctor</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedDoctorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Associated Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:people</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDoctorId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Found_Duplicate</name>
        <label>Found Duplicate</label>
        <locationX>804</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_Appointment_Ticked</targetReference>
        </connector>
        <fields>
            <name>Duplicate_Found_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(205, 24, 24);&quot;&gt;An appointment has already been scheduled for this time for the &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(205, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Calendar.Name}, please review the following details below&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(205, 24, 24);&quot;&gt;:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Existing Appointment Details:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Appointment Type: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Check_Duplicated_Event_UPDATED.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Description:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Check_Duplicated_Event_UPDATED.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Start Time: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Check_Duplicated_Event_UPDATED.StartDateTime} &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;End Time:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Check_Duplicated_Event_UPDATED.EndDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Room: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Check_Duplicated_Event_UPDATED.Owner:Calendar.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;New Appointment Details:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Appointment Type: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Appointment_Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Description:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; {!Appointment_Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Start Time: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Start_Time} &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;End Time:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!End_Time}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Room:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Get_Calendar.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Appointment</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create Appointment</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If this checkbox is ticked the appointment will be created.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Create_Event_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectCycleVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
