force-app/main/default/flows/Create_Day_5_Assessment_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Embryo_Data</name>
        <label>Assign Embryo Data</label>
        <locationX>1914</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Cell_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Cell_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Fragmentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Fragmentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Cell_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Cell_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Fragmentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Fragmentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Grading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Embryo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fate_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.PGT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_Embryo_Require_PGT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Data_0</name>
        <label>Assign Embryo Data</label>
        <locationX>1789</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Cell_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Cell_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Fragmentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Fragmentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Day_5_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Cell_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Cell_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Fragmentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Fragmentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Grading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_5_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Embryo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.PGT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_Embryo_Require_PGT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Embryos.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1835</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Embryos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>For_PGT</name>
        <label>For PGT?</label>
        <locationX>1745</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Assign_Embryo_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PGT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_this_Embryo_Require_PGT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Embryo_Data_0</targetReference>
            </connector>
            <label>PGT</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Day5Grade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_5_Grade__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day5Other</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_5_Other__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Embryo_Status__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fragmentation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_5_Fragmentation__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_Users_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Day 5 Assessment Cycle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Day 5 Assessment Cycle Event</label>
    <loops>
        <name>Loop_All_Embryos</name>
        <label>Loop All Embryos</label>
        <locationX>1699</locationX>
        <locationY>603</locationY>
        <collectionReference>Get_All_Embryo_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Embryo_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Day_3_Assessment_Cycle_Event_0</name>
        <label>Create Day 5 Assessment Cycle Event</label>
        <locationX>1841</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Day_5_Assessment_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_Performing_Event__c</field>
            <value>
                <elementReference>Scientist2</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Embryo_s</name>
        <label>Get All Embryo&apos;s</label>
        <locationX>1536</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <sortField>Embryo_Auto_Number_Display__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>450</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batch</name>
        <label>Get Embryo Batch</label>
        <locationX>906</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Batch_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>625</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Day_5_Assessment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>2013</locationX>
        <locationY>478</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_5_Assessment_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>1705</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Create_Day_3_Assessment_Cycle_Event_0</targetReference>
        </connector>
        <inputReference>UpdatedEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Day_5_Assessment_Screen</name>
        <label>Create Day 5 Assessment Screen</label>
        <locationX>827</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Embryo_s</targetReference>
        </connector>
        <fields>
            <name>DisplayTextWit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Cycle.Flow_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtraInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patient has selected: {!Get_Cycle.PGT_Type__c} Patient ET Number: {!Get_Cycle.Number_of_Embryos_for_Transfer__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Procedure_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Procedure Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scientist2</name>
            <choiceReferences>Scientist_Users_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Embryo_Entry</name>
        <label>Embryo Entry</label>
        <locationX>1649</locationX>
        <locationY>798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_PGT</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Enter Details for&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_All_Embryos.Name} -&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_All_Embryos.Embryo_Number__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_5_Cell_Number</name>
            <dataType>String</dataType>
            <fieldText>Day 5 Cell Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Day_5_Grade</name>
            <choiceReferences>Day5Grade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day 5 Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Day_5_Fragmentation</name>
            <choiceReferences>Fragmentation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day 5 Fragmentation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Day_5_Other</name>
            <choiceReferences>Day5Other</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Day 5 Other</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FateText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter the fate for the next step for this embryo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fate_Picklist</name>
            <choiceReferences>Fate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_this_Embryo_Require_PGT</name>
            <dataType>Boolean</dataType>
            <fieldText>Does this Embryo Require PGT?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentCycleEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CurrentDay5Embryo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>CycleEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CycleLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Day5UpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>EmbryoBatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmbryoRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>EmbryoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>FoundBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectEmbryoBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEmbryosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
</Flow>
