force-app/main/default/flows/Create_PIF_Task_for_Admin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>FollowupDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Create PIF Task for Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PIF Task for Admin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Task</name>
        <label>Copy 2 of Create Task</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowupDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Profiles.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Follow Up PIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Profiles.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Update Email and Send PIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Profiles</name>
        <label>Get User Profiles</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compass Patient Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Profiles</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 (AND 4)</filterLogic>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient &amp; Donor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
