force-app/main/default/flows/Create_Sperm_Preparation_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Male_Count</name>
        <label>Assign Male Count</label>
        <locationX>1342</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>MaleCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Male_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Male_To_Collection</name>
        <label>Assign Male To Collection</label>
        <locationX>1345</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>AllMales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Male</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Males</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Males_Selected</name>
        <label>Assign Males Selected</label>
        <locationX>1202</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>MaleSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Male</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frozen_Sperm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_ID</name>
        <label>Assign Semen ID</label>
        <locationX>1427</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>CreatedSemenSampleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedSemenSample.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sperm_Prep_Cycle_Event_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_Sample_ID</name>
        <label>Assign Semen Sample ID</label>
        <locationX>1604</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>SelectedSemenSample.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Selected_Semen_Sample.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Selected_Semen_Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_Sample_Names</name>
        <label>Assign Semen Sample Names</label>
        <locationX>1742</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>AllSemenSamples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SemenSampleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Semen_Sample_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Semen_Samples</name>
        <label>Count Selected Semen Samples</label>
        <locationX>1688</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>CountSemenSamples</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedSemenSamples</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Than_One_Semen_Sample_Collected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_you_Freeze_Decision</name>
        <label>Did you Freeze Decision</label>
        <locationX>787</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Select_Freeze</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FreezeYESNO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semen_Freeze_Details</targetReference>
            </connector>
            <label>Yes Freeze</label>
        </rules>
        <rules>
            <name>No_Freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FreezeYESNO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frozen_Sperm_0</targetReference>
            </connector>
            <label>No Freeze</label>
        </rules>
    </decisions>
    <decisions>
        <name>Frozen_Sperm</name>
        <label>Frozen Sperm</label>
        <locationX>1247</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>New_Sperm_Preparation_Cycle_Event_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Frozen_Sperm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fresh_or_Frozen_Sample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frozen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household_Semen_Samples</targetReference>
            </connector>
            <label>Yes Frozen Sperm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Frozen_Sperm_0</name>
        <label>Frozen Sperm</label>
        <locationX>1213</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>Create_Semen_Sample_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Frozen_Sperm_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fresh_or_Frozen_Sample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frozen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Freeze</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Semen_Sample</targetReference>
            </connector>
            <label>Yes Frozen Sperm</label>
        </rules>
        <rules>
            <name>Yes_No_Frozen_Sperm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fresh_or_Frozen_Sample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frozen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Freeze</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Semen_Sample_0</targetReference>
            </connector>
            <label>Yes No Frozen Sperm</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Than_One_Semen_Sample_Collected</name>
        <label>More Than One Semen Sample Collected</label>
        <locationX>1868</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>Get_Semen_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_than_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSemenSamples</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Straws_Adjusted</targetReference>
            </connector>
            <label>Yes More than One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_1_Male</name>
        <label>Only 1 Male?</label>
        <locationX>984</locationX>
        <locationY>1251</locationY>
        <defaultConnector>
            <targetReference>Select_Male</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Male</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Males_Selected</targetReference>
            </connector>
            <label>1 Male</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_of_Sperm</name>
        <label>Source of Sperm</label>
        <locationX>1887</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Semen_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeofSample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejaculate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_ANZARD_0</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FreshFrozen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sperm_Prep_Fresh_Frozen__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MediaType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Medium__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrepType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prep_Type__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcedureLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Location__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_User_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpermSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sperm_Source_Donor__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpermSourceFrozen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sperm_Source_Frozen__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpermSourceMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sperm_Source_Method__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Storage_Location_New</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Location_new__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Type__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StrawSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Straw_Size__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SpermCollectionSite</name>
        <dataType>String</dataType>
        <expression>IF({!TypeofSample}=&quot;Ejaculate&quot;, &quot;e&quot;, IF({!TypeofSample}=&quot;Retrograde&quot;, &quot;o&quot;, IF({!TypeofSample}=&quot;Aspirate&quot;, &quot;p&quot;, IF({!TypeofSample}=&quot;Open Biopsy&quot;,&quot;t&quot;,IF({!TypeofSample}=&quot;From Another Clinic&quot;, &quot;u&quot;, &quot;u&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>SpermSourceANZARD</name>
        <dataType>String</dataType>
        <expression>IF({!Semen_Source}=&quot;Partner&quot;, &quot;	1= A male intending parent&quot;, &quot;2= A sperm donor outside of the intending parents&quot;)</expression>
    </formulas>
    <formulas>
        <name>StrawsRemainingAdjustment</name>
        <dataType>Number</dataType>
        <expression>IF({!CountSemenSamples}&gt;1,{!Get_Semen_Records.Number_of_Straws_Remaining__c},{!Get_Semen_Records.Number_of_Straws_Remaining__c}-{!Straws_Thawed})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StrawsTahsedCalc</name>
        <dataType>Number</dataType>
        <expression>{!Straws_Thawed}*{!Get_Semen_Records.Straw_Size_Number__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Create Sperm Preparation Cycle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sperm Preparation Cycle Event</label>
    <loops>
        <name>Loop_For_Selected_Semen_Sample</name>
        <label>Loop For Selected Semen Sample</label>
        <locationX>1612</locationX>
        <locationY>747</locationY>
        <collectionReference>UpdatedSemenSamples</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Semen_Sample_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Semen_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Males</name>
        <label>Loop Males</label>
        <locationX>1128</locationX>
        <locationY>1421</locationY>
        <collectionReference>Get_Account_Males</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Male</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Only_1_Male</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Freeze_Event</name>
        <label>Create Freeze Event</label>
        <locationX>1045</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Frozen_Sperm_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Analysis_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129o0000004JtzAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_Performing_Event__c</field>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Semen_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source_Method__c</field>
            <value>
                <elementReference>SpermSourceMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straws_Frozen__c</field>
            <value>
                <elementReference>Number_of_Straws_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Historical_Sperm_Record</name>
        <label>Create Historical Sperm Record</label>
        <locationX>1027</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>New_Sperm_Preparation_Cycle_Event_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Frozen__c</field>
            <value>
                <elementReference>Get_Semen_Records.Date_Frozen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Medium__c</field>
            <value>
                <elementReference>Get_Semen_Records.Freeze_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Scientist__c</field>
            <value>
                <elementReference>Get_Semen_Records.Freeze_Scientist__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Witness__c</field>
            <value>
                <elementReference>Get_Semen_Records.Freeze_Witness__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immotile__c</field>
            <value>
                <elementReference>Get_Semen_Records.Immotile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Progressive__c</field>
            <value>
                <elementReference>Get_Semen_Records.Non_Progressive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Frozen__c</field>
            <value>
                <elementReference>Get_Semen_Records.Number_of_Straws_Frozen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Concentration__c</field>
            <value>
                <elementReference>Get_Semen_Records.Concentration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Immotile__c</field>
            <value>
                <elementReference>Get_Semen_Records.Post_Thaw_Immotile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Non_Progressive_Motility__c</field>
            <value>
                <elementReference>Get_Semen_Records.Post_Thaw_Non_Progressive_Motility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Progressive_Motility__c</field>
            <value>
                <elementReference>Get_Semen_Records.Post_Thaw_Progressive_Motility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Total_Motile_Count__c</field>
            <value>
                <elementReference>Get_Semen_Records.Post_Thaw_Total_Motile_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Total_Motility__c</field>
            <value>
                <elementReference>Get_Semen_Records.Post_Thaw_Total_Motility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progressive_Motility__c</field>
            <value>
                <elementReference>Get_Semen_Records.Progressive_Motility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Semen_Sample__c</field>
            <value>
                <elementReference>Get_Semen_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Concentration__c</field>
            <value>
                <elementReference>Get_Semen_Records.Sperm_Concentration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location__c</field>
            <value>
                <elementReference>Get_Semen_Records.Storage_Location_Lookup__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straw_Size__c</field>
            <value>
                <elementReference>Get_Semen_Records.Straw_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Motile_Count__c</field>
            <value>
                <elementReference>Get_Semen_Records.Total_Motile_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Motility__c</field>
            <value>
                <elementReference>Get_Semen_Records.Total_Motility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>Get_Semen_Records.Volume__c</elementReference>
            </value>
        </inputAssignments>
        <object>Semen_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Semen_Sample_0</name>
        <label>Create Semen Sample</label>
        <locationX>1585</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>CreatedSemenSampleId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Sperm_Prep_Cycle_Event_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Analysis_Date_Time__c</field>
            <value>
                <elementReference>Analysis_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Date_Time__c</field>
            <value>
                <elementReference>Collection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concentration__c</field>
            <value>
                <elementReference>Post_Thaw_Concentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Frozen__c</field>
            <value>
                <elementReference>Storage_Date_New_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Owner__c</field>
            <value>
                <elementReference>Male_Name_1.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Medium__c</field>
            <value>
                <elementReference>Media_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Scientist__c</field>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Number__c</field>
            <value>
                <elementReference>Lab_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Frozen__c</field>
            <value>
                <elementReference>Number_of_Straws_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Remaining__c</field>
            <value>
                <elementReference>Number_of_Straws_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Non_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Non_Progressive_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Progressive_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prep_Type__c</field>
            <value>
                <elementReference>Prep_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progressive_Motility__c</field>
            <value>
                <elementReference>Initial_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_For__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_for_Freeze__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Concentration__c</field>
            <value>
                <elementReference>Initial_Concentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source__c</field>
            <value>
                <elementReference>Semen_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Date__c</field>
            <value>
                <elementReference>Storage_Date_New_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location_Lookup__c</field>
            <value>
                <elementReference>StorageLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Type__c</field>
            <value>
                <elementReference>Storage_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straw_Size__c</field>
            <value>
                <elementReference>Straw_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Sample__c</field>
            <value>
                <elementReference>TypeofSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>Initial_Volume</elementReference>
            </value>
        </inputAssignments>
        <object>Sperm_Sample__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sperm_Prep_Cycle_Event_0_0_0</name>
        <label>Create Sperm Prep Cycle Event</label>
        <locationX>1568</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Update_Cycle_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Collection_Date_Time__c</field>
            <value>
                <elementReference>Collection_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Concentration__c</field>
            <value>
                <elementReference>Final_Concentration_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Motility__c</field>
            <value>
                <elementReference>Final_Motility_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Volume__c</field>
            <value>
                <elementReference>Final_Volume_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Concentration__c</field>
            <value>
                <elementReference>Initial_Concentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Motility__c</field>
            <value>
                <elementReference>Initial_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Volume__c</field>
            <value>
                <elementReference>Initial_Volume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prep_Type__c</field>
            <value>
                <elementReference>PrepType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Analysis_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Sperm_Preparation_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_Performing_Event__c</field>
            <value>
                <elementReference>Scientist2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semen_Sample_ID_Number__c</field>
            <value>
                <elementReference>Lab_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Final_Witness__c</field>
            <value>
                <elementReference>Final_Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Prep_Witness__c</field>
            <value>
                <elementReference>Prep_Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Provider__c</field>
            <value>
                <elementReference>MaleSelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Sample__c</field>
            <value>
                <elementReference>CreatedSemenSampleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source_Donor__c</field>
            <value>
                <elementReference>SpermSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source_Frozen__c</field>
            <value>
                <elementReference>Fresh_or_Frozen_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source_Method__c</field>
            <value>
                <elementReference>SpermSourceMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straws_Thawed__c</field>
            <value>
                <elementReference>Straws_Thawed</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Males</name>
        <label>Get Account Males</label>
        <locationX>816</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Males</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Male__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>467</locationX>
        <locationY>1054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Event_OPU_Prep</name>
        <label>Get Cycle Event OPU Prep</label>
        <locationX>737</locationX>
        <locationY>1060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sperm_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122P0000004Pp0QAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Semen_Samples</name>
        <label>Get Household Semen Samples</label>
        <locationX>1432</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Sperm_Preparation_Cycle_Event_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MaleSelected.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_Straws_Frozen__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Male</name>
        <label>Get  Male</label>
        <locationX>1341</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Male_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Males.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Records</name>
        <label>Get Semen Records</label>
        <locationX>1219</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Historical_Sperm_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSemenSample.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>622</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Event_OPU_Prep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle_0_0_0</name>
        <label>Update Cycle</label>
        <locationX>1749</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Source_of_Sperm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Semen_Sample__c</field>
            <value>
                <elementReference>CreatedSemenSampleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Preparation_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD</name>
        <label>Update Cycle ANZARD</label>
        <locationX>2057</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Medicare_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>SpermCollectionSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SOURCE__c</field>
            <value>
                <elementReference>SpermSourceANZARD</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD_0</name>
        <label>Update Cycle ANZARD</label>
        <locationX>2019</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Medicare_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_QUAL__c</field>
            <value>
                <elementReference>Initial_Concentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>SpermCollectionSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SOURCE__c</field>
            <value>
                <elementReference>SpermSourceANZARD</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Semen_Sample</name>
        <label>Update Semen Sample</label>
        <locationX>1217</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Assign_Semen_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSemenSample.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Concentration__c</field>
            <value>
                <elementReference>Post_Thaw_Concentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Frozen__c</field>
            <value>
                <elementReference>Storage_Date_New_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Medium__c</field>
            <value>
                <elementReference>MediaType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Scientist__c</field>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Number__c</field>
            <value>
                <elementReference>Lab_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Remaining__c</field>
            <value>
                <elementReference>StrawsRemainingAdjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Non_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Non_Progressive_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Progressive_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_For__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Date__c</field>
            <value>
                <elementReference>Storage_Date_New_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location_Lookup__c</field>
            <value>
                <elementReference>StorageLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straw_Size__c</field>
            <value>
                <elementReference>Straw_Size</elementReference>
            </value>
        </inputAssignments>
        <object>Sperm_Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Semen_Sample_0</name>
        <label>Update Semen Sample</label>
        <locationX>1422</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>Assign_Semen_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSemenSample.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Straws_Remaining__c</field>
            <value>
                <elementReference>StrawsRemainingAdjustment</elementReference>
            </value>
        </inputAssignments>
        <object>Sperm_Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Semen_Samples</name>
        <label>Update Semen Samples</label>
        <locationX>1744</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Loop_For_Selected_Semen_Sample</targetReference>
        </connector>
        <inputReference>UpdatedSemenSamples</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Sperm_Preparation_Cycle_Event_0_0</name>
        <label>New Sperm Preparation Cycle Event</label>
        <locationX>795</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_Freeze_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayTextforInsem</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The Doctor&apos;s recommended Insem type for this cycle is {!Get_Cycle_Event_OPU_Prep.Insem_Type__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scientist2_0</name>
            <choiceReferences>Scientist_User_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Users.Id</elementReference>
            </defaultValue>
            <fieldText>Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lab_Number</name>
            <dataType>Number</dataType>
            <fieldText>Lab Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Collection_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </defaultValue>
            <fieldText>Collection Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Analysis_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Analysis Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Prep_Type</name>
            <choiceReferences>PrepType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prep Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayText_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Semen Sample Details:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Sperm_Preparation_Cycle_Event_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Semen_Source</name>
                    <choiceReferences>SpermSource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Semen_Records.Sperm_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Semen Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TypeofSample</name>
                    <choiceReferences>SpermSourceMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Semen_Records.Type_of_Sample__c</elementReference>
                    </defaultValue>
                    <fieldText>Type of Sample</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Male_Name_1</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Male Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>MaleSelected.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Straws_Thawed</name>
            <dataType>Number</dataType>
            <fieldText>Straws Thawed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Frozen_Sperm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yes_More_than_One</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Sperm_Preparation_Cycle_Event_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Volume</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>StrawsTahsedCalc</elementReference>
                    </defaultValue>
                    <fieldText>Initial Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Initial_Concentration</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Semen_Records.Concentration__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Concentration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Initial_Motility</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Semen_Records.Post_Thaw_Total_Motility__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Motility</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prep_Witness</name>
                    <dataType>String</dataType>
                    <fieldText>Prep Witness</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sperm_Preparation_Cycle_Event_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Final_Volume_0_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Final Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Final_Concentration_0_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Final Concentration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Final_Motility_0_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Final Motility</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sperm_Preparation_Cycle_Event_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Final_Witness</name>
                    <dataType>String</dataType>
                    <fieldText>Final Witness</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes_0_0</name>
            <defaultValue>
                <stringValue>{!AllSemenSamples}</stringValue>
            </defaultValue>
            <fieldText>Insem Type After Pre/Other Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Freezetext</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Did you Freeze Excess Sperm?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Yes_No__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FreezeYESNO</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Sperm_Preparation_Cycle_Event_0_0_0</name>
        <label>Use Frozen Sperm</label>
        <locationX>1516</locationX>
        <locationY>1159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Semen_Samples</targetReference>
        </connector>
        <fields>
            <name>DisplayText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Semen Sample Details:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Semen_Samples</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sperm_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Household_Semen_Samples</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Donor_Name__c,Storage_Date__c,Number_of_Straws_Remaining__c,Date_Frozen__c,Reserved_For__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:145, Donor_Name__c:153, Storage_Date__c:157, Number_of_Straws_Remaining__c:190, Date_Frozen__c:126, Reserved_For__c:180</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSemenSample</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedSemenSamples</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_of_Straws_Adjusted</name>
        <label>Number of Straws Adjusted</label>
        <locationX>1874</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Semen_Samples</targetReference>
        </connector>
        <fields>
            <name>DisplayText_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Semen Sample Details:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please edit the number of straws remaining in the selected semen samples. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Semen_Samples_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sperm_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Donor_Name__c,Storage_Date__c,Number_of_Straws_Remaining__c,Date_Frozen__c,Reserved_For__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:145, Donor_Name__c:153, Storage_Date__c:157, Number_of_Straws_Remaining__c:190, Date_Frozen__c:126, Reserved_For__c:180</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SelectedSemenSamples</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Number_of_Straws_Remaining__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedSemenSamples</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Freeze</name>
        <label>Select Freeze</label>
        <locationX>659</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Sperm_Preparation_Cycle_Event_0_0</targetReference>
        </connector>
        <fields>
            <name>Freeze</name>
            <fieldText>&lt;p&gt;You must Select if you want to freeze or not to continue. Press next to return to the previous screen and select the screen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Male</name>
        <label>Select Male</label>
        <locationX>1093</locationX>
        <locationY>1093</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Frozen_Sperm</targetReference>
        </connector>
        <fields>
            <name>ehadetr</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please select the provider of this semen sample.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MaleSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Id__c,Name,Birthdate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Id__c:116, Name:191, Birthdate:191</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllMales</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MaleSelected</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Semen_Freeze_Details</name>
        <label>Semen Freeze Details</label>
        <locationX>794</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Freeze_Event</targetReference>
        </connector>
        <fields>
            <name>Storage_Location</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>StorageLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StorageLocation</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Freeze_Scientist</name>
            <choiceReferences>Scientist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Users.Id</elementReference>
            </defaultValue>
            <fieldText>Freeze Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Straws_Frozen</name>
            <dataType>Number</dataType>
            <fieldText>Number of Straws Frozen</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Straw_Size</name>
            <choiceReferences>StrawSize</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Straw Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Media_Type</name>
            <choiceReferences>MediaType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sage</stringValue>
            </defaultValue>
            <fieldText>Media Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Storage_Type</name>
            <choiceReferences>StorageType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>ART</stringValue>
            </defaultValue>
            <fieldText>Storage Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Thaw_Concentration</name>
            <dataType>Number</dataType>
            <fieldText>Post Thaw Concentration</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Post_Thaw_Progressive_Motility</name>
            <dataType>Number</dataType>
            <fieldText>Post Thaw Progressive Motility</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Post_Thaw_Non_Progressive_Motility</name>
            <dataType>Number</dataType>
            <fieldText>Post Thaw Non-Progressive Motility</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Storage_Date_New_Sample</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Storage Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sperm_Type</name>
        <label>Sperm Type</label>
        <locationX>885</locationX>
        <locationY>1057</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Males</targetReference>
        </connector>
        <fields>
            <name>TypeText</name>
            <fieldText>&lt;p&gt;What type of sample would you like to use?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fresh_or_Frozen_Sample</name>
            <choiceReferences>FreshFrozen</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fresh or Frozen Sample</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1035</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Medicare_Subflow</name>
        <label>Medicare Subflow</label>
        <locationX>2333</locationX>
        <locationY>607</locationY>
        <flowName>Medicare_Subflow_Insem</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>SemenSampleIDs</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_For_Selected_Semen_Sample.Name} -</text>
    </textTemplates>
    <variables>
        <name>AllMales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllSemenSamples</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountSemenSamples</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreatedSemenSampleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FreezeYESNO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MaleSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedDoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDonorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSemenSample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>SelectedSemenSamples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>SemenSampleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StorageLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedSemenSamples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
</Flow>
