force-app/main/default/flows/Create_New_Semen_Sample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_Semen_Sample_Record</name>
        <label>Redirect To Semen Sample Record</label>
        <locationX>1439</locationX>
        <locationY>296</locationY>
        <actionName>c:FlowRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_SemenSample_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:FlowRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>NoneDefault</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Other_Clinic</name>
        <label>Other Clinic?</label>
        <locationX>318</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Patient_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Clinic_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SemenOriginPicklistOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Clinic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Clinic_Infromation</targetReference>
            </connector>
            <label>Other Clinic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sample_for_Freeze_Decision</name>
        <label>Sample for Freeze?</label>
        <locationX>696</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>New_Semen_Sample_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sample_For_Freeze_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SampleforFreezePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freeze_Information</targetReference>
            </connector>
            <label>Sample For Freeze Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TESA_Sample</name>
        <label>TESA Sample?</label>
        <locationX>1224</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Redirect_To_Semen_Sample_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_Sample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aspirate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_Sample</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Biopsy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medicare_Subflow_TESA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Analysis_Scientist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Analyst_Scientist__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Complete_Sample</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complete_Sample__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreezeMedium</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Medium__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SampleforFreezePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_for_Freeze__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Analyst_Scientist__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_User_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SemenScientist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Semen_Sample_Scientists__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpermSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sperm_Source__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageLocations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Location_new__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Type__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Strawsize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Straw_Size__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Sample</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Sample__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Viscosity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Viscosity__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Difficulties_Producing__c</picklistField>
        <picklistObject>Sperm_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OriginFormula</name>
        <dataType>String</dataType>
        <expression>IF({!OtherClinicName}=NULL,&quot;Compass&quot;,{!OtherClinicName})</expression>
    </formulas>
    <interviewLabel>Create New Semen Sample {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Semen Sample</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Semen_Sample_new</name>
        <label>New Semen Sample</label>
        <locationX>850</locationX>
        <locationY>214</locationY>
        <assignRecordIdToReference>var_SemenSample_Record</assignRecordIdToReference>
        <connector>
            <targetReference>DisplayText_Final</targetReference>
        </connector>
        <inputAssignments>
            <field>Abstinence__c</field>
            <value>
                <elementReference>Abstinence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agglutination__c</field>
            <value>
                <elementReference>Agglutination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Date_Time__c</field>
            <value>
                <elementReference>Analysis_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Scientist__c</field>
            <value>
                <elementReference>Scientists_Completing_Analysis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Date_Time__c</field>
            <value>
                <elementReference>Collection_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complete_Sample__c</field>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concentration__c</field>
            <value>
                <elementReference>PostThawConcentration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Frozen__c</field>
            <value>
                <elementReference>Date_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debris__c</field>
            <value>
                <elementReference>Debris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Difficulties_Producing__c</field>
            <value>
                <elementReference>Difficulties_Producing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Owner__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Medium__c</field>
            <value>
                <elementReference>Freeze_Medium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Scientist__c</field>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freeze_Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Number__c</field>
            <value>
                <elementReference>Lab_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lube_Used__c</field>
            <value>
                <elementReference>Lube_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Progressive__c</field>
            <value>
                <elementReference>Non_Progressive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Normal_Morphology__c</field>
            <value>
                <elementReference>Normal_Morphology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Frozen__c</field>
            <value>
                <elementReference>Number_of_Straw_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Straws_Remaining__c</field>
            <value>
                <elementReference>Number_of_Straw_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>OriginFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Smokes__c</field>
            <value>
                <elementReference>Patient_Smokes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Non_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Non_Progressive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Thaw_Progressive_Motility__c</field>
            <value>
                <elementReference>Post_Thaw_Progressive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progressive_Motility__c</field>
            <value>
                <elementReference>Progressive_Motility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_Drugs__c</field>
            <value>
                <elementReference>Recent_Drug_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_Illnes__c</field>
            <value>
                <elementReference>Recent_Illness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Request_Date__c</field>
            <value>
                <elementReference>Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Dr__c</field>
            <value>
                <elementReference>RequestingDr_lookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_For__c</field>
            <value>
                <elementReference>Get_Patient.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_for_Freeze__c</field>
            <value>
                <elementReference>SampleforFreezePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semen_Sample_Scientists_lookup__c</field>
            <value>
                <elementReference>Scientists_Completing_Analysis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Concentration__c</field>
            <value>
                <elementReference>Sperm_Concentration_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Source__c</field>
            <value>
                <elementReference>Sperm_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Date__c</field>
            <value>
                <elementReference>Date_Frozen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location_Lookup__c</field>
            <value>
                <elementReference>SelectedStorageLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Type__c</field>
            <value>
                <elementReference>StorageType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Straw_Size__c</field>
            <value>
                <elementReference>Strawsize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Sample__c</field>
            <value>
                <elementReference>Type_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Viscosity__c</field>
            <value>
                <elementReference>Viscosity_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vitaly_live__c</field>
            <value>
                <elementReference>Vitality_live</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pH__c</field>
            <value>
                <elementReference>pH</elementReference>
            </value>
        </inputAssignments>
        <object>Sperm_Sample__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>178</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Semen_Internal_or_External</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>519</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayText_Final</name>
        <label>DisplayText</label>
        <locationX>1104</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TESA_Sample</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;New Semen Sample created &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://compassfertility--c.documentforce.com/sfc/servlet.shepherd/version/download/0682P000002nnJo?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Freeze_Information</name>
        <label>Freeze Information</label>
        <locationX>965</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Semen_Sample_new</targetReference>
        </connector>
        <fields>
            <name>Freeze_Scientist</name>
            <choiceReferences>Scientist_User_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Freeze Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sperm_Source</name>
            <choiceReferences>SpermSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sperm Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Freeze_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Freeze_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Frozen</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Frozen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Storage_Type</name>
                    <choiceReferences>StorageType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Storage Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PostThawConcentration</name>
                    <dataType>Number</dataType>
                    <fieldText>Post Thaw Concentration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Post_Thaw_Progressive</name>
                    <dataType>Number</dataType>
                    <fieldText>Post Thaw Progressive</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Freeze_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Freeze_Medium</name>
                    <choiceReferences>FreezeMedium</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Freeze Medium</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Straw_Size</name>
                    <choiceReferences>Strawsize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Straw Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Straw_Frozen</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Straws Frozen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Post_Thaw_Non_Progressive</name>
                    <dataType>Number</dataType>
                    <fieldText>Post Thaw Non-Progressive</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Storage_Location</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Storage Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:people</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Allowed_Storage__c=&apos;Sperm&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedStorageLocation</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Freeze_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Freeze_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankSpace</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Clinic_Infromation</name>
        <label>Other Clinic Infromation</label>
        <locationX>326</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Patient_Survey</targetReference>
        </connector>
        <fields>
            <name>OriginText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;This filed will define the origin of the Semen Sample&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherClinicName</name>
            <dataType>String</dataType>
            <fieldText>Other Clinic Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Survey</name>
        <label>Patient Survey</label>
        <locationX>475</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <fields>
            <name>Complete</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Difficulties_Producing</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Difficulties Producing?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lube_Used</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Lube Used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recent_Drug_Use</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Recent Drug Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recent_Illness</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Recent Illness</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Patient_Smokes</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Patient Smokes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Details</name>
        <label>Record Details</label>
        <locationX>572</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sample_for_Freeze_Decision</targetReference>
        </connector>
        <fields>
            <name>Lab_Number</name>
            <dataType>Number</dataType>
            <fieldText>Lab Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Type_of_Sample</name>
            <choiceReferences>Type_Sample</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Sample</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Abstinence</name>
            <dataType>Number</dataType>
            <fieldText>Abstinence</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Days of Abstinence&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scientists_Completing_Analysis</name>
            <choiceReferences>Scientist_User_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Scientists Completing Analysis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RequestingDr_lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requesting Dr</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Request_Date</name>
            <dataType>Date</dataType>
            <fieldText>Request Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Collection_Detail</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Collection Detail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Analysis_Details</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Analysis Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Record_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Viscosity_Picklist</name>
                    <choiceReferences>Viscosity</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Viscosity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>pH</name>
                    <dataType>Number</dataType>
                    <fieldText>pH</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Metric measurement = mL&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Sperm_Concentration_field</name>
                    <dataType>Number</dataType>
                    <fieldText>Sperm Concentration</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Metric measurement = million/mL&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Progressive_Motility</name>
                    <dataType>Number</dataType>
                    <fieldText>Progressive Motility</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Value in %&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Non_Progressive</name>
                    <dataType>Number</dataType>
                    <fieldText>Non-Progressive</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Value in %&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Normal_Morphology</name>
                    <dataType>Number</dataType>
                    <fieldText>Normal Morphology</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Vitality_live</name>
                    <dataType>Number</dataType>
                    <fieldText>Vitality (live)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Agglutination</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Agglutination</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Debris</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Debris</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sample_for_Freeze</name>
            <choiceReferences>SampleforFreezePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Sample for Freeze</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;You can come back later and finish&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Semen_Internal_or_External</name>
        <label>Semen Internal or External?</label>
        <locationX>173</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_Clinic</targetReference>
        </connector>
        <fields>
            <name>SemenTExt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(86, 86, 86); font-size: 16px;&quot;&gt;Was this sample collected at Compass or brought in?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Semen_Origin</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Origin_Picklist__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SemenOriginPicklistOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Semen_Internal_or_External_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Semen_Internal_or_External_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origin_v2</name>
                    <dataType>String</dataType>
                    <fieldText>Origin</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SemenOriginPicklistOutput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other Clinic</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Medicare_Subflow_TESA</name>
        <label>Medicare Subflow TESA</label>
        <locationX>1224</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Redirect_To_Semen_Sample_Record</targetReference>
        </connector>
        <flowName>Medicare_Subflow_TESA</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_SemenSample_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CreateSemenSample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requesting_DR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Doctor__c</objectType>
    </variables>
    <variables>
        <name>SelectedStorageLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenOriginPicklistOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SemenSample</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>var_SemenSample_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
