force-app/main/default/flows/Create_Cycle_Steps_From_Protocol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>795</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>AllCycleSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleStepVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_All_Tests</name>
        <label>Add To All Tests</label>
        <locationX>818</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>AllStepTests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleStepTestVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Steps_for_Update</name>
        <label>All Steps for Update</label>
        <locationX>640</locationX>
        <locationY>3392</locationY>
        <assignmentItems>
            <assignToReference>AllStepsforUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Updated_Steps_for_Edit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updated_Steps_for_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Medication_Templates</name>
        <label>Assign All Medication Templates</label>
        <locationX>1419</locationX>
        <locationY>2272</locationY>
        <assignmentItems>
            <assignToReference>AllMedicationTemplates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Medication_Templates.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllMedicationTemplates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddGenericTemplates.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Medications</name>
        <label>Assign Cycle Medications</label>
        <locationX>1550</locationX>
        <locationY>2550</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Master_Medication_List__r.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Master_Medication_List__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Prescribed_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Prescribed_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Related_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_For_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Step</name>
        <label>Assign Cycle Step</label>
        <locationX>850</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>CycleStepVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Cycle_Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Step_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Step_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Step_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Step_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Day_of_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Day_of_Step__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepVar.Expected_Paramaters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Steps.Expected_Parameters__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Step_Test</name>
        <label>Assign Cycle Step Test</label>
        <locationX>1039</locationX>
        <locationY>1821</locationY>
        <assignmentItems>
            <assignToReference>CycleStepTestVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tests.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepTestVar.Level_Greater_Than__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tests.Level_Greater_Than__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepTestVar.Level_Less_Than__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tests.Level_Less_Than__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleStepTestVar.Cycle_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Steps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_All_Tests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icone</name>
        <label>Assign Icone</label>
        <locationX>502</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:branch_merge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:activations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Protocol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Protocol</name>
        <label>Assign Protocol</label>
        <locationX>341</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>SelectedProtocol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocol_Table.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_For_Create</name>
        <label>Assign to All For Create</label>
        <locationX>1724</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>AllCycleMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleMedicationVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Medications_for_Create</name>
        <label>Assign to All Medications for Create</label>
        <locationX>1576</locationX>
        <locationY>2128</locationY>
        <assignmentItems>
            <assignToReference>AllMedicationTemplateItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Medications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Meds</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Protocols</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Protocols</label>
        <locationX>603</locationX>
        <locationY>517</locationY>
        <assignNextValueToReference>currentItem_Filter_Protocols</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Protocols</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Protocols.Applicable_Cycle_Types__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Cycle.RecordType.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Protocol</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Additional_Steps</name>
        <label>Additional Steps?</label>
        <locationX>376</locationX>
        <locationY>2960</locationY>
        <defaultConnector>
            <targetReference>Loop_Updated_Steps_for_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Add_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddSteps.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Additional Steps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Step</targetReference>
            </connector>
            <label>yes Add Steps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit</name>
        <label>Edit?</label>
        <locationX>596</locationX>
        <locationY>2744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Protocol.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Protocol</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StepEdit</targetReference>
            </connector>
            <label>Yes edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip</name>
        <label>Skip?</label>
        <locationX>1314</locationX>
        <locationY>2377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dont_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipAdding.value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_All_Medication_Templates</targetReference>
            </connector>
            <label>Dont Skip</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MedicationName</name>
        <dataType>String</dataType>
        <expression>{!Loop_Items.Master_Medication_List__r.Name}&amp;&quot; - &quot;&amp;{!Get_Cycle.Contact.LastName}</expression>
    </formulas>
    <interviewLabel>Create Cycle Steps From Protocol {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cycle Steps From Protocol</label>
    <loops>
        <name>Loop_Created_Steps</name>
        <label>Loop Created Steps</label>
        <locationX>596</locationX>
        <locationY>1548</locationY>
        <collectionReference>Get_Cycle_Created_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Protocol_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Step_Tests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Items</name>
        <label>Loop Items</label>
        <locationX>1548</locationX>
        <locationY>2421</locationY>
        <collectionReference>AllMedicationTemplateItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cycle_Medications</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Steps</name>
        <label>Loop Steps</label>
        <locationX>596</locationX>
        <locationY>872</locationY>
        <collectionReference>Get_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cycle_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cycle_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tests</name>
        <label>Loop Tests</label>
        <locationX>814</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Tests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cycle_Step_Test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Created_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Meds</name>
        <label>Loop to Get Meds</label>
        <locationX>1554</locationX>
        <locationY>2269</locationY>
        <collectionReference>AllMedicationTemplates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Medications</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Updated_Steps_for_Edit</name>
        <label>Loop Updated Steps for Edit</label>
        <locationX>552</locationX>
        <locationY>3068</locationY>
        <collectionReference>UpdatedSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Step_Tests</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Medications</name>
        <label>Create Cycle Medications</label>
        <locationX>1395</locationX>
        <locationY>2468</locationY>
        <inputReference>AllCycleMedications</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Steps</name>
        <label>Create Cycle Steps</label>
        <locationX>596</locationX>
        <locationY>1280</locationY>
        <connector>
            <targetReference>Get_Cycle_Created_Steps</targetReference>
        </connector>
        <inputReference>AllCycleSteps</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Step_Tests</name>
        <label>Create Step Tests</label>
        <locationX>686</locationX>
        <locationY>2276</locationY>
        <connector>
            <targetReference>Get_Final_Created_Steps</targetReference>
        </connector>
        <inputReference>AllStepTests</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Medications</name>
        <label>Get All Medications</label>
        <locationX>1659</locationX>
        <locationY>2268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Medications_for_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_Get_Meds.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>605</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Protocols</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Created_Steps</name>
        <label>Get Cycle Created Steps</label>
        <locationX>596</locationX>
        <locationY>1388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Created_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <sortField>Day_of_Step__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Created_Steps</name>
        <label>Get Final Created Steps</label>
        <locationX>821</locationX>
        <locationY>2275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medication_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <sortField>Day_of_Step__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Med_Templates</name>
        <label>Get Generic Med Templates</label>
        <locationX>1135</locationX>
        <locationY>2273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Medication_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Protocol__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medication</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_Templates</name>
        <label>Get Medication Templates</label>
        <locationX>1000</locationX>
        <locationY>2274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Generic_Med_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Protocol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Protocol_Table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Protocol_Step</name>
        <label>Get Protocol Step</label>
        <locationX>1099</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Created_Steps.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Protocol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProtocol.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Protocol_Steps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Protocols</name>
        <label>Get Protocols</label>
        <locationX>607</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Protocols</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Protocol__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_Tests</name>
        <label>Get Step Tests</label>
        <locationX>640</locationX>
        <locationY>3176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Updated_Steps_for_Edit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps</name>
        <label>Get Steps</label>
        <locationX>682</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Protocol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Protocol_Table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Protocol_Steps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tests</name>
        <label>Get Tests</label>
        <locationX>1094</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Protocol_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Protocol_Step.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Protocol_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>530</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Get_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Linked_Protocol__c</field>
            <value>
                <elementReference>Protocol_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Steps</name>
        <label>Update Steps</label>
        <locationX>552</locationX>
        <locationY>3584</locationY>
        <inputReference>AllStepsforUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Protocol</name>
        <label>Edit Protocol</label>
        <locationX>521</locationX>
        <locationY>2673</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit</targetReference>
        </connector>
        <fields>
            <name>Protocol</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Accept Default Protocol&quot;,&quot;value&quot;:&quot;Accept the default protocol settings.&quot;},{&quot;label&quot;:&quot;Edit Protocol&quot;,&quot;value&quot;:&quot;Edit the protocol to add addition tests and change expected result parameters. &quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Medication_Templates</name>
        <label>Select Medication Templates</label>
        <locationX>1240</locationX>
        <locationY>2271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Skip</targetReference>
        </connector>
        <fields>
            <name>SkipAdding</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Skip adding Meds&quot;,&quot;value&quot;:&quot;Skip adding Meds&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Medication_Templates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>System_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Medication Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medication_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-41ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;System Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-594c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-2b2d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddGenericTemplates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>System_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Generic Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Generic_Med_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ffda&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;System Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-a4c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Protocol</name>
        <label>Select Protocol</label>
        <locationX>479</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Protocol</targetReference>
        </connector>
        <fields>
            <name>Protocol_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Protocol__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Protocols</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Protocols</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-acd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Protocol Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-d002&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StepEdit</name>
        <label>StepEdit</label>
        <locationX>376</locationX>
        <locationY>2852</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Steps</targetReference>
        </connector>
        <fields>
            <name>Protocol_Steps</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Step__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Step__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_of_Step__c,Cycle_Step_Type__c,Expected_Paramaters__c,Tests_To_Be_Undertaken__c,Step_Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:223, Day_of_Step__c:112, Cycle_Step_Type__c:135, Expected_Paramaters__c:177, Tests_To_Be_Undertaken__c:216, Step_Notes__c:344</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Final_Created_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, Day_of_Step__c:false, Cycle_Step_Type__c:true, Expected_Paramaters__c:true, Tests_To_Be_Undertaken__c:false, Step_Notes__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedSteps</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AddSteps</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Additional Steps&quot;,&quot;value&quot;:&quot;Add Additional Steps&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>640</locationX>
        <locationY>3284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_Steps_for_Update</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Updated_Steps_for_Edit.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Updated_Steps_for_Edit.Cycle_Step_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Updated_Steps_for_Edit.Step_Notes__c</objectFieldReference>
        </fields>
        <fields>
            <name>Tests</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Step_Test__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Step Tests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Step_Tests</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9581&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Cycle Step Test Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Level_Greater_Than__c&quot;,&quot;guid&quot;:&quot;column-b2f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Level Greater Than&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Level_Less_Than__c&quot;,&quot;guid&quot;:&quot;column-e788&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Level Less Than&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddExtraTest</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Additional Tests&quot;,&quot;value&quot;:&quot;Add Additional Tests&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Step</name>
        <label>Add Step</label>
        <locationX>200</locationX>
        <locationY>3068</locationY>
        <flowName>Add_Cycle_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>AllCycleSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
    <variables>
        <name>AllMedicationTemplateItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
    <variables>
        <name>AllMedicationTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>System_Template__c</objectType>
    </variables>
    <variables>
        <name>AllSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Protocol_Steps__c</objectType>
    </variables>
    <variables>
        <name>AllStepsforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
    <variables>
        <name>AllStepTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step_Test__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Protocols</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Protocol__c</objectType>
    </variables>
    <variables>
        <name>CycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CycleMedicationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>CycleStepTestVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step_Test__c</objectType>
    </variables>
    <variables>
        <name>CycleStepVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProtocol</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Protocol__c</objectType>
    </variables>
    <variables>
        <name>UpdatedSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
</Flow>
