force-app/main/default/flows/Create_Embryo_Thaw_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Cycle_Embryo_Event_Data</name>
        <label>Assign Cycle Embryo Event Data</label>
        <locationX>881</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>CycleEmbryoEventVar.Embryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Embryos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEmbryoEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Cycle_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Data</name>
        <label>Assign Embryo Data</label>
        <locationX>996</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Survivability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survivability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Post_Thaw_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Thaw_Assessment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Embryo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fate_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.PGT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_For_PGT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Related_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Thaw_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientist_Performing_Warm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Embryos.Thaw_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateOfWarm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Cycle_Events</name>
        <label>Assign to All Cycle Events</label>
        <locationX>800</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>AllCycleEventVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleEmbryoEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PGT_Embryo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1025</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cycle_Embryo_Event_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Embryos_Thawed</name>
        <label>Count of Embryos Thawed</label>
        <locationX>225</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>CountofEmbryos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedEmbryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Over</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_PGT_Embryos</name>
        <label>Count PGT Embryos</label>
        <locationX>565</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>PGTEmbryoCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PGTReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Embryos.PGT_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Semen_Data_no_Present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lab_Only_Cycle</name>
        <label>Lab Only Cycle?</label>
        <locationX>205</locationX>
        <locationY>1475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lab_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TARFO Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_0</targetReference>
            </connector>
            <label>Lab Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>PGT_Embryo</name>
        <label>PGT Embryo?</label>
        <locationX>679</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Semen_Data_no_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Embryos.PGT_Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_PGT_Embryos</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Semen_Data_no_Present</name>
        <label>Semen Data no Present</label>
        <locationX>464</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>Update_Cycle_ANZ_Sperm_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Embryos.Sperm_Sample__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Selected_Embryos.Sperm_Sample__r.Type_of_Sample__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Selected_Embryos.Sperm_Sample__r.Sperm_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cyce_ANZARD_Data</targetReference>
            </connector>
            <label>No Data</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Embryo_Status__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PostThaw</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Post_Thaw_Other__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ANZARDSOurce</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_Selected_Embryos.Sperm_Sample__r.Sperm_Source__c}) = &quot;partner&quot;, &quot;1= A male intending parent&quot;, &quot;2= A sperm donor outside of the intending parents&quot;)</expression>
    </formulas>
    <formulas>
        <name>ANZARDSPSite</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_Selected_Embryos.Sperm_Sample__r.Type_of_Sample__c}) = &quot;Ejaculate&quot;, &quot;e&quot;, 
   IF(TEXT({!Loop_Selected_Embryos.Sperm_Sample__r.Type_of_Sample__c}) = &quot;Aspirate&quot;, &quot;p&quot;, 
      IF(TEXT({!Loop_Selected_Embryos.Sperm_Sample__r.Type_of_Sample__c}) = &quot;Retrograde&quot;, &quot;O&quot;, 
         IF(TEXT({!Loop_Selected_Embryos.Sperm_Sample__r.Type_of_Sample__c}) = &quot;Open Biopsy&quot;, &quot;t&quot;, &quot;u&quot;)
      )
   )
)</expression>
    </formulas>
    <formulas>
        <name>DateOfWarm</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Warm_Date_and_Time})</expression>
    </formulas>
    <interviewLabel>Create Embryo Thaw Cycle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Embryo Thaw Cycle Event</label>
    <loops>
        <name>Loop_Selected_Embryos</name>
        <label>Loop Selected Embryos</label>
        <locationX>391</locationX>
        <locationY>766</locationY>
        <collectionReference>SelectedEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ANZARD_Cycle_Data_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>177</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <inputReference>AllCycleEventVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Cycle_Event</name>
        <label>Cycle Event</label>
        <locationX>213</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_ANZARD_Cycle_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Embryos_Thawed__c</field>
            <value>
                <elementReference>CountofEmbryos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Embryos_With_PGT_Thawed__c</field>
            <value>
                <elementReference>PGTEmbryoCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Warm_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Embryo_Thawing_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_lookup__c</field>
            <value>
                <elementReference>Scientist_Performing_Warm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>208</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OPU_Prep_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>207</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ET_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ET_Event</name>
        <label>Get ET Event</label>
        <locationX>309</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FET</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OPU_Prep_Event</name>
        <label>Get OPU Prep Event</label>
        <locationX>334</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122P0000004Pp0QAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>209</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Embryo_Thaw_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ANZARD_Cycle_Data</name>
        <label>Update ANZARD Cycle Data</label>
        <locationX>213</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Lab_Only_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_PGT_TH__c</field>
            <value>
                <elementReference>PGTEmbryoCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_V_BLTH__c</field>
            <value>
                <elementReference>CountofEmbryos</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ANZARD_Cycle_Data_0</name>
        <label>Update ANZARD Cycle Data</label>
        <locationX>527</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Embryo_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DON_AGE__c</field>
            <value>
                <elementReference>Loop_Selected_Embryos.Age_at_Embryo_Creation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FDAT_EMB__c</field>
            <value>
                <elementReference>Loop_Selected_Embryos.Storage_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGT_REASON__c</field>
            <value>
                <elementReference>Loop_Selected_Embryos.PGT_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>210</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Cycle_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Egg_Thawing_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGT_REASON__c</field>
            <value>
                <elementReference>PGTReason</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_0</name>
        <label>Update Cycle</label>
        <locationX>116</locationX>
        <locationY>1585</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_1__c</field>
            <value>
                <elementReference>DateOfWarm</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZ_Sperm</name>
        <label>Update Cycle ANZ Sperm</label>
        <locationX>325</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Loop_Selected_Embryos</targetReference>
        </connector>
        <inputReference>Get_Cycle</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZ_Sperm_0</name>
        <label>Update Cycle ANZ Sperm</label>
        <locationX>461</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Loop_Selected_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>ANZARDSPSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SOURCE__c</field>
            <value>
                <elementReference>ANZARDSOurce</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>211</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputReference>UpdatedEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Embryo_Detail</name>
        <label>Embryo Detail</label>
        <locationX>752</locationX>
        <locationY>735</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Embryo_Data</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;Enter the Survivability for the selected embryo below:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Selected_Embryos.Embryo_Number__c} - {!Loop_Selected_Embryos.Storage_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Survivability</name>
            <dataType>Number</dataType>
            <fieldText>Survivability</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Post_Thaw_Assessment</name>
            <choiceReferences>PostThaw</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Collapsed</stringValue>
            </defaultValue>
            <fieldText>Post Thaw Assessment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fate_Picklist</name>
            <choiceReferences>Fate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Embryo_For_PGT</name>
            <dataType>Boolean</dataType>
            <fieldText>Embryo For PGT? (must be selected in addition to fate change if required)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embryo_Thaw_Event</name>
        <label>Embryo Thaw Event</label>
        <locationX>210</locationX>
        <locationY>594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Embryos</targetReference>
        </connector>
        <fields>
            <name>Patdet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Cycle.Flow_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Doctor ET Number:{!Get_Cycle.Number_of_Embryos_for_Transfer__c} Patient ET Number: {!Get_OPU_Prep_Event.Patient_ET_Number_as_Text_Digit_format__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Thaw Date Time: {!Get_OPU_Prep_Event.Date_and_Time_of_Thaw__c} ET Date Time: {!Get_ET_Event.ActivityDateTime} Thaw Instructions (Call Patient After): {!Get_OPU_Prep_Event.Thaw_Instructions__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_OPU_Prep_Event.Embryo_Source__c</objectFieldReference>
        </fields>
        <fields>
            <name>PGT_Thaw_Instructions</name>
            <fieldText>PGT Thaw Instructions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PGT_Thaw_Instructions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_OPU_Prep_Event.PGT_Thaw_Instructions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_OPU_Prep_Event.PGT_Thaw_Instructions__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Warm_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Warm Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scientist_Performing_Warm</name>
            <choiceReferences>Scientist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Scientist Performing Warm</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cycle_Day</name>
            <dataType>Number</dataType>
            <fieldText>Cycle Day</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embryos</name>
        <label>Embryos</label>
        <locationX>51</locationX>
        <locationY>739</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_Embryos_Thawed</targetReference>
        </connector>
        <fields>
            <name>SelectedEmbryos_Text</name>
            <fieldText>&lt;p&gt;Please select the embryos you would like to thaw. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmbryosDisplayTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryo__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Embryo_Status__c:true, Survivability__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Embryo_Auto_Number_Display__c,Storage_Date__c,Cycle_Day__c,Cell_Number__c,Fragmentation__c,Grading__c,Other__c,PGT_Result__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:191, Embryo_Auto_Number_Display__c:69, Storage_Date__c:191, Cycle_Day__c:96, Cell_Number__c:140, Fragmentation__c:140, Grading__c:140, Other__c:140, PGT_Result__c:163</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:E#</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedEmbryos</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Cyce_ANZARD_Data</name>
        <label>Update Cycle ANZARD Data</label>
        <locationX>331</locationX>
        <locationY>1131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Cycle_ANZ_Sperm</targetReference>
        </connector>
        <fields>
            <name>ANZARDSEMEN</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It looks like we don&apos;t have a sperm sample associated with this embryo. You will need to specify the semen source for ANZARD.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Cycle.SP_SITE__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Cycle.SP_SOURCE__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>82</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Change_Over</name>
        <label>Change Over</label>
        <locationX>320</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Loop_Selected_Embryos</targetReference>
        </connector>
        <flowName>Create_Change_Over_Event</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllCycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CountofEmbryos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CycleEmbryoEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>PGTEmbryoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PGTReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEmbryo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>SelectedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
</Flow>
