force-app/main/default/flows/Create_OPU_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Egg_Count</name>
        <label>Assign Egg Count</label>
        <locationX>854</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>EggCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Count_Greater_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Event</name>
        <label>Assign Egg Event</label>
        <locationX>1557</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>EggEvent.Egg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggEvent.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Egg_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Egg_Events</name>
        <label>Assign to All Egg Events</label>
        <locationX>1552</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>AllEggEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EggEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Egg_Collection</name>
        <label>Assign to Egg Collection</label>
        <locationX>940</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatedEgg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reduce_Eggs_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Egg</name>
        <label>Create Egg</label>
        <locationX>1147</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>CreatedEgg.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedEgg.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedEggCohortId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedEgg.Age_of_Egg_at_OPU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedEgg.OPU_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPU_Scientist_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedEgg.Cycle_Egg_Collected_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Egg_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Procedure_Date_and_Time</name>
        <label>Procedure Date and Time</label>
        <locationX>1663</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>ProceedureDateandTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EPU_Medicare_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_Eggs_by_1</name>
        <label>Reduce Eggs by 1</label>
        <locationX>941</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>EggCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Count_Greater_than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Egg_Count_Greater_than_0</name>
        <label>Egg Count Greater than 0</label>
        <locationX>1048</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Create_Egg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EggCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Eggs_Collected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Eggs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Location_From_Event</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Location__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcedureLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Procedure_Location__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ScientistChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EggName</name>
        <dataType>String</dataType>
        <expression>&quot;Egg - &quot;&amp;TEXT({!EggCount})</expression>
    </formulas>
    <formulas>
        <name>EstimatedTransferDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Procedure_Date_Time})+5</expression>
    </formulas>
    <formulas>
        <name>ProceedureDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Procedure_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>TransferName</name>
        <dataType>String</dataType>
        <expression>&apos;Transfer - &apos;&amp;{!Get_Cycle.Contact.LastName}</expression>
    </formulas>
    <interviewLabel>Create OPU Cycle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OPU Cycle Event</label>
    <loops>
        <name>Loop_Eggs</name>
        <label>Loop Eggs</label>
        <locationX>1416</locationX>
        <locationY>591</locationY>
        <collectionReference>UpdatedEggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Egg_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Egg_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Egg_Cohort</name>
        <label>Create Egg Cohort</label>
        <locationX>842</locationX>
        <locationY>339</locationY>
        <assignRecordIdToReference>CreatedEggCohortId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Egg_Count</targetReference>
        </connector>
        <inputAssignments>
            <field>Age_Of_Egg_Provider_at_OPU__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Owner__c</field>
            <value>
                <elementReference>Get_Cycle.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eggs_Collected__c</field>
            <value>
                <elementReference>Eggs_Collected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_for__c</field>
            <value>
                <elementReference>Get_Cycle.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Egg_Sample__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Events</name>
        <label>Create Egg Events</label>
        <locationX>1337</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>Create_OPU_Cycle_Event</targetReference>
        </connector>
        <inputReference>AllEggEvents</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Eggs</name>
        <label>Create Eggs</label>
        <locationX>1268</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Loop_Eggs</targetReference>
        </connector>
        <inputReference>UpdatedEggs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OPU_Cycle_Event</name>
        <label>Create OPU Cycle Event</label>
        <locationX>1266</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Update_Cycle_with_Egg_Cohort</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor_Lookup__c</field>
            <value>
                <elementReference>SelectedDoctorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>CreatedEggCohortId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eggs_Collected__c</field>
            <value>
                <elementReference>Eggs_Collected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needle_Batch_Number__c</field>
            <value>
                <elementReference>Needle_Batch_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_Scientist__c</field>
            <value>
                <elementReference>OPU_Scientist_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Location__c</field>
            <value>
                <elementReference>Procedure_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date_Time__c</field>
            <value>
                <elementReference>Scheduled_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>25</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EPU_Schedule_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EPU_Schedule_Event</name>
        <label>Get EPU Schedule Event</label>
        <locationX>164</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OPU_Cycle_Prep_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OPU_Cycle_Prep_Event</name>
        <label>Get OPU Cycle Prep Event</label>
        <locationX>387</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_Preparation_Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>544</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ANZARD_Cycle_Update</name>
        <label>ANZARD Cycle Update</label>
        <locationX>1533</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Procedure_Date_and_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IVM__c</field>
            <value>
                <stringValue>1 = No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_EGGS__c</field>
            <value>
                <elementReference>Eggs_Collected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_DATE__c</field>
            <value>
                <elementReference>ProceedureDateOnly</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_with_Egg_Cohort</name>
        <label>Update Cycle with Egg Cohort and ANZARD</label>
        <locationX>1411</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>ANZARD_Cycle_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>CreatedEggCohortId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVM__c</field>
            <value>
                <stringValue>1 = No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_EGGS__c</field>
            <value>
                <elementReference>Eggs_Collected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_DATE__c</field>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>New_OPU_Cycle_Event</name>
        <label>New OPU Cycle Event</label>
        <locationX>700</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Egg_Cohort</targetReference>
        </connector>
        <fields>
            <name>PatID</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Cycle.Flow_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OPU_Details</name>
            <fieldText>&lt;p&gt;Eggs Expected: &lt;b&gt;{!Get_OPU_Cycle_Prep_Event.Number_of_Eggs_Expected__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Insemination Type: &lt;b&gt;{!Get_OPU_Cycle_Prep_Event.Insem_Type__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eggs_Collected</name>
            <dataType>Number</dataType>
            <fieldText># Eggs Collected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>New_OPU_Cycle_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_OPU_Cycle_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Procedure_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Procedure Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_OPU_Cycle_Event_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_EPU_Schedule_Event.StartDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_OPU_Cycle_Event_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_OPU_Cycle_Event_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Doctor</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Doctor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Get_EPU_Schedule_Event.Assigned_Doctor__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>OPU Doctor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:people</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedDoctorId</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_OPU_Cycle_Event_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OPU_Scientist_Picklist</name>
                    <choiceReferences>Scientist_User</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>OPU Scientist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Procedure_Location</name>
            <choiceReferences>Location_From_Event</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_EPU_Schedule_Event.Procedure_Location__c</elementReference>
            </defaultValue>
            <fieldText>Procedure Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Needle_Batch_Number</name>
            <dataType>String</dataType>
            <fieldText>Needle Batch Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>EPU_Medicare_Subflow</name>
        <label>EPU Medicare Subflow</label>
        <locationX>1801</locationX>
        <locationY>230</locationY>
        <flowName>Medicare_Subflow_EPU</flowName>
        <inputAssignments>
            <name>DateofService</name>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllEggEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CreatedEgg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>CreatedEggCohortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>ProceedureDateandTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProceedurelocationfromEPUData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScheduledDateandTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
</Flow>
