force-app/main/default/flows/Create_Transfer_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Semen_Booking</name>
        <label>Redirect to Semen Booking</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>URLforSemenBooking</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Transfer_Event_Exists</name>
        <label>Transfer Event Exists</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Book_Transfer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transfer_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Event Exists</label>
        </rules>
        <rules>
            <name>IUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Transfer_Screen_0</targetReference>
            </connector>
            <label>IUI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_Book_Semen</name>
        <label>Want to Book Semen</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesNovar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Semen_Booking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IUIName</name>
        <dataType>String</dataType>
        <expression>&quot;IUI - &quot;&amp;{!Get_Cycle.Contact.FirstName}&amp;&quot; &quot;&amp;{!Get_Cycle.Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>TransferDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_EPU_Event.ActivityDate}+5</expression>
    </formulas>
    <formulas>
        <name>TransferName</name>
        <dataType>String</dataType>
        <expression>{!Get_Doctor.Compass_Doctor_Code__c}&amp;&quot;TFR- &quot;&amp;{!Get_Cycle.Contact.FirstName}&amp;&quot; &quot;&amp;{!Get_Cycle.Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>URLforSemenBooking</name>
        <dataType>String</dataType>
        <expression>&quot;https://compassfert.force.com/s/onlinescheduler?processId=a389o000000008GAAQ&quot;&amp;&quot;&amp;clientId=&quot;&amp;{!Get_Cycle.Contact.Partner__r.Id}&amp;&quot;&amp;relatedId=&quot;&amp;{!Get_Cycle.Id}</expression>
    </formulas>
    <interviewLabel>Create Transfer Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Transfer Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_IUI_Event</name>
        <label>Create IUI Event</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Book_Semen</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_Type__c</field>
            <value>
                <stringValue>Proceedure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Doctor__c</field>
            <value>
                <elementReference>Doctor.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Procedure_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Location__c</field>
            <value>
                <stringValue>Compass Fertility</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Types__c</field>
            <value>
                <stringValue>IUI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Date_and_Time_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>IUIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transfer_Event</name>
        <label>Create Transfer Event</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Appointment_Type__c</field>
            <value>
                <stringValue>Proceedure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Doctor__c</field>
            <value>
                <elementReference>Doctor.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Procedure_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Location__c</field>
            <value>
                <stringValue>Compass Fertility</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Types__c</field>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Transfer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EPU_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctor</name>
        <label>Get Doctor</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transfer_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Doctor.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EPU_Event</name>
        <label>Get EPU Event</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transfer_Event</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transfer_Event</name>
        <label>Get Transfer Event</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Event_Exists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Book_Semen</name>
        <label>Book Semen</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_to_Book_Semen</targetReference>
        </connector>
        <fields>
            <name>BookSemen</name>
            <fieldText>&lt;p&gt;You you also want to book a semen collection appointment? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesNo</name>
            <extensionName>c:YesNoPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>YesNovar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>YesNovar</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Book_Transfer_Screen</name>
        <label>Book Transfer Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Doctor</targetReference>
        </connector>
        <fields>
            <name>Transfer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TransferName</elementReference>
            </defaultValue>
            <fieldText>Transfer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TransferDate</elementReference>
            </defaultValue>
            <fieldText>Date and Time Of Transfer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Doctor</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Get_Cycle.Doctor_Initiating_Cycle__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Doctor Performing Transfer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Book Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Book_Transfer_Screen_0</name>
        <label>Book Transfer Screen</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_IUI_Event</targetReference>
        </connector>
        <fields>
            <name>Transfer_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IUIName</elementReference>
            </defaultValue>
            <fieldText>IUI Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_and_Time_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TransferDate</elementReference>
            </defaultValue>
            <fieldText>Date and Time Of IUI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Doctor_Text</name>
            <fieldText>&lt;p&gt;Doctor is not required to save this record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Doctor_0</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Doctor Performing Transfer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Book IUI</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EventText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Whoops a transfer event already exists on this cycle. Please check record thoroughly before creating events. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNovar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
