force-app/main/default/flows/Cycle_Day_Update_Medications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit</name>
        <label>Commit</label>
        <locationX>1254</locationX>
        <locationY>1550</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Day_Events</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Blank_Medications</name>
        <label>Blank Medications</label>
        <locationX>1254</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>AllMedicationsandDosages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Medication_Assignment</name>
        <label>Medication Assignment</label>
        <locationX>1606</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllMedicationsandDosages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMedicationandDosage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Day_Even</name>
        <label>Is Day Even</label>
        <locationX>1738</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_is_Odd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OddEven</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ODD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medication_Assignment</targetReference>
            </connector>
            <label>Day is Odd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Start_Day_of_Cycle_Event</name>
        <label>Is Start Day of Cycle Event?</label>
        <locationX>1540</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_Day_Even</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Medications.Medication_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Medication_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regime_Type</name>
        <label>Regime Type</label>
        <locationX>1793</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Medication_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once every two days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Start_Day_of_Cycle_Event</targetReference>
            </connector>
            <label>Not Daily</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysBetweenDates</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Medications.Medication_Start_Date__c}-{!Loop_Day_Events.Cycle_Day_Date__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Dosage</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Loop_Medications.Regime__c}) = &quot;Twice a Day&quot;,
    TEXT({!Loop_Medications.Dosage__c} * 2),
    IF(
        TEXT({!Loop_Medications.Regime__c}) = &quot;Three Times a Day&quot;,
        TEXT({!Loop_Medications.Dosage__c} * 3),
        TEXT({!Loop_Medications.Dosage__c})
    )
) &amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>OddEven</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!DaysBetweenDates}, 2) = 0, &apos;EVEN&apos; , &apos;ODD&apos;)</expression>
    </formulas>
    <interviewLabel>Cycle Day Update Medications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cycle Day Update Medications</label>
    <loops>
        <name>Loop_Day_Events</name>
        <label>Loop Day Events</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Cycle_Day_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Medications</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Medications</name>
        <label>Loop Medications</label>
        <locationX>1254</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Regime_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Day_Cycle_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle_Day_Events</name>
        <label>Get Cycle Day Events</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Day_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>1254</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Day_Events.Cycle_Day_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Day_Events.Cycle_Day_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Day_Cycle_Event</name>
        <label>Update Day Cycle Event</label>
        <locationX>1254</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Blank_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Day_Events.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medications__c</field>
            <value>
                <elementReference>AllMedicationsandDosages</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Day_Events__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Day_Events</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>SingleMedicationandDosage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Medications.Medication__r.Name} - {!Dosage}</text>
    </textTemplates>
    <variables>
        <name>AllMedicationsandDosages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BlankVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
