force-app/main/default/flows/Cycle_Date_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>EPU_Count</name>
        <label>EPU Count</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EPUCOUNT</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_EPU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Calculation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CeaseLeadInLong</name>
        <dataType>Date</dataType>
        <expression>{!LongDay1Date}-2</expression>
    </formulas>
    <formulas>
        <name>CeaseLeadInShort</name>
        <dataType>Date</dataType>
        <expression>{!ShortDay1}-2</expression>
    </formulas>
    <formulas>
        <name>FirstDayFSHShort</name>
        <dataType>Date</dataType>
        <expression>{!When_would_you_like_to_set_the_EPU}-{!Days_on_FSH}-1</expression>
    </formulas>
    <formulas>
        <name>FirstDayofFSHLong</name>
        <dataType>Date</dataType>
        <expression>{!When_would_you_like_to_set_the_EPU}-{!Days_on_FSH}-1</expression>
    </formulas>
    <formulas>
        <name>LongDay1Date</name>
        <dataType>Date</dataType>
        <expression>{!TriggerDateLong}-{!Days_on_FSH}-3</expression>
    </formulas>
    <formulas>
        <name>ShortDay1</name>
        <dataType>Date</dataType>
        <expression>{!When_would_you_like_to_set_the_EPU}-{!Days_on_FSH}-3</expression>
    </formulas>
    <formulas>
        <name>TriggerDateLong</name>
        <dataType>Date</dataType>
        <expression>{!When_would_you_like_to_set_the_EPU}-2</expression>
    </formulas>
    <formulas>
        <name>TriggerDateShort</name>
        <dataType>Date</dataType>
        <expression>{!When_would_you_like_to_set_the_EPU}-2</expression>
    </formulas>
    <interviewLabel>Cycle Date Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cycle Date Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EPU</name>
        <label>Get EPU</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EPU_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>When_would_you_like_to_set_the_EPU</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Calculation</name>
        <label>Copy 1 of Calculation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>shortcount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There are currently {!EPUCOUNT} EPU&apos;s booked on that day. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_EPU_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>When_would_you_like_to_set_the_EPU</elementReference>
            </defaultValue>
            <fieldText>EPU Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Trigger_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TriggerDateShort</elementReference>
            </defaultValue>
            <fieldText>Trigger Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Day_of_FSH_Short</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FirstDayFSHShort</elementReference>
            </defaultValue>
            <fieldText>First Day of FSH</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Day_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ShortDay1</elementReference>
            </defaultValue>
            <fieldText>Day 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Cease_Lead_In_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CeaseLeadInShort</elementReference>
            </defaultValue>
            <fieldText>Cease Lead In Date (For Prim Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_EPU_Date</name>
        <label>Set EPU Date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_EPU</targetReference>
        </connector>
        <fields>
            <name>When_would_you_like_to_set_the_EPU</name>
            <dataType>Date</dataType>
            <fieldText>When would you like to book the EPU For?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Days_on_FSH</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DaysonFSH</elementReference>
            </defaultValue>
            <fieldText>Days on FSH (Please check treatment plan to see if there is a custom date)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_EPU_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCycles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DaysonFSH</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EPUCOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
