force-app/main/default/flows/Developer_Update_Cycle_Line_Item_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>UpdatedInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Cycle_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Cycle_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Type</name>
        <label>Assign Account Type</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Cycle_Line_Items.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Mast_Product.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Developer Update Cycle Line Item Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Update Cycle Line Item Accounts</label>
    <loops>
        <name>Loop_All_Cycle_Line_Items</name>
        <label>Loop All Cycle Line Items</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Mast_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Mast_Product</name>
        <label>Get Master Product</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Cycle_Line_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Cycle_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Paid_In_Full__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2022-08-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Line_Items</name>
        <label>Update Line Items</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>UpdatedInvoice</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payments</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>UpdatedInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoices__c</objectType>
    </variables>
    <variables>
        <name>UpdatedLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Invoice_Items__c</objectType>
    </variables>
</Flow>
