force-app/main/default/flows/Developer_Sonic_API_Testing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Auth_Token</name>
        <label>Get Auth Token</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>SonicTokenRetrieval</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Authentification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>Fetch_Client_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>Fetch_Client_Secret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grant_type</name>
            <value>
                <elementReference>Fetch_Grant_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>Fetch_Password</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>Fetch_Username</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SonicTokenRetrieval</nameSegment>
        <outputParameters>
            <assignToReference>Fetch_Access_Token</assignToReference>
            <name>access_token</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Fetch_Expires_In</assignToReference>
            <name>expires_in</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Fetch_Token_Type</assignToReference>
            <name>token_type</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Authentification</name>
        <label>Authentication_Check</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auth_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Expires_In</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Auth_Failure_Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Developer Sonic API Testing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Sonic API Testing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Message</name>
        <label>Error_Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;There was an error with authentication.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Auth_Token</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Fetch_Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fetch_Client_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sfxcpassfertapp</stringValue>
        </value>
    </variables>
    <variables>
        <name>Fetch_Client_Secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bc@K7Cmj5hsk$scD</stringValue>
        </value>
    </variables>
    <variables>
        <name>Fetch_Expires_In</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Fetch_Grant_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>password</stringValue>
        </value>
    </variables>
    <variables>
        <name>Fetch_Password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>M7S5v$cs8Gs324Cz</stringValue>
        </value>
    </variables>
    <variables>
        <name>Fetch_Token_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fetch_Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sfxcpassfert</stringValue>
        </value>
    </variables>
</Flow>
