force-app/main/default/flows/Developer_Reload_Results_to_Cycle_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Scan_Result</name>
        <label>Scan Result</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Cycle_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Scan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_update_Days.Number_of_Follicles_Left__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_update_Days.Number_of_Follicles_Over_11mm_Right__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Cycle_Day</targetReference>
            </connector>
            <label>Yes Scan</label>
        </rules>
    </decisions>
    <description>Reload Results</description>
    <environments>Default</environments>
    <interviewLabel>Developer Reload Results to Cycle Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Reload Results to Cycle Schedule</label>
    <loops>
        <name>Loop_to_update_Days</name>
        <label>Loop to update Days</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Doctor_Note</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Doctor_Note</name>
        <label>Get Doctor Note</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Doctor Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_update_Days.Date_Collected_Only__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Results</name>
        <label>Get Results</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_update_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>System_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Cycle_Day</name>
        <label>Copy 1 of Update Cycle Day</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_to_update_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_update_Days.Date_Collected_Only__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doctors_Comments__c</field>
            <value>
                <elementReference>Get_Doctor_Note.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Follicles_Over_11mm_Left__c</field>
            <value>
                <elementReference>Loop_to_update_Days.Number_of_Follicles_Left__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Follicles_Over_11mm_Right__c</field>
            <value>
                <elementReference>Loop_to_update_Days.Number_of_Follicles_Over_11mm_Right__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Day_Events__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Day</name>
        <label>Update Cycle Day</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_to_update_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_update_Days.Date_Collected_Only__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doctors_Comments__c</field>
            <value>
                <elementReference>Get_Doctor_Note.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2__c</field>
            <value>
                <elementReference>Loop_to_update_Days.E2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSH__c</field>
            <value>
                <elementReference>Loop_to_update_Days.FSH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCG__c</field>
            <value>
                <elementReference>Loop_to_update_Days.HCG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LH__c</field>
            <value>
                <elementReference>Loop_to_update_Days.LH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>Loop_to_update_Days.P4__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Day_Events__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Results</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
