force-app/main/default/flows/Developer_Waiting_Room_Core_Tables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Unknown_Patient</name>
        <label>Assign_Unknown_Patient</label>
        <locationX>264</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Unknown_Patient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unknownDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignArrivalTime</name>
        <label>assignArrivalTime</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CheckIn_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>assignFullname</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varFullname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventRecord.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfNameProcessed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>ClearCollection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Pending</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varRecordCollectionEvents_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFullnameCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varFullnameCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Waiting</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varRecordCollectionEvents_Waiting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Dismissed</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varRecordCollectionEvents_Dismissed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Unknown_Patient</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varRecordCollectionEvents_Unknown_Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unknownDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_9</name>
        <label>Assignment 9</label>
        <locationX>264</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.Self_Check_In_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PatientStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMultiActivityIndicator</name>
        <label>assignMultiActivityIndicator</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.Multi_Activity_Today__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varFullnameCollection_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecord</name>
        <label>assignRecord</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>eventRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecordToCollection</label>
        <locationX>264</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Pending</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecordToCollection2</name>
        <label>assignRecordToCollection2</label>
        <locationX>264</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Waiting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_9</name>
        <label>Copy 1 of Assignment 9</label>
        <locationX>264</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.PatientStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assignMultiActivityIndicator</name>
        <label>Copy 1 of assignMultiActivityIndicator</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.Multi_Activity_Today__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>varFullnameCollection_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assignRecordToCollection2</name>
        <label>Copy 2 of assignRecordToCollection2</label>
        <locationX>264</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollectionEvents_Dismissed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkPatientTriggered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FullNameAssign</name>
        <label>FullNameAssign</label>
        <locationX>396</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>eventRecord.Patient_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkArrivalTimeNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varFullnameCollection_Assign</name>
        <label>varFullnameCollection_Assign</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varFullnameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFullname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getName</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_set_Self_Check_In</name>
        <choiceText>Self-Check-In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self-Check-In</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manual_Check_In</name>
        <choiceText>Manual-Check-In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual-Check-In</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_CheckIn_Status</name>
        <label>Check_CheckIn_Status</label>
        <locationX>396</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Check_PatientStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkIf_StatusPending_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.Self_Check_In_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_9</targetReference>
            </connector>
            <label>checkIf_StatusPending_Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PatientStatus</name>
        <label>Check_PatientStatus</label>
        <locationX>396</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Decision_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_9</targetReference>
            </connector>
            <label>Outcome 1 of Decision 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkArrivalTimeNull</name>
        <label>checkArrivalTimeNull</label>
        <locationX>396</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Check_CheckIn_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkArrivalTimeNull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.Arrival_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignArrivalTime</targetReference>
            </connector>
            <label>checkArrivalTimeNull2</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfNameProcessed</name>
        <label>checkIfNameProcessed</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assignMultiActivityIndicator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFullnameCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varFullname</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMultiActivityIndicator</targetReference>
            </connector>
            <label>checkName</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPatientTriggered</name>
        <label>checkPatientTriggered</label>
        <locationX>396</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_checkPatientTriggered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown Patient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unknown_Patient</targetReference>
            </connector>
            <label>Outcome 1 of checkPatientTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_5</name>
        <label>Decision 5</label>
        <locationX>396</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Decision_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Checked-In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-Checked-In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecordToCollection2</targetReference>
            </connector>
            <label>assignCheckedIn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Decision 6</label>
        <locationX>396</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>checkPatientTriggered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dismissed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assignRecordToCollection2</targetReference>
            </connector>
            <label>Outcome 1 of Decision 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_7</name>
        <label>Decision 7</label>
        <locationX>396</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Decision_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventRecord.PatientStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecords</targetReference>
            </connector>
            <label>Outcome 1 of Decision 7</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Developer Waiting Room Core Tables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Waiting Room Core Tables</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updated_Datatable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patients_Donors_Sumo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getName</name>
        <label>getName</label>
        <locationX>396</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FullNameAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Updated_Datatable</name>
        <label>Updated_Datatable</label>
        <locationX>176</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Events</targetReference>
        </connector>
        <fields>
            <name>Unknown_Appointments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varRecordCollectionEvents_Unknown_Patient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Unknown Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Name__c,Subject,Arrival_Time__c,PatientStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Name__c:180, Subject:153, Arrival_Time__c:133, PatientStatus__c:133</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRemoveRowAction</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>utility:alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRemoveRowAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRemovedRows</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeIcon</name>
                <value>
                    <stringValue>standard:actions_and_buttons</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>unknownDetected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Waiting_Room</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varRecordCollectionEvents_Waiting</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Waiting Room</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Full_Name__c,Subject,Arrival_Time__c,Multi_Activity_Today__c,PatientStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Subject:, Multi_Activity_Today__c:Multi Booked?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Full_Name__c:180, Subject:153, Arrival_Time__c:133, Multi_Activity_Today__c:133, PatientStatus__c:133</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:forecasts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <stringValue>Multi_Activity_Today__c:{class: &apos;slds-theme_error&apos;};AnotherField__c:{class: &apos;slds-theme_shade&apos;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypeAttribs</name>
                <value>
                    <stringValue>4:{boolean}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Pending_Appointments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varRecordCollectionEvents_Pending</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Pending Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:employee_organization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Full_Name__c,Subject,StartDateTime,Multi_Activity_Today__c,PatientStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Patient_Full_Name__c:, Multi_Activity_Today__c:Multi Booked?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Full_Name__c:377, Subject:377, StartDateTime:377, Multi_Activity_Today__c:377, PatientStatus__c:377</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completed_Appointments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varRecordCollectionEvents_Dismissed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Completed Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Full_Name__c,Arrival_Time__c,Seen_Time__c,Self_Check_In_Status__c,PatientStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Patient_Full_Name__c:, Self_Check_In_Status__c:Self-Check-In?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Full_Name__c:377, Arrival_Time__c:377, Seen_Time__c:377, Self_Check_In_Status__c:377, PatientStatus__c:377</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>activityCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LookedUpFromActivity</objectType>
    </variables>
    <variables>
        <name>choice_set_collection_patient_status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>unknownDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFullname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFullnameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMultipleBookings_Indicator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRecordCollectionEvents_Dismissed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varRecordCollectionEvents_Pending</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varRecordCollectionEvents_Unknown_Patient</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varRecordCollectionEvents_Waiting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
