force-app/main/default/flows/Developer_Tool_Full_Cycle_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Invoice_Lines</name>
        <label>Assign Invoice Lines</label>
        <locationX>315</locationX>
        <locationY>1042</locationY>
        <assignmentItems>
            <assignToReference>AllInvoiceLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Invoice_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payments</name>
        <label>Assign Payments</label>
        <locationX>168</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>AllPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Lines_and_Payments</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Developer Tool - Full Cycle Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Tool - Full Cycle Delete</label>
    <loops>
        <name>Loop_Invoice_Lines_and_Payments</name>
        <label>Loop Invoice Lines and Payments</label>
        <locationX>175</locationX>
        <locationY>812</locationY>
        <collectionReference>Get_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Invoices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Cycle_Consents</name>
        <label>Delete Cycle Consents</label>
        <locationX>1016</locationX>
        <locationY>812</locationY>
        <connector>
            <targetReference>Delete_Medicare_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Consent_Compass__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Cycle_Events</name>
        <label>Delete Cycle Events</label>
        <locationX>174</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Delete_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Cycle_Event__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Cycle_Medications</name>
        <label>Delete Cycle Medications</label>
        <locationX>1350</locationX>
        <locationY>812</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Cycle_Medication__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>174</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Invoice_LInes</name>
        <label>Delete Invoice LInes</label>
        <locationX>731</locationX>
        <locationY>812</locationY>
        <connector>
            <targetReference>Delete_Results</targetReference>
        </connector>
        <inputReference>AllInvoiceLines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Invoices</name>
        <label>Delete Invoices</label>
        <locationX>452</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Delete_Payments</targetReference>
        </connector>
        <inputReference>Get_Invoices</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Medicare_Items</name>
        <label>Delete Medicare Items</label>
        <locationX>1178</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Delete_Cycle_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Cycle_Medicare_Items__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payments</name>
        <label>Delete Payments</label>
        <locationX>590</locationX>
        <locationY>812</locationY>
        <connector>
            <targetReference>Delete_Invoice_LInes</targetReference>
        </connector>
        <inputReference>AllPayments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Results</name>
        <label>Delete Results</label>
        <locationX>859</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Delete_Cycle_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Result__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>175</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Cycle_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>324</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoice_Lines_and_Payments.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Invoice_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>174</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice_Lines_and_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoice_Lines_and_Payments.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>495</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <fields>
            <name>Warning_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;You had better be really fucking sure you want to do this not that it wont delete batches, cohorts or embryos. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Warning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllInvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Invoice_Items__c</objectType>
    </variables>
    <variables>
        <name>AllPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payments__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
