force-app/main/default/flows/Developer_Egg_Event_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_All</name>
        <label>Add To All</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryosEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Var</name>
        <label>Assign Egg Var</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Embryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Eggs.Embryo_Cycle_Transferred_In__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_All</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Consumed_in_Equal_Transfered_In</name>
        <label>Consumed in Equal Transfered In</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Egg_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs.Embryo_Cycle_Transferred_In__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Eggs.Embryo_Created_In_Cycle__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Eggs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Developer Egg Event Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Egg Event Creation Flow</label>
    <loops>
        <name>Loop_Eggs</name>
        <label>Loop Eggs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Consumed_in_Equal_Transfered_In</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Egg_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Egg_Events</name>
        <label>Create Egg Events</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>AllEmbryosEvents</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Cycle_Transferred_In__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllEggEVnets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>AllEmbryosEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EggEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EmbryoEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
</Flow>
