force-app/main/default/flows/Developer_Medipass_Claim_API_Submission_Submit_All_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Developer_Medipass_[002_Submit_Claim_API]_[Action_Screen] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Medipass [002_Submit_Claim_API]_[Action_Screen]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>API_Response_Display</name>
        <label>API_Response_Display</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>API_Response</name>
            <defaultValue>
                <stringValue>{!response_collection_body}</stringValue>
            </defaultValue>
            <fieldText>API Response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>API_Claim_subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>API_Claim_subflow</name>
        <label>API_Claim_subflow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>API_Response_Display</targetReference>
        </connector>
        <flowName>Developer_Medipass_008_Medicare_Claim</flowName>
        <inputAssignments>
            <name>claimId</name>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>response_collection_body</assignToReference>
            <name>response_collection_body</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_collection_body</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
