force-app/main/default/flows/Developer_Medipass_008_Medicare_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>add_first_JSON_object</name>
        <label>add_first_JSON_object</label>
        <locationX>963</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>dva_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_first_JSON_object_dva</name>
        <label>add_first_JSON_object_dva</label>
        <locationX>1491</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>DVA_var_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_JSON_claimable_item</name>
        <label>add_first_JSON_claimable_item</label>
        <locationX>1480</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Non_First_JSON_Objects</name>
        <label>add_Non_First_JSON_Objects</label>
        <locationX>1755</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>DVA_var_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_body_patient_vars</name>
        <label>assign_body_patient_vars</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>patient_refId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_firstName_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_lastName_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_mobile_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_dobString_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_issueDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referral_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_membershipNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Medicare_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_cardRank_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Medicare_Issue_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Bulkbill_body_string</name>
        <label>assign_Bulkbill_body_string</label>
        <locationX>556</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_Payee_And_In_Hospital_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_Payee_And_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>1744</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claimable_Item_JSON_Comma_Seperator_PC</name>
        <label>Assign_Claimable_Item_JSON_Comma_Seperator_PC</label>
        <locationX>2008</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>patientclaim_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DVA_body_string</name>
        <label>assign_DVA_body_string</label>
        <locationX>1095</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>DVA_Body_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_DVA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isbulkbill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DVA_body_string_in_hospital</name>
        <label>assign_DVA_body_string_in_hospital</label>
        <locationX>1623</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>DVA_In_Hospital_Body_string</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DVA_Text_Template_Body_Was_IN_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isbulkbill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_dva_json_objects</name>
        <label>assign_dva_json_objects</label>
        <locationX>1359</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Patient_In_Hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GP_AlliedHealth_RefferalTypeCode</name>
        <label>assign_GP_AlliedHealth_RefferalTypeCode</label>
        <locationX>1227</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dva_json_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_json_variables_patientclaim</name>
        <label>assign_json_variables_patientclaim</label>
        <locationX>1876</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_isInHospital_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_collection_size_pc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Patient_claim_body</name>
        <label>assign_Patient_claim_body</label>
        <locationX>1348</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_body_string_IN_Hospital</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Patient_Claim_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>claimType_DVA</name>
        <label>claimType_DVA</label>
        <locationX>1359</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_healthFundCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_membershipNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Private_Health_Fund_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptedDisability_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_GP_Then_Assign_ReferralTypeCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of add_first_JSON_claimable_item</label>
        <locationX>424</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital_and_has_payee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_Bulkbill_body_string</name>
        <label>Copy 1 of assign_Bulkbill_body_string</label>
        <locationX>1612</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_In_Hospital_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>688</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital_and_has_payee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator_PC</name>
        <label>Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator_PC</label>
        <locationX>1480</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_in_hospital_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_GP_AlliedHealth_RefferalTypeCode</name>
        <label>Copy 1 of assign_GP_AlliedHealth_RefferalTypeCode</label>
        <locationX>1491</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dva_json_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_json_variables</name>
        <label>Copy 1 of assign_json_variables</label>
        <locationX>2140</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_json_variables_patientclaim</name>
        <label>Copy 1 of assign_json_variables_patientclaim</label>
        <locationX>1348</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_isInHospital_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_collection_size_pc_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of Copy 1 of add_first_JSON_claimable_item</label>
        <locationX>952</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection_WITH_PAYEE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</name>
        <label>Copy 1 of Copy 1 of assign_Bulkbill_body_string</label>
        <locationX>2140</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>556</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerFullName_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerFullName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 1 of Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>1216</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection_WITH_PAYEE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_assign_json_variables</name>
        <label>Copy 1 of Copy 1 of assign_json_variables</label>
        <locationX>556</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1612</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerFullName_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerFullName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_response_body_assign1</name>
        <label>Copy 1 of Copy 1 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>5714</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_bulkbill_call_03.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BB_In_Hospital_And_Has_Payee_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of Copy 2 of add_first_JSON_claimable_item</label>
        <locationX>1216</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_in_hospital_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Copy_5_of_response_body_assign1</name>
        <label>Copy 1 of Copy 2 of Copy 5 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>7730</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_dva_call_001.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DVA_In_Hospital_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_response_body_assign1</name>
        <label>Copy 1 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>5306</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_bulkbill_call_02.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_check_Benefit_Payee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_first_JSON_claimable_item</name>
        <label>Copy 2 of add_first_JSON_claimable_item</label>
        <locationX>1744</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>patientclaim_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_Bulkbill_body_string</name>
        <label>Copy 2 of assign_Bulkbill_body_string</label>
        <locationX>1084</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_Payee_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_Benefit_Payee_HAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 2 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>2272</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_json_variables</name>
        <label>Copy 2 of assign_json_variables</label>
        <locationX>1612</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_Patient_claim_body</name>
        <label>Copy 2 of assign_Patient_claim_body</label>
        <locationX>1876</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_body_string</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patient_claim_NOT_in_hospital_var_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_assign_json_variables</name>
        <label>Copy 2 of Copy 1 of assign_json_variables</label>
        <locationX>1084</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1084</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerFullName_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerFullName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_response_body_assign1</name>
        <label>Copy 2 of Copy 1 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>6122</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_bulkbill_call_04.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Patient_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_5_of_response_body_assign1</name>
        <label>Copy 2 of Copy 5 of response_body_assign1</label>
        <locationX>204</locationX>
        <locationY>8222</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_dva_call_002.response_body</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_response_body_assign1</name>
        <label>Copy 2 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>7130</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_patientclaim_call_02.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_DVA_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_add_first_JSON_claimable_item</name>
        <label>Copy 3 of add_first_JSON_claimable_item</label>
        <locationX>2008</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 3 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>2140</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_benefitPayee_providerFullName_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_benefitPayee_providerFullName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_response_body_assign1</name>
        <label>Copy 3 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>6722</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_patientclaim_call_01.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_Hospital_Check03_Patient_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 4 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1876</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>patientclaim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_json_variables_patientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 5 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1348</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>patientclaim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_json_variables_patientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_First_JSON_Objects</name>
        <label>Non_First_JSON_Objects</label>
        <locationX>1227</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>dva_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordsOutputAssign</name>
        <label>recordsOutputAssign</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordsOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getClaimItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPatient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>response_body_assign1</name>
        <label>response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>response_collection_body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>callout_bulkbill_call_01.response_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BB_In_Hospital_Claim</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BB_In_Hospital_And_Has_Payee_Claims</name>
        <label>BB_In_Hospital_And_Has_Payee_Claims</label>
        <locationX>182</locationX>
        <locationY>5906</locationY>
        <defaultConnector>
            <targetReference>Process_Patient_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_In_Hospital_And_Payee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital_and_has_payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_bulkbill_call_04</targetReference>
            </connector>
            <label>Has_In_Hospital+Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>BB_In_Hospital_Claim</name>
        <label>BB_In_Hospital_Claims</label>
        <locationX>182</locationX>
        <locationY>5090</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_check_Benefit_Payee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital_BB_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_bulkbill_call_02</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_benefit_payee</name>
        <label>check_benefit_payee</label>
        <locationX>1348</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_In_hospital_bulkbill_check01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HAS_benefit_payee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_benefitPayee_providerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_hospital_bulkbill_check01</targetReference>
            </connector>
            <label>HAS_benefit_payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Benefit_Payee_bulkbill</name>
        <label>BB_Standard_Claims</label>
        <locationX>182</locationX>
        <locationY>4682</locationY>
        <defaultConnector>
            <targetReference>BB_In_Hospital_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Benefit_Payee_HAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_bulkbill_call_01</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_collection_size_pc</name>
        <label>check_collection_size_pc</label>
        <locationX>1876</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>Assign_Claimable_Item_JSON_Comma_Seperator_PC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 3 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_collection_size_pc_in_hospital</name>
        <label>check_collection_size_pc_in_hospital</label>
        <locationX>1348</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator_PC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_collection_size_pc_in_hospital_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>check_collection_size_pc_in_hospital_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_DVA_Patient</name>
        <label>check_DVA_Patient</label>
        <locationX>1942</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>isbulkbill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_DVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isDVA</targetReference>
            </connector>
            <label>check_DVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_In_Hospital</name>
        <label>check_In_Hospital</label>
        <locationX>1612</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_In_Hospital_claimline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
            </connector>
            <label>check_In_Hospital_claimline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Patient_In_Hospital</name>
        <label>Check_Patient_In_Hospital</label>
        <locationX>1359</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_DVA_Check_collection_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Hospital</defaultConnectorLabel>
        <rules>
            <name>check_not_in_hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DVA_Check_collection_is_empty</targetReference>
            </connector>
            <label>Not_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>collection_size</name>
        <label>collection_size</label>
        <locationX>1612</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Collection_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_JSON_claimable_item</targetReference>
            </connector>
            <label>collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_collection_size</name>
        <label>Copy 1 of collection_size</label>
        <locationX>556</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 1 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_collection_size</name>
        <label>Copy 1 of Copy 1 of collection_size</label>
        <locationX>1084</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_DVA_Check_collection_is_empty</name>
        <label>Copy 1 of DVA_Check_collection_is_empty</label>
        <locationX>1623</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>add_Non_First_JSON_Objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Assign_Standard_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_first_JSON_object_dva</targetReference>
            </connector>
            <label>Copy 1 of Assign_Standard_Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_Benefit_Payee</name>
        <label>BB_Payee_Claims</label>
        <locationX>182</locationX>
        <locationY>5498</locationY>
        <defaultConnector>
            <targetReference>BB_In_Hospital_And_Has_Payee_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Benefit_Payee_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_bulkbill_call_03</targetReference>
            </connector>
            <label>has_Benefit_Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_collection_size</name>
        <label>Copy 2 of collection_size</label>
        <locationX>2140</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 2 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_In_hospital_bulkbill_check01</name>
        <label>Copy 2 of In_hospital_bulkbill_check01</label>
        <locationX>1876</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not_In_Hos</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_is_in_hospital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
            </connector>
            <label>In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_Check_collection_is_empty</name>
        <label>DVA_Check_collection_is_empty</label>
        <locationX>1095</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Non_First_JSON_Objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Standard_DVA_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dva_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_first_JSON_object</targetReference>
            </connector>
            <label>Assign_Standard_Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_In_Hospital_Claims</name>
        <label>DVA_In_Hospital_Claims</label>
        <locationX>336</locationX>
        <locationY>8006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital_DVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_dva_call_002</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_Standard_Claim_Check01</name>
        <label>DVA_Standard_Claims</label>
        <locationX>182</locationX>
        <locationY>7514</locationY>
        <defaultConnector>
            <targetReference>DVA_In_Hospital_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dva_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_dva_call_001</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_GP_Then_Assign_ReferralTypeCode</name>
        <label>If_GP_Then_Assign_ReferralTypeCode</label>
        <locationX>1359</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assign_GP_AlliedHealth_RefferalTypeCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_GP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GP_AlliedHealth_RefferalTypeCode</targetReference>
            </connector>
            <label>is_GP</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_hospital_bulkbill_check01</name>
        <label>In_hospital_bulkbill_check01</label>
        <locationX>820</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_in_hospital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
            </connector>
            <label>is_in_hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Hospital_Check03_Patient_Claims</name>
        <label>PC_In_Hospital</label>
        <locationX>182</locationX>
        <locationY>6914</locationY>
        <defaultConnector>
            <targetReference>Process_DVA_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_patientclaim_call_02</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>isbulkbill</name>
        <label>isbulkbill</label>
        <locationX>1942</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>ispatientclaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isbulkbilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bulkBill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_benefit_payee</targetReference>
            </connector>
            <label>isbulkbilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDVA</name>
        <label>isDVA</label>
        <locationX>1689</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>isbulkbill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDVA_Assign_Claim_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>claimType_DVA</targetReference>
            </connector>
            <label>isDVA_Assign_Claim_item</label>
        </rules>
    </decisions>
    <decisions>
        <name>ispatientclaim</name>
        <label>check_ispatientclaim</label>
        <locationX>1942</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Loop_Claim_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_ispatientclaim_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>patientclaim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_In_Hospital</targetReference>
            </connector>
            <label>check_ispatientclaim_type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Bulkbilled</name>
        <label>Process_Bulkbilled</label>
        <locationX>336</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Process_Patient_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wasBulkBilled_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital_and_has_payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Benefit_Payee_bulkbill</targetReference>
            </connector>
            <label>Yes_Bulkbilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_DVA_Claims</name>
        <label>Process_DVA_Claims</label>
        <locationX>336</locationX>
        <locationY>7406</locationY>
        <defaultConnector>
            <targetReference>DVA_In_Hospital_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_DVA_Claims_03</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dva_claim_line_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DVA_Standard_Claim_Check01</targetReference>
            </connector>
            <label>Yes_DVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Patient_Claim</name>
        <label>Process_Patient_Claims</label>
        <locationX>336</locationX>
        <locationY>6398</locationY>
        <defaultConnector>
            <targetReference>Process_DVA_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Patient_Claim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_claim_check</targetReference>
            </connector>
            <label>Yes_Patient_Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_claim_check</name>
        <label>PC_Standard</label>
        <locationX>182</locationX>
        <locationY>6506</locationY>
        <defaultConnector>
            <targetReference>In_Hospital_Check03_Patient_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_patient_claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callout_patientclaim_call_01</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cleanedItemCode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!medicare_claimItems_itemCode_M}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formatted_medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!medicare_claimItems_price_M}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formatted_referral_issueDate_M</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!referral_issueDate_M}, 4)),
    CASE(MID({!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) + 1, FIND(&quot; &quot;, {!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) + 1) - FIND(&quot; &quot;, {!referral_issueDate_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) - 1))
))</expression>
    </formulas>
    <formulas>
        <name>formatted_referral_period_M</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!referral_period_M}, &quot;Indefinite&quot;),
    &quot;12&quot;,
    LEFT({!referral_period_M}, FIND(&quot; &quot;, {!referral_period_M}) - 1)
)</expression>
    </formulas>
    <formulas>
        <name>formatted_service_date_formula</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!medicare_claimItems_serviceDate_M}, 4)),
    CASE(MID({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) + 1, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) + 1) - FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1))
))</expression>
    </formulas>
    <formulas>
        <name>patient_dobFormatted_M</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!patient_dobString_M}, 4)),
    CASE(MID({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) + 1, FIND(&quot; &quot;, {!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) + 1) - FIND(&quot; &quot;, {!patient_dobString_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) - 1))
))</expression>
    </formulas>
    <interviewLabel>Developer_Medipass_[002_Submit_Claim_API]_[Submit_All] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer_Medipass [002_Submit_Claim_API]_[Submit_All]</label>
    <loops>
        <name>Loop_Claim_items</name>
        <label>Loop_Claim_items_MAIN</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>getClaimItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_DVA_Patient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Bulkbilled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClaim</name>
        <label>getClaim</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getClaimItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClaimItems</name>
        <label>getClaimItems</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordsOutputAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medicare_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getClaim.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_body_patient_vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getClaim.Cycle__r.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_ID__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Birthdate__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Current_Referral__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Medicare_Number__c</queriedFields>
        <queriedFields>Medicare_Issue_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>callout_bulkbill_call_01</name>
        <label>callout_bulkbill_call_01</label>
        <locationX>50</locationX>
        <locationY>4790</locationY>
        <connector>
            <targetReference>response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>Bulkbill_Body_String</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_bulkbill_call_02</name>
        <label>callout_bulkbill_call_02</label>
        <locationX>50</locationX>
        <locationY>5198</locationY>
        <connector>
            <targetReference>Copy_1_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>Bulkbill_Body_String_In_Hospital_YES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_bulkbill_call_03</name>
        <label>callout_bulkbill_call_03</label>
        <locationX>50</locationX>
        <locationY>5606</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>Bulkbill_Body_String_Payee_YES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_bulkbill_call_04</name>
        <label>callout_bulkbill_call_04</label>
        <locationX>50</locationX>
        <locationY>6014</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>Bulkbill_Body_String_Payee_And_In_Hospital_YES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_dva_call_001</name>
        <label>callout_dva_call_001</label>
        <locationX>50</locationX>
        <locationY>7622</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_5_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>DVA_Body_String</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_dva_call_002</name>
        <label>callout_dva_call_002</label>
        <locationX>204</locationX>
        <locationY>8114</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_5_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>DVA_In_Hospital_Body_string</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_patientclaim_call_01</name>
        <label>callout_patientclaim_call_01</label>
        <locationX>50</locationX>
        <locationY>6614</locationY>
        <connector>
            <targetReference>Copy_3_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>patient_claim_body_string</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>callout_patientclaim_call_02</name>
        <label>callout_patientclaim_call_02</label>
        <locationX>50</locationX>
        <locationY>7022</locationY>
        <connector>
            <targetReference>Copy_2_of_response_body_assign1</targetReference>
        </connector>
        <flowName>Developer_Medipass_000_Empty_HTTP_Callout_Action</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>patient_claim_body_string_IN_Hospital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header1value</name>
            <value>
                <elementReference>Bearer_Auth_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header2value</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>header3value</name>
            <value>
                <stringValue>pariosolutions-web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>http_method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>url</name>
            <value>
                <stringValue>https://stg-api-au.medipass.io/v3/transactions/invoices</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Assign_comma_seperator_json_claimable_item_text_template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDate&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>DVA_Text_Template_Body_Was_IN_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;funder&quot;: &quot;dva&quot;,
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
      &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
      &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
      &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
      &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
      &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
      &quot;healthFundCode&quot;: &quot;DVA&quot;,
      &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
      &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
      &quot;acceptedDisability&quot;: &quot;{!acceptedDisability_M}&quot;
    },
    &quot;dva&quot;: {
      &quot;isInHospital&quot;: true,
      &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
      &quot;lspNumber&quot;: &quot;{!medicare_lspNumber_O}&quot;,
      &quot;referral&quot;: {
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
        &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
      },
      &quot;claimItems&quot;: {!DVA_var_collection_in_hospital}
    }
  }</text>
    </textTemplates>
    <textTemplates>
        <name>formatted_serviceDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TEXT({!medicare_claimItems_serviceDate_M}, &quot;YYYY-MM-DD&quot;)</text>
    </textTemplates>
    <textTemplates>
        <name>json_bulkbill_claimitem_json</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDate&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>patient_claim_NOT_in_hospital_var_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
 &quot;funder&quot;: &quot;{!funder_M}&quot;,
 &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
 &quot;patient&quot;: {
   &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
   &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
   &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
   &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
   &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
 },
 &quot;healthFundAccount&quot;: {
   &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
   &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
 },
 &quot;medicare&quot;: {
   &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
   &quot;referral&quot;: {
     &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
     &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
     &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
     &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
     &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
   },
   &quot;claimItems&quot;: 
     {!patientclaim_json_collection}
 }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
   &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;funder&quot;: &quot;{!funder_M}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;patient&quot;: {
    &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
  },
  &quot;healthFundAccount&quot;: {
    &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
  },
  &quot;medicare&quot;: {
    &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
    &quot;referral&quot;: {
      &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
      &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
      &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
      &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
      &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
    },
    &quot;claimItems&quot;: 
      {!bulkbill_json_collection}
  }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_Benefit_Payee_HAS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;funder&quot;: &quot;{!funder_M}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
        &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
        &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
        &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
        &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
        &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
        &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
        &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
    },
    &quot;medicare&quot;: {
        &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
        &quot;referral&quot;: {
            &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
            &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
            &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
            &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
            &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
        },
        &quot;benefitPayee&quot;: {
            &quot;providerNumber&quot;: &quot;{!medicare_benefitPayee_providerNumber_O}&quot;,
            &quot;providerFullName&quot;: &quot;{!medicare_benefitPayee_providerFullName_O}&quot;
        },
        &quot;claimItems&quot;: {!bulkbill_json_collection_WITH_PAYEE}
    }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
 &quot;funder&quot;: &quot;{!funder_M}&quot;,
 &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
 &quot;patient&quot;: {
   &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
   &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
   &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
   &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
   &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
 },
 &quot;healthFundAccount&quot;: {
   &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
   &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
 },
 &quot;medicare&quot;: {
   &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
   &quot;isInHospital&quot;: true,
   &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
   &quot;lspNumber&quot;: &quot;{!medicare_lspNumber_O}&quot;,
   &quot;referral&quot;: {
     &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
     &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
     &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
     &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
     &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
   },
   &quot;claimItems&quot;: 
     {!bulkbill_collection_in_hospital}
 }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_Payee_And_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;funder&quot;: &quot;{!funder_M}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
        &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
        &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
        &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
        &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
        &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
        &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
        &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
    },
    &quot;medicare&quot;: {
        &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
        &quot;isInHospital&quot;: true,
        &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
        &quot;lspNumber&quot;: &quot;{!medicare_lspNumber_O}&quot;,
        &quot;referral&quot;: {
            &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
            &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
            &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
            &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
            &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
        },
        &quot;benefitPayee&quot;: {
            &quot;providerNumber&quot;: &quot;{!medicare_benefitPayee_providerNumber_O}&quot;,
            &quot;providerFullName&quot;: &quot;{!medicare_benefitPayee_providerFullName_O}&quot;
        },
        &quot;claimItems&quot;: {!bulkbill_collection_in_hospital_and_has_payee}
    }
  }</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_DVA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;funder&quot;: &quot;dva&quot;,
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;patient&quot;: {
    &quot;acceptedDisabilityIndicator&quot;: &quot;Y&quot;,
    &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
  },
  &quot;healthFundAccount&quot;: {
    &quot;healthFundCode&quot;: &quot;DVA&quot;,
    &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
    &quot;acceptedDisability&quot;: &quot;{!acceptedDisability_M}&quot;
  },
  &quot;dva&quot;: {
      &quot;isInHospital&quot;: false,
       &quot;referral&quot;: {
          &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
          &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;,
          &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
    &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
          &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;
      },
      &quot;claimItems&quot;: 
      {!dva_json_collection}
  }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Patient_Claim_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
   &quot;funder&quot;: &quot;{!funder_M}&quot;,
   &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
   &quot;patient&quot;: {
     &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
     &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
     &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
     &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
     &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
   },
   &quot;healthFundAccount&quot;: {
     &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
     &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
   },
   &quot;medicare&quot;: {
     &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
     &quot;isInHospital&quot;: true,
     &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
     &quot;lspNumber&quot;: &quot;{!medicare_lspNumber_O}&quot;,
     &quot;referral&quot;: {
       &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
       &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
       &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
       &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
       &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
     },
     &quot;claimItems&quot;: 
       {!patient_claim_in_hospital_json_collection}
   }
  }</text>
    </textTemplates>
    <variables>
        <name>acceptedDisability_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bearer_Auth_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bearer 641d2ab2f759a3006afd80c6:r7m_I1j_wUFdmAJz31Ks6BsvZoZJtzIWm_lYuVxMTPM</stringValue>
        </value>
    </variables>
    <variables>
        <name>Bulkbill_Body_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_In_Hospital_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_Payee_And_In_Hospital_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_Payee_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_claim_line_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>bulkbill_collection_in_hospital</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_collection_in_hospital_and_has_payee</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_json_collection_WITH_PAYEE</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_Body_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_claim_line_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>DVA_In_Hospital_Body_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_in_hospital_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_In_Hospital_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_var_collection_in_hospital</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>funder_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>has_payee_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_cardRank_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_healthFundCode_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_membershipNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_sex_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_assessmentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_explanation_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_explanation_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundStatus_status_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundStatus_status_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceReference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicalEvent_service_scheduleFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_benefitPayee_providerFullName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_benefitPayee_providerNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claim_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medicare_Claim__c</objectType>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_accountName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_accountNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_bankName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_bsb_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_dobString_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_firstName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_healthFundAccount_cardRank_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_healthFundAccount_membershipNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_lastName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_mobile_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_address_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_addressLine2_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_city_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_postcode_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_refId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accessionDate_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accessionTime_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accountReferenceNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_afterCareOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_collectionDate_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_collectionTime_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_duplicateServiceOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_duration_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_fieldQuantity_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_itemCode_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_multipleProcedureOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_numberOfPatientsSeen_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_patientContributionAmount_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_reference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_restrictiveOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_rule3ExemptIndicator_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_s4b3ExemptIndicator_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_scpId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_selfDeemedCode_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_serviceDate_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimType_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_facilityId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_isInHospital_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_lspNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_nonReferral_description_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_nonReferral_reason_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_issueDateString_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_period_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_periodType_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_providerFullName_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_providerNumber_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_referralTypeCode_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_referrerType_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareAssessment_claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareAssessment_medicalEvent_service_explanationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareStatus_status_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareStatus_status_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_body_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_body_string_IN_Hospital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_in_hospital_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_record_collection_claim_lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>patient_dobString_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_email_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_firstName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_lastName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_mobile_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_refId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientclaim_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>providerNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2429581T</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>referral_issueDate_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_period_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_providerName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_providerNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referrerType_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_collection_body</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>was_In_Hospital_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
