force-app/main/default/flows/Developer_Waiting_Room_Alpha.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignMSG</name>
        <label>assignMSG</label>
        <locationX>1282</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varPatientNameText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toastMessageVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecord</name>
        <label>assignRecord</label>
        <locationX>1150</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varRecordEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getActivityRelevant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSymbolReplaceNames</name>
        <label>assignSymbolReplaceNames</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>firstNameTrimmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>symbol_formula_input_firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastNameTrimmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>symbol_formula_input_lastname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPatient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_toastMessageVar</name>
        <label>Copy 1 of Copy 1 of toastMessageVar</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>toastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!firstName} {!lastName} failed Self-Checked-In and is in the waiting room, a Patient Record was not found!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnknownPatientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient &apos;{!firstName} {!lastName}&apos; Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unknownPatientNameString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!firstName} {!lastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Fire_Platform_Event_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_toastMessageVar</name>
        <label>Copy 1 of toastMessageVar</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>toastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!firstName} {!lastName} failed Self-Checked-In and is in the waiting room, an Appointment was not found!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnknownAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment for &apos;{!firstName} {!lastName}&apos; Not Found </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Fire_Platform_Event_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>patientMessageVar</name>
        <label>patientMessageVar</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>patientMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank you, {!firstName} {!lastName}! Please take a seat and we&apos;ll be with you shortly.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignMSG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toastMessageVar</name>
        <label>toastMessageVar</label>
        <locationX>1282</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>toastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!firstName} {!lastName} has Self-Checked-In and is in the waiting room.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fire_Platform_Event_Toast</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkNullName</name>
        <label>checkNullName</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>assignSymbolReplaceNames</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>firstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Waiting_Room_Sign_In</targetReference>
            </connector>
            <label>Outcome 1 of Decision 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>didSuccessPlatformEventFire</name>
        <label>didSuccessPlatformEventFire</label>
        <locationX>930</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>successMSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>didSuccessPlatformEventFire2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNull2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>didSuccessPlatformEventFire2</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNull</name>
        <label>isNull</label>
        <locationX>1150</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>assignEventChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActivityRelevant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_toastMessageVar</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNullpatientID1</name>
        <label>isNullpatientID1</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>getPatientResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPatient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_toastMessageVar</targetReference>
            </connector>
            <label>isNull2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fullNameFormulaVar</name>
        <dataType>String</dataType>
        <expression>{!firstName} &amp; &quot; &quot; &amp; {!lastName}</expression>
    </formulas>
    <formulas>
        <name>symbol_formula_input_firstname</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE(
    SUBSTITUTE(
      TRIM({!firstName}), 
      &quot;-&quot;, &quot;?&quot;), 
    &quot;&apos;&quot;, &quot;?&quot;), 
  &quot;.&quot;, &quot;?&quot;)</expression>
    </formulas>
    <formulas>
        <name>symbol_formula_input_lastname</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE(
    SUBSTITUTE(
      TRIM({!lastName}), 
      &quot;-&quot;, &quot;?&quot;), 
    &quot;&apos;&quot;, &quot;?&quot;), 
  &quot;.&quot;, &quot;?&quot;)</expression>
    </formulas>
    <interviewLabel>Developer Waiting Room Alpha {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Developer Waiting Room Alpha</label>
    <loops>
        <name>getPatientResults</name>
        <label>getPatientResults</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <collectionReference>getPatient</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getActivityRelevant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>didSuccessPlatformEventFire</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Unknown_Appointment</name>
        <label>Appointment Unknown Patient</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_successMSG</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientStatus__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Full_Name__c</field>
            <value>
                <elementReference>unknownPatientNameString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varUnknownPatientName</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Fire_Platform_Event_Toast</name>
        <label>Copy 1 of Fire Platform Event Toast</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>CreateUnknownAppointment</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>0006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>toastMessage</elementReference>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Fire_Platform_Event_Toast</name>
        <label>Copy 2 of Copy 1 of Fire Platform Event Toast</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Unknown_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>0006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>toastMessage</elementReference>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateUnknownAppointment</name>
        <label>Create Unknown Appointment</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Copy_1_of_successMSG</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientStatus__c</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varUnknownAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getPatientResults.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Fire_Platform_Event_Toast</name>
        <label>Fire Platform Event Toast</label>
        <locationX>1282</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>getPatientResults</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_1_of_ShowError1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>0005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>toastMessage</elementReference>
            </value>
        </inputAssignments>
        <object>ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getActivityRelevant</name>
        <label>getActivityRelevant</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPatientResults.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNullpatientID1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>firstNameTrimmed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lastNameTrimmed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assignEventChange</name>
        <label>assignEventChange</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>patientMessageVar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_ShowError1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPatientResults.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrival_Time__c</field>
            <value>
                <elementReference>dateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Waiting_Room__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientStatus__c</field>
            <value>
                <stringValue>Self-Checked-In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Check_In_Status__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Copy_1_of_ShowError1</name>
        <label>Copy 1 of Copy 1 of ShowError1</label>
        <locationX>1546</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_errormsg1</name>
            <fieldText>&lt;p&gt;Error with patient check-in due to notification mis lapse. Please notify the reception staff of this issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ShowError1</name>
        <label>Copy 1 of ShowError1</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errormsg1</name>
            <fieldText>&lt;p&gt;Error retrieving patient activity information. Please notify the reception staff of this issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_successMSG</name>
        <label>Copy 1 of successMSG</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>greentick</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>greentick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>450</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>450</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_patientMessageSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-size: 16px;&quot;&gt;Please take a seat and we&apos;ll be with you shortly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_autoReload</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:4:0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Waiting_Room_Sign_In</name>
        <label>Copy 1 of Waiting Room - Sign In</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Waiting_Room_Sign_In</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_check_in_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 72px;&quot;&gt;Patient Check-In&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>provideNameText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(160, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please provide a First (given) and Last Name.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>returnAuto</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:2:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimer</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timerLabel</name>
                <value>
                    <stringValue>Returning...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_ShowError1</name>
        <label>Copy 2 of ShowError1</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errormsg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error with patient check-in due to status mis lapse. Please notify the reception staff of this issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowError1</name>
        <label>ShowError1</label>
        <locationX>1938</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormsg1</name>
            <fieldText>&lt;p&gt;Error retrieving patient information. Please notify the reception staff of this issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMSG</name>
        <label>successMSG</label>
        <locationX>1062</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>greentick2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>greentick</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>450</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>450</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>patientMessageSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!varPatientNameText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>autoReload</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:4:0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Waiting_Room_Sign_In</name>
        <label>Waiting Room - Sign In</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkNullName</targetReference>
        </connector>
        <fields>
            <name>check_in_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 72px;&quot;&gt;Patient Check-In&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CF_Logo_1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>cf_logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Primary_Patient_Details</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Patient Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>firstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>userValidation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I confirm that I am ready in the waiting room and would like to check in</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Waiting_Room_Sign_In</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>first name patient</description>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstNameTrimmed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TRIM({!firstName})</stringValue>
        </value>
    </variables>
    <variables>
        <description>lastName</description>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastNameTrimmed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TRIM({!lastName})</stringValue>
        </value>
    </variables>
    <variables>
        <name>patientMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symbol_replace_FirstNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symbol_replace_LastNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textVarPatientMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>patientMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>toastMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unknownPatientNameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>userReadiness</description>
        <name>userReadiness</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>userValidation.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>varPatientNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varUnknownAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnknownPatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWhoID_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
