force-app/main/default/flows/Developer_Medipass_009_Medicare_Claim_SDK_Payload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>add_first_JSON_object</name>
        <label>add_first_JSON_object</label>
        <locationX>1260</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>dva_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dva_json_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_first_JSON_object_dva</name>
        <label>add_first_JSON_object_dva</label>
        <locationX>1788</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>DVA_var_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dva_json_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_JSON_claimable_item</name>
        <label>add_first_JSON_claimable_item</label>
        <locationX>1524</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Non_First_JSON_Objects</name>
        <label>add_Non_First_JSON_Objects</label>
        <locationX>2052</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>DVA_var_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dva_json_string_comma_seperator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_body_patient_vars</name>
        <label>assign_body_patient_vars</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>patient_refId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Record_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_firstName_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_lastName_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_mobile_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_dobString_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_issueDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referral_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_membershipNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Medicare_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_cardRank_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Medicare_Issue_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2Loop_Payload_IN_Hospital_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Bulkbill_body_string</name>
        <label>assign_Bulkbill_body_string</label>
        <locationX>600</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_Payee_And_In_Hospital_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_Payee_And_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_claim_items_collection_payload</name>
        <label>assign_claim_items_collection_payload</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>payload_claim_items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2Loop_Payload_IN_Hospital_Check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2Loop_Payload_IN_Hospital_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>1788</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claimable_Item_JSON_Comma_Seperator_PC</name>
        <label>Assign_Claimable_Item_JSON_Comma_Seperator_PC</label>
        <locationX>2052</locationX>
        <locationY>5306</locationY>
        <assignmentItems>
            <assignToReference>patientclaim_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DVA_body_string</name>
        <label>assign_DVA_body_string</label>
        <locationX>1392</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>DVA_Body_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_DVA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isbulkbill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DVA_body_string_in_hospital</name>
        <label>assign_DVA_body_string_in_hospital</label>
        <locationX>1920</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>DVA_In_Hospital_Body_string</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DVA_Text_Template_Body_Was_IN_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isbulkbill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_dva_json_objects</name>
        <label>assign_dva_json_objects</label>
        <locationX>1656</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Patient_In_Hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_formatetd_sex</name>
        <label>assign_formatetd_sex</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatted_sex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_body_patient_vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GP_AlliedHealth_RefferalTypeCode</name>
        <label>assign_GP_AlliedHealth_RefferalTypeCode</label>
        <locationX>1524</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dva_json_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_json_variables_patientclaim</name>
        <label>assign_json_variables_patientclaim</label>
        <locationX>1920</locationX>
        <locationY>5090</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_isInHospital_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_collection_size_pc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Patient_claim_body</name>
        <label>assign_Patient_claim_body</label>
        <locationX>1392</locationX>
        <locationY>5498</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_body_string_IN_Hospital</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Patient_Claim_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_patientclaim_Vars_1</name>
        <label>Assign_patientclaim_Vars_1</label>
        <locationX>1392</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>patientclaim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_json_variables_patientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payload_item</name>
        <label>assign_payload_item</label>
        <locationX>404</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>payload_claim_items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Payee_Check_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payee_Check_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_sex</name>
        <label>assign_sex</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>unformatted_sex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_formatetd_sex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>claimType_DVA</name>
        <label>claimType_DVA</label>
        <locationX>1656</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_healthFundCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptedDisability_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Referring_Doctor__r.Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_membershipNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Private_Health_Fund_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_GP_Then_Assign_ReferralTypeCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of add_first_JSON_claimable_item</label>
        <locationX>468</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital_and_has_payee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_Bulkbill_body_string</name>
        <label>Copy 1 of assign_Bulkbill_body_string</label>
        <locationX>1656</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_claim_items_collection_payload</name>
        <label>Copy 1 of assign_claim_items_collection_payload</label>
        <locationX>1084</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>payload_claim_items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2Loop_Payload_IN_Hospital_Check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2Loop_Payload_IN_Hospital_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>732</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital_and_has_payee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator_PC</name>
        <label>Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator_PC</label>
        <locationX>1524</locationX>
        <locationY>5306</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_in_hospital_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_GP_AlliedHealth_RefferalTypeCode</name>
        <label>Copy 1 of assign_GP_AlliedHealth_RefferalTypeCode</label>
        <locationX>1788</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>specialist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dva_json_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_json_variables</name>
        <label>Copy 1 of assign_json_variables</label>
        <locationX>2184</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_json_variables_patientclaim</name>
        <label>Copy 1 of assign_json_variables_patientclaim</label>
        <locationX>1392</locationX>
        <locationY>5090</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_isInHospital_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_collection_size_pc_in_hospital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of Copy 1 of add_first_JSON_claimable_item</label>
        <locationX>996</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection_WITH_PAYEE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</name>
        <label>Copy 1 of Copy 1 of assign_Bulkbill_body_string</label>
        <locationX>2184</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_In_Hospital_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_In_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>600</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 1 of Copy 1 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>1260</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_json_collection_WITH_PAYEE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_assign_json_variables</name>
        <label>Copy 1 of Copy 1 of assign_json_variables</label>
        <locationX>600</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1128</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_response_body_assign1</name>
        <label>Copy 1 of Copy 1 of response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulkbill_Body_String_Payee_YES</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BB_In_Hospital_And_Has_Payee_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_add_first_JSON_claimable_item</name>
        <label>Copy 1 of Copy 2 of add_first_JSON_claimable_item</label>
        <locationX>1260</locationX>
        <locationY>5306</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_in_hospital_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Copy_5_of_response_body_assign1</name>
        <label>Copy 1 of Copy 2 of Copy 5 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>8258</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DVA_Body_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DVA_In_Hospital_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_response_body_assign1</name>
        <label>Copy 1 of response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulkbill_Body_String_In_Hospital_YES</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_check_Benefit_Payee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_first_JSON_claimable_item</name>
        <label>Copy 2 of add_first_JSON_claimable_item</label>
        <locationX>1788</locationX>
        <locationY>5306</locationY>
        <assignmentItems>
            <assignToReference>patientclaim_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_Patient_claim_body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_Bulkbill_body_string</name>
        <label>Copy 2 of assign_Bulkbill_body_string</label>
        <locationX>1128</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>Bulkbill_Body_String_Payee_YES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Text_Template_Bulkbill_Benefit_Payee_HAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ispatientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Claimable_Item_JSON_Comma_Seperator</name>
        <label>Copy 2 of Assign_Claimable_Item_JSON_Comma_Seperator</label>
        <locationX>2316</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_json_variables</name>
        <label>Copy 2 of assign_json_variables</label>
        <locationX>1656</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_Patient_claim_body</name>
        <label>Copy 2 of assign_Patient_claim_body</label>
        <locationX>1920</locationX>
        <locationY>5498</locationY>
        <assignmentItems>
            <assignToReference>patient_claim_body_string</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patient_claim_NOT_in_hospital_var_body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_patientclaim_Vars_1</name>
        <label>Copy 2 of Assign_patientclaim_Vars_1</label>
        <locationX>1920</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>patientclaim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_json_variables_patientclaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_assign_json_variables</name>
        <label>Copy 2 of Copy 1 of assign_json_variables</label>
        <locationX>1128</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Date_of_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>1656</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_response_body_assign1</name>
        <label>Copy 2 of Copy 1 of response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>6974</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulkbill_Body_String_Payee_And_In_Hospital_YES</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Patient_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_5_of_response_body_assign1</name>
        <label>Copy 2 of Copy 5 of response_body_assign1</label>
        <locationX>50</locationX>
        <locationY>8558</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DVA_In_Hospital_Body_string</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_response_body_assign1</name>
        <label>Copy 2 of response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>7766</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patient_claim_body_string_IN_Hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_DVA_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_add_first_JSON_claimable_item</name>
        <label>Copy 3 of add_first_JSON_claimable_item</label>
        <locationX>2052</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>bulkbill_collection_in_hospital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_assign_Bulkbill_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</name>
        <label>Copy 3 of Copy 1 of Copy 1 of Assign_bulkbill_Vars</label>
        <locationX>2184</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>funder_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>medicare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bulkbill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceReference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_referralTypeCode_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrerType_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referral_providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPatient.Current_Referral__r.Referring_Doctor_Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_referral_periodType_C</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>healthFundAccount_sex_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.healthFundAccount_sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_facilityId_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_facilityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_lspNumber_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Claim_items.medicare_lspNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_json_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_response_body_assign1</name>
        <label>Copy 3 of response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>7466</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patient_claim_body_string</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_Hospital_Check03_Patient_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_First_JSON_Objects</name>
        <label>Non_First_JSON_Objects</label>
        <locationX>1524</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>dva_json_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dva_json_string_comma_seperator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DVA_body_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>response_body_assign1</name>
        <label>response_body_assign1</label>
        <locationX>94</locationX>
        <locationY>6074</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulkbill_Body_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BB_In_Hospital_Claim</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BB_In_Hospital_And_Has_Payee_Claims</name>
        <label>BB_In_Hospital_And_Has_Payee_Claims</label>
        <locationX>226</locationX>
        <locationY>6866</locationY>
        <defaultConnector>
            <targetReference>Process_Patient_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_In_Hospital_And_Payee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital_and_has_payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_response_body_assign1</targetReference>
            </connector>
            <label>Has_In_Hospital+Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>BB_In_Hospital_Claim</name>
        <label>BB_In_Hospital_Claims</label>
        <locationX>226</locationX>
        <locationY>6266</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_check_Benefit_Payee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital_BB_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_response_body_assign1</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_benefit_payee</name>
        <label>check_benefit_payee</label>
        <locationX>1392</locationX>
        <locationY>3674</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_In_hospital_bulkbill_check01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HAS_benefit_payee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_benefitPayee_providerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_benefitPayee_providerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_hospital_bulkbill_check01</targetReference>
            </connector>
            <label>HAS_benefit_payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_benefit_payee_06</name>
        <label>Check_benefit_payee_main_item</label>
        <locationX>536</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Loop_Payee_Check_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Payee (Filter Out)</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Payee_Check_03.medicare_benefitPayee_providerFullName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Payee_Check_03.medicare_benefitPayee_providerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_payload_item</targetReference>
            </connector>
            <label>Has Payee (Assign)</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Benefit_Payee_bulkbill</name>
        <label>BB_Standard_Claims</label>
        <locationX>226</locationX>
        <locationY>5966</locationY>
        <defaultConnector>
            <targetReference>BB_In_Hospital_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Benefit_Payee_HAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>response_body_assign1</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_collection_size_pc</name>
        <label>check_collection_size_pc</label>
        <locationX>1920</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Assign_Claimable_Item_JSON_Comma_Seperator_PC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 3 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_collection_size_pc_in_hospital</name>
        <label>check_collection_size_pc_in_hospital</label>
        <locationX>1392</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator_PC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_collection_size_pc_in_hospital_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>check_collection_size_pc_in_hospital_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_DVA_Patient</name>
        <label>check_DVA_Patient</label>
        <locationX>1986</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>isbulkbill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_DVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>claimType_DVA</targetReference>
            </connector>
            <label>check_DVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_In_Hospital</name>
        <label>check_In_Hospital</label>
        <locationX>1656</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_patientclaim_Vars_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not_IN_hospital</defaultConnectorLabel>
        <rules>
            <name>check_In_Hospital_claimline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_patientclaim_Vars_1</targetReference>
            </connector>
            <label>In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_inHospital_Main_Claim_item</name>
        <label>check_inHospital_Main_Claim_item</label>
        <locationX>776</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Filter_Out_Payload_items_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not_Hospital_Main_Item</defaultConnectorLabel>
        <rules>
            <name>check_main_Item_for_In_Hospital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle_Medicare_Item_Singular.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Out_Payload_items</targetReference>
            </connector>
            <label>Is_In_Hospital_Main_item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Patient_In_Hospital</name>
        <label>Check_Patient_In_Hospital</label>
        <locationX>1656</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_DVA_Check_collection_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospital</defaultConnectorLabel>
        <rules>
            <name>check_not_in_hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DVA_Check_collection_is_empty</targetReference>
            </connector>
            <label>Not_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>collection_size</name>
        <label>collection_size</label>
        <locationX>1656</locationX>
        <locationY>4106</locationY>
        <defaultConnector>
            <targetReference>Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Collection_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_JSON_claimable_item</targetReference>
            </connector>
            <label>collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_collection_size</name>
        <label>Copy 1 of collection_size</label>
        <locationX>600</locationX>
        <locationY>4106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 1 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_collection_size</name>
        <label>Copy 1 of Copy 1 of collection_size</label>
        <locationX>1128</locationX>
        <locationY>4106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_DVA_Check_collection_is_empty</name>
        <label>Copy 1 of DVA_Check_collection_is_empty</label>
        <locationX>1920</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>add_Non_First_JSON_Objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Assign_Standard_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_first_JSON_object_dva</targetReference>
            </connector>
            <label>Copy 1 of Assign_Standard_Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_Benefit_Payee</name>
        <label>BB_Payee_Claims</label>
        <locationX>226</locationX>
        <locationY>6566</locationY>
        <defaultConnector>
            <targetReference>BB_In_Hospital_And_Has_Payee_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Benefit_Payee_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_response_body_assign1</targetReference>
            </connector>
            <label>has_Benefit_Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_collection_size</name>
        <label>Copy 2 of collection_size</label>
        <locationX>2184</locationX>
        <locationY>4106</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Claimable_Item_JSON_Comma_Seperator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_add_first_JSON_claimable_item</targetReference>
            </connector>
            <label>Copy 2 of collection_is_empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_In_hospital_bulkbill_check01</name>
        <label>Copy 2 of In_hospital_bulkbill_check01</label>
        <locationX>1920</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Hospital</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_is_in_hospital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_Check_collection_is_empty</name>
        <label>DVA_Check_collection_is_empty</label>
        <locationX>1392</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Non_First_JSON_Objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Standard_DVA_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dva_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_first_JSON_object</targetReference>
            </connector>
            <label>Assign_Standard_Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_In_Hospital_Claims</name>
        <label>DVA_In_Hospital_Claims</label>
        <locationX>182</locationX>
        <locationY>8450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital_DVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_5_of_response_body_assign1</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVA_Standard_Claim_Check01</name>
        <label>DVA_Standard_Claims</label>
        <locationX>182</locationX>
        <locationY>8150</locationY>
        <defaultConnector>
            <targetReference>DVA_In_Hospital_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dva_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_5_of_response_body_assign1</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Out_Payload_items</name>
        <label>Filter_Out_Payload_items</label>
        <locationX>556</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>assign_claim_items_collection_payload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospital Item (Assign)</defaultConnectorLabel>
        <rules>
            <name>filter_out_non_hospital_items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2Loop_Payload_IN_Hospital_Check.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2Loop_Payload_IN_Hospital_Check</targetReference>
            </connector>
            <label>Non_Hospital_item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Out_Payload_items_002</name>
        <label>Filter_Out_Payload_items_002</label>
        <locationX>996</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assign_claim_items_collection_payload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Hospital (assign)</defaultConnectorLabel>
        <rules>
            <name>Hospital_Item_Filter_out_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2Loop_Payload_IN_Hospital_Check.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2Loop_Payload_IN_Hospital_Check</targetReference>
            </connector>
            <label>Hospital_Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_GP_Then_Assign_ReferralTypeCode</name>
        <label>If_GP_Then_Assign_ReferralTypeCode</label>
        <locationX>1656</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assign_GP_AlliedHealth_RefferalTypeCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_GP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_referral_referralTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GP_AlliedHealth_RefferalTypeCode</targetReference>
            </connector>
            <label>is_GP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifBulkbill_check_payee</name>
        <label>ifBulkbill_check_payee</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Loop_Claim_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_Payee</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_ifBulkbill_check_payee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle_Medicare_Item_Singular.medicare_benefitPayee_providerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle_Medicare_Item_Singular.medicare_benefitPayee_providerFullName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Payee_Check_03</targetReference>
            </connector>
            <label>Has_Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_hospital_bulkbill_check01</name>
        <label>In_hospital_bulkbill_check01</label>
        <locationX>864</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_in_hospital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.medicare_isInHospital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_bulkbill_Vars</targetReference>
            </connector>
            <label>is_in_hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Hospital_Check03_Patient_Claims</name>
        <label>PC_In_Hospital</label>
        <locationX>226</locationX>
        <locationY>7658</locationY>
        <defaultConnector>
            <targetReference>Process_DVA_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_response_body_assign1</targetReference>
            </connector>
            <label>Yes_In_Hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>isbulkbill</name>
        <label>isbulkbill</label>
        <locationX>1986</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>ispatientclaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isbulkbilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bulkBill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_benefit_payee</targetReference>
            </connector>
            <label>isbulkbilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>ispatientclaim</name>
        <label>check_ispatientclaim</label>
        <locationX>1986</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Loop_Claim_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_ispatientclaim_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>patientclaim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_In_Hospital</targetReference>
            </connector>
            <label>check_ispatientclaim_type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Bulkbilled</name>
        <label>Process_Bulkbilled</label>
        <locationX>380</locationX>
        <locationY>5858</locationY>
        <defaultConnector>
            <targetReference>Process_Patient_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wasBulkBilled_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bulkbill_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_json_collection_WITH_PAYEE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bulkbill_collection_in_hospital_and_has_payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Benefit_Payee_bulkbill</targetReference>
            </connector>
            <label>Yes_Bulkbilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_DVA_Claims</name>
        <label>Process_DVA_Claims</label>
        <locationX>380</locationX>
        <locationY>8042</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_DVA_Claims_03</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dva_claim_line_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DVA_var_collection_in_hospital</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DVA_Standard_Claim_Check01</targetReference>
            </connector>
            <label>Yes_DVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Patient_Claim</name>
        <label>Process_Patient_Claims</label>
        <locationX>380</locationX>
        <locationY>7250</locationY>
        <defaultConnector>
            <targetReference>Process_DVA_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Patient_Claim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patient_claim_in_hospital_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_claim_check</targetReference>
            </connector>
            <label>Yes_Patient_Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_claim_check</name>
        <label>PC_Standard</label>
        <locationX>226</locationX>
        <locationY>7358</locationY>
        <defaultConnector>
            <targetReference>In_Hospital_Check03_Patient_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_patient_claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientclaim_json_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_response_body_assign1</targetReference>
            </connector>
            <label>Yes_Standard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cleanedItemCode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!medicare_claimItems_itemCode_M}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formatted_medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!medicare_claimItems_price_M}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formatted_referral_issueDate_M</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!referral_issueDate_M}, 4)),
    CASE(MID({!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) + 1, FIND(&quot; &quot;, {!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) + 1) - FIND(&quot; &quot;, {!referral_issueDate_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!referral_issueDate_M}, FIND(&quot; &quot;, {!referral_issueDate_M}) - 1))
))</expression>
    </formulas>
    <formulas>
        <name>formatted_referral_period_M</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!referral_period_M}, &quot;Indefinite&quot;),
    &quot;12&quot;,
    LEFT({!referral_period_M}, FIND(&quot; &quot;, {!referral_period_M}) - 1)
)</expression>
    </formulas>
    <formulas>
        <name>formatted_service_date_formula</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!medicare_claimItems_serviceDate_M}, 4)),
    CASE(MID({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) + 1, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) + 1) - FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1))
))</expression>
    </formulas>
    <formulas>
        <name>formatted_sex</name>
        <dataType>String</dataType>
        <expression>LEFT({!unformatted_sex}, 1)</expression>
    </formulas>
    <formulas>
        <name>medicare_referral_periodType_C_formula</name>
        <dataType>String</dataType>
        <expression>IF({!medicare_referral_periodType_C} = &quot;S&quot;, &quot;standard&quot;, &quot;non-standard&quot;)</expression>
    </formulas>
    <formulas>
        <name>patient_dobFormatted_M</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!patient_dobString_M}, 4)),
    CASE(MID({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) + 1, FIND(&quot; &quot;, {!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) + 1) - FIND(&quot; &quot;, {!patient_dobString_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(LEFT({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) - 1))
))</expression>
    </formulas>
    <interviewLabel>DDeveloper_Medipass_[002_Claim_SDK_Payload]_[Subflow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer_Medipass [002_Claim_SDK_Payload]_[Subflow]</label>
    <loops>
        <name>Loop_2Loop_Payload_IN_Hospital_Check</name>
        <label>Loop_Payload_IN_Hospital_Check</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Cycle_Medicare_Items_All</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_inHospital_Main_Claim_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ifBulkbill_check_payee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Claim_items</name>
        <label>Loop_Claim_items_MAIN</label>
        <locationX>380</locationX>
        <locationY>2150</locationY>
        <collectionReference>payload_claim_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_DVA_Patient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Bulkbilled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Payee_Check_03</name>
        <label>Loop_Payee_Check_03</label>
        <locationX>316</locationX>
        <locationY>1574</locationY>
        <collectionReference>Get_Cycle_Medicare_Items_All</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_benefit_payee_06</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Claim_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cycle_Medicare_Item_Singular</name>
        <label>Get_Cycle_Medicare_Item</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Medicare_Items_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Medicare_Items_All</name>
        <label>All_Get_Cycle_Medicare_Items</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPatient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medicare_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Medicare_Claim__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_sex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Medicare_Item_Singular.Related_Cycle__r.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_ID__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Medicare_Number__c</queriedFields>
        <queriedFields>Medicare_Issue_Number__c</queriedFields>
        <queriedFields>Current_Referral__c</queriedFields>
        <queriedFields>Sex_at_Birth__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Medicare_Item_Singular</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Assign_comma_seperator_json_claimable_item_text_template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDate&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>dva_json_collection_IN_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;funder&quot;: &quot;dva&quot;,
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
      &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
      &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
      &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
      &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
      &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
      &quot;healthFundCode&quot;: &quot;DVA&quot;,
      &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
      &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
      &quot;acceptedDisability&quot;: &quot;{!acceptedDisability_M}&quot;
    },
    &quot;dva&quot;: {
        &quot;isInHospital&quot;: true,
         &quot;referral&quot;: {
            &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
            &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;,
            &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
			&quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
            &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;
        },
        &quot;claimItems&quot;: 
        {!dva_json_collection}
    }
  }</text>
    </textTemplates>
    <textTemplates>
        <name>dva_json_item</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDateString&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>dva_json_string_comma_seperator</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDateString&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>DVA_Text_Template_Body_Was_IN_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;funder&quot;: &quot;dva&quot;,
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;patient&quot;: {
    &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;dob&quot;: &quot;{!patient_dobFormatted_M}&quot;,
    &quot;accountNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
    &quot;acceptedDisability&quot;: &quot;Y&quot;
  },
  &quot;claimableItems&quot;: {!dva_json_collection},
  &quot;funderData&quot;: {
    &quot;isInHospital&quot;: true,
    &quot;dva&quot;: {
      &quot;referral&quot;: {
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
        &quot;providerName&quot;: &quot;{!referral_providerName_M}&quot;,
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;
      }
    }
  }
}</text>
    </textTemplates>
    <textTemplates>
        <name>json_bulkbill_claimitem_json</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDate&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!cleanedItemCode}&quot;,
  &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>patient_claim_NOT_in_hospital_var_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;funder&quot;: &quot;{!funder_M}&quot;,
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;funderData&quot;: {
    &quot;medicare&quot;: {
      &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
      &quot;isInHospital&quot;: false,
      &quot;referral&quot;: {
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
        &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C_formula}&quot;
      }
    }
  },
  &quot;patient&quot;: {
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
    &quot;dob&quot;: &quot;{!patient_dobFormatted_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;accountNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;reference&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
  },
  &quot;claimableItems&quot;: {!patientclaim_json_collection}
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;funder&quot;: &quot;{!funder_M}&quot;,
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;funderData&quot;: {
    &quot;medicare&quot;: {
      &quot;isBulkBilled&quot;: &quot;true&quot;,
      &quot;isInHospital&quot;: false,
      &quot;referral&quot;: {
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
        &quot;providerName&quot;: &quot;{!referral_providerName_M}&quot;,
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
        &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C_formula}&quot;
      }
    }
  },
  &quot;patient&quot;: {
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
    &quot;dob&quot;: &quot;{!patient_dobFormatted_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;accountNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;reference&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
  },
  &quot;claimableItems&quot;: {!bulkbill_json_collection}
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_Benefit_Payee_HAS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
        funder: &quot;{!funder_M}&quot;,
        invoiceReference: &quot;{!invoiceReference_O}&quot;,
        providerNumber: &quot;{!providerNumber_M}&quot;,
        benefitPayee: {
            providerNumber: &quot;{!providerNumber_M}&quot;
        },
        funderData: {
            medicare: {
                isBulkBilled: true,
                referral: {
                    referrerType: &quot;{!referrerType_M}&quot;,
                    referralTypeCode: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
                    providerNumber: &quot;{!referral_providerNumber_M}&quot;,
                    issueDateString: &quot;{!formatted_referral_issueDate_M}&quot;,
                    periodType: &quot;{!medicare_referral_periodType_C}&quot;
                }
            }
        },
        patient: {
            refId: &quot;{!patient_refId_O}&quot;,
            firstName: &quot;{!patient_firstName_M}&quot;,
            lastName: &quot;{!patient_lastName_M}&quot;,
            mobile: &quot;{!patient_mobile_O}&quot;,
            dob: &quot;{!patient_dobFormatted_M}&quot;,
            accountNumber: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
            reference: &quot;1&quot;
        },
        claimableItems: {!bulkbill_json_collection}
    }</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
   &quot;funder&quot;: &quot;{!funder_M}&quot;,
   &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
   &quot;patient&quot;: {
     &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
     &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
     &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
     &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
     &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
   },
   &quot;healthFundAccount&quot;: {
     &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
     &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
   },
   &quot;medicare&quot;: {
     &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
     &quot;isInHospital&quot;: true,
     &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
     &quot;referral&quot;: {
       &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
       &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
       &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
       &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
       &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
     },
     &quot;claimItems&quot;: 
       {!bulkbill_collection_in_hospital}
   }
 }</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Bulkbill_Payee_And_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;funder&quot;: &quot;{!funder_M}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
        &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
        &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
        &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
        &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
        &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
        &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
        &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
    },
    &quot;medicare&quot;: {
        &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
        &quot;isInHospital&quot;: true,
        &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
        &quot;referral&quot;: {
            &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
            &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
            &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
            &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,
            &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
        },
        &quot;benefitPayee&quot;: {
            &quot;providerNumber&quot;: &quot;{!medicare_benefitPayee_providerNumber_O}&quot;,
            &quot;providerFullName&quot;: &quot;{!medicare_benefitPayee_providerFullName_O}&quot;
        },
        &quot;claimItems&quot;: {!bulkbill_collection_in_hospital_and_has_payee}
    }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_DVA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;funder&quot;: &quot;dva&quot;,
  &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
  &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
  &quot;patient&quot;: {
    &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
    &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
    &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
    &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
    &quot;dob&quot;: &quot;{!patient_dobFormatted_M}&quot;,
    &quot;accountNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
    &quot;sex&quot;: &quot;{!healthFundAccount_sex_O}&quot;,
    &quot;acceptedDisability&quot;: &quot;Y&quot;
  },
  &quot;claimableItems&quot;: {!dva_json_collection},
  &quot;funderData&quot;: {
    &quot;dva&quot;: {
      &quot;referral&quot;: {
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,
        &quot;providerName&quot;: &quot;{!referral_providerName_M}&quot;,
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;
      }
    }
  }
}</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Text_Template_Patient_Claim_In_Hospital</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;invoiceReference&quot;: &quot;{!invoiceReference_O}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;patient&quot;: {
      &quot;refId&quot;: &quot;{!patient_refId_O}&quot;,
      &quot;firstName&quot;: &quot;{!patient_firstName_M}&quot;,
      &quot;lastName&quot;: &quot;{!patient_lastName_M}&quot;,
      &quot;mobile&quot;: &quot;{!patient_mobile_O}&quot;,
      &quot;dobString&quot;: &quot;{!patient_dobFormatted_M}&quot;
    },
    &quot;healthFundAccount&quot;: {
      &quot;membershipNumber&quot;: &quot;{!healthFundAccount_membershipNumber_M}&quot;,
      &quot;cardRank&quot;: &quot;{!healthFundAccount_cardRank_C}&quot;
    },
    &quot;medicare&quot;: {
      &quot;claimType&quot;: &quot;{!medicare_claimType_M}&quot;,
      &quot;isInHospital&quot;: true,
      &quot;facilityId&quot;: &quot;{!medicare_facilityId_O}&quot;,
      &quot;referral&quot;: {
        &quot;referrerType&quot;: &quot;{!referrerType_M}&quot;,
        &quot;referralTypeCode&quot;: &quot;{!medicare_referral_referralTypeCode_C}&quot;,
        &quot;providerNumber&quot;: &quot;{!referral_providerNumber_M}&quot;,  
        &quot;issueDateString&quot;: &quot;{!formatted_referral_issueDate_M}&quot;,  
        &quot;periodType&quot;: &quot;{!medicare_referral_periodType_C}&quot;
      },
      &quot;claimItems&quot;: 
      {!patientclaim_json_collection}
    }
  }</text>
    </textTemplates>
    <variables>
        <name>acceptedDisability_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_In_Hospital_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_Payee_And_In_Hospital_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulkbill_Body_String_Payee_YES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_claim_line_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>bulkbill_collection_in_hospital</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_collection_in_hospital_and_has_payee</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkbill_json_collection_WITH_PAYEE</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_Body_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_claim_line_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>DVA_In_Hospital_Body_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_in_hospital_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_In_Hospital_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dva_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVA_var_collection_in_hospital</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>funder_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>has_payee_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_cardRank_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_healthFundCode_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_membershipNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAccount_sex_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_assessmentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_explanation_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundAssessment_explanation_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundStatus_status_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>healthFundStatus_status_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceReference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicalEvent_service_scheduleFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_benefitPayee_providerFullName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_benefitPayee_providerNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_accountName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_accountNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_bankName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_bankAccount_bsb_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_dobString_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_firstName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_healthFundAccount_cardRank_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_healthFundAccount_membershipNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_lastName_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_mobile_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_address_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_addressLine2_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_city_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_postalAddress_postcode_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimant_refId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accessionDate_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accessionTime_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_accountReferenceNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_afterCareOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_collectionDate_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_collectionTime_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_duplicateServiceOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_duration_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_fieldQuantity_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_itemCode_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_multipleProcedureOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_numberOfPatientsSeen_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_patientContributionAmount_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_reference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_restrictiveOverride_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_rule3ExemptIndicator_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_s4b3ExemptIndicator_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_scpId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_selfDeemedCode_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_serviceDate_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimType_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_facilityId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_isInHospital_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_lspNumber_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_nonReferral_description_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_nonReferral_reason_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_issueDateString_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_period_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_periodType_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_providerFullName_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_providerNumber_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_referralTypeCode_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_referral_referrerType_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareAssessment_claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareAssessment_medicalEvent_service_explanationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareStatus_status_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicareStatus_status_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_body_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_body_string_IN_Hospital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_in_hospital_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_claim_record_collection_claim_lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>patient_dobString_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_email_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_firstName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_lastName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_mobile_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_refId_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientclaim_json_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payload_claim_items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>providerNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2429581T</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_issueDate_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_period_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_providerName_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referral_providerNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referrerType_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_collection_body</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sdk_payload_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unformatted_sex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>was_In_Hospital_decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
