force-app/main/default/flows/Discard_Semen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_to_All_Semen_Samples</name>
        <label>Assign to All Semen Samples</label>
        <locationX>171</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>ALLSemenSamples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Semen_Sample</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discard_warning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Semen_Samples</name>
        <label>Count Semen Samples</label>
        <locationX>276</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>CountSemenVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Semen_Samples</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Greater_than_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Greater_than_1</name>
        <label>Count Greater than 1</label>
        <locationX>167</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>Assign_to_All_Semen_Samples</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Semen_Samples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_All_Semen_Samples</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Semen_Screen</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <interviewLabel>Discard Semen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discard Semen</label>
    <loops>
        <name>Loop_Semen_Smaples</name>
        <label>Loop Semen Smaples</label>
        <locationX>171</locationX>
        <locationY>875</locationY>
        <collectionReference>ALLSemenSamples</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Semen_Sample</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Semen_Samples</name>
        <label>Get All Semen Samples</label>
        <locationX>175</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Semen_Samples</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Sample.Donor_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sperm_Consumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Sample</name>
        <label>Get Semen Sample</label>
        <locationX>177</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Semen_Samples</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Semen_Sample</name>
        <label>Update Semen Sample</label>
        <locationX>342</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Loop_Semen_Smaples</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Semen_Smaples.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Straws_Remaining__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Sperm_Sample__c</object>
    </recordUpdates>
    <screens>
        <name>Discard_warning</name>
        <label>Discard Warning</label>
        <locationX>171</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Loop_Semen_Smaples</targetReference>
        </connector>
        <fields>
            <name>DisposalText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;You are about to discard this sample. Please ensure that you have all necessary paper work required. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Discard</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Semen_Screen</name>
        <label>Select Semen Screen</label>
        <locationX>340</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Discard_warning</targetReference>
        </connector>
        <fields>
            <name>DiscardTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sperm_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Semen_Samples</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Donor_Owner__c,Collection_Date__c,Date_Frozen__c,Storage_Location_new__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Donor_Owner__c:235, Collection_Date__c:235, Date_Frozen__c:235, Storage_Location_new__c:235</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ALLSemenSamples</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Semen_Sample</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALLSemenSamples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>CountSemenVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
