force-app/main/default/flows/Display_Semen_Samples_on_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Male_Collection</name>
        <label>Assign Male Collection</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AllSemen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Semen_Samples</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Males</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_By_Newsest_Sample</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Newsiest Sample</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSemen</collectionReference>
        <connector>
            <targetReference>Samples_Available</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Collection_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Null_Semen</name>
        <label>Null Semen</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Male_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Semen_Samples</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Males</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Samples_Available</name>
        <label>Samples Available?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>No_Semen_Samples</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Samples</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllSemen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Screen</targetReference>
            </connector>
            <label>Yes Samples</label>
        </rules>
    </decisions>
    <description>Displays all semen samples on a cycle that any male in the household has on file</description>
    <environments>Default</environments>
    <interviewLabel>Display Semen Samples on Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Semen Samples on Cycle</label>
    <loops>
        <name>Loop_Males</name>
        <label>Loop Males</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Males_in_Household</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Semen_Samples</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_By_Newsest_Sample</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Males_in_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Males_in_Household</name>
        <label>Get Males in Household</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Males</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Male__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Samples</name>
        <label>Get Semen Samples</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Semen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Males.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Males.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SemenTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sperm_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sperm_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllSemen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Donor_Name__c,Name,Analysis_Date_Time__c,Sperm_Concentration__c,Total_Motility__c,Total_Motile_Count__c,Post_Thaw_Total_Motile_Count__c,Concentration__c,Post_Thaw_Total_Motility__c,Number_of_Straws_Remaining__c,Storage_Location_Lookup__c,Storage_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Sample, Analysis_Date_Time__c:Date, Sperm_Concentration__c:Concentration, Total_Motility__c:TM, Total_Motile_Count__c:TMC, Post_Thaw_Total_Motile_Count__c:PT TMC, Concentration__c:PT Concentration, Post_Thaw_Total_Motility__c:PT TM, Number_of_Straws_Remaining__c:# Straws Remaining</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Donor_Name__c:120, Name:110, Analysis_Date_Time__c:120, Sperm_Concentration__c:145, Total_Motility__c:120, Total_Motile_Count__c:98, Post_Thaw_Total_Motile_Count__c:145, Concentration__c:142, Post_Thaw_Total_Motility__c:98, Number_of_Straws_Remaining__c:180, Storage_Location_Lookup__c:151, Storage_Date__c:135</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Post_Thaw_Total_Motile_Count__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Semen_Samples</name>
        <label>No Semen Samples</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This household does not have any semen samples logged against it. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllMales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllSemen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
