force-app/main/default/flows/Display_Egg_Cohort_on_Egg_Freeze_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Display Egg Cohort on Egg Freeze Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Egg Cohort on Egg Freeze Cycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>478</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohorts</name>
        <label>Get Egg Cohorts</label>
        <locationX>686</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eggs_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Eggs_Display</name>
        <label>Eggs Display</label>
        <locationX>903</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Embryo_Screen_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Number_of_Eggs_Collected__c,Total_Number_Currently_Frozen__c,Storage_Location_Lookup__c,Storage_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:114, Total_Number_of_Eggs_Collected__c:221, Total_Number_Currently_Frozen__c:210, Storage_Location_Lookup__c:203, Storage_Date__c:211</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Embryo_Auto_Number_Display__c:false, Insemination_Type__c:false, Fertilisation_Status__c:true, Day_3_Cell_Number__c:false, Day_3_Fragmentation__c:true, Day_3_Grade__c:true, Day_3_Other__c:true, Day_5_Cell_Number__c:false, Day_5_Fragmentation__c:true, Day_5_Grade__c:true, Day_5_Other__c:true, Day_6_Cell_Number__c:false, Day_6_Fragmentation__c:true, Day_6_Grade__c:true, Day_6_Other__c:true, Embryo_Status__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:#, Insemination_Type__c:Ins, Fertilisation_Status__c:F, Day_3_Cell_Number__c:D3C, Day_3_Fragmentation__c:D3F, Day_3_Grade__c:D3G, Day_3_Other__c:D3O, Day_5_Cell_Number__c:D5C, Day_5_Fragmentation__c:D5F, Day_5_Grade__c:D5G, Day_5_Other__c:D5O, Day_6_Cell_Number__c:D6C, Day_6_Fragmentation__c:D6F, Day_6_Grade__c:D6G, Day_6_Other__c:D6O</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Egg_Cohorts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>63</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmbryoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEmbryo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdateEmbryos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
