force-app/main/default/flows/Display_Egg_Cohort_Details_on_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Display Egg Cohort Details on Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Egg Cohort Details on Cycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Egg_Cohort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Egg_Cohort__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Egg_Cohort</name>
        <label>Egg Cohort</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Number_of_Eggs_Collected</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.Total_Number_of_Eggs_Collected__c</elementReference>
            </defaultValue>
            <fieldText>Number of Eggs Collected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MII</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.MII_Rollup__c</elementReference>
            </defaultValue>
            <fieldText>MII</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MI</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.MI_Rollup__c</elementReference>
            </defaultValue>
            <fieldText>MI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Abn</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.Abn_Summary__c</elementReference>
            </defaultValue>
            <fieldText>Abn</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>GV</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.GV_Rollup__c</elementReference>
            </defaultValue>
            <fieldText>GV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RZ</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.RZ_Roll_up__c</elementReference>
            </defaultValue>
            <fieldText>RZ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>EZ</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Egg_Cohort.EZ_Summary__c</elementReference>
            </defaultValue>
            <fieldText>EZ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
