force-app/main/default/flows/Display_Cycle_Day_Event_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_API_Name</name>
        <label>Get API Name</label>
        <locationX>653</locationX>
        <locationY>190</locationY>
        <actionName>GetObjectAPIName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectAPIName</nameSegment>
        <outputParameters>
            <assignToReference>ObjectName</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>879</locationX>
        <locationY>1221</locationY>
        <assignmentItems>
            <assignToReference>Valid1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_0</name>
        <label>Assign 1</label>
        <locationX>954</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>Valid2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_0_0</name>
        <label>Assign 1</label>
        <locationX>1029</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>Valid3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_0_0_0</name>
        <label>Assign 1</label>
        <locationX>1104</locationX>
        <locationY>1446</locationY>
        <assignmentItems>
            <assignToReference>Valid4</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_0_0_0_0</name>
        <label>Assign 1</label>
        <locationX>1179</locationX>
        <locationY>1521</locationY>
        <assignmentItems>
            <assignToReference>Valid5</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>322</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Value</name>
        <label>Null Value</label>
        <locationX>307</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>ViewMedication.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Value_0</name>
        <label>Null Value</label>
        <locationX>646</locationX>
        <locationY>1712</locationY>
        <assignmentItems>
            <assignToReference>ViewMedication.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Display_Results_Expanded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Value_0_0</name>
        <label>Null Value</label>
        <locationX>484</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>ViewMedication.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewMedication_0_0.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Display_Results_Only</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Column_Blood_Decision</name>
        <label>Column Blood Decision</label>
        <locationX>1103</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>Loop_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Results.Medication_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_0_0_0_0</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Results.Medication_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_0_0_0</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Results.Medication_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_0_0</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Results.Medication_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_0</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Results.Medication_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cycle_Found</name>
        <label>Cycle Found?</label>
        <locationX>640</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle_Day_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_linked_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Cycle</targetReference>
            </connector>
            <label>No linked Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Cycle_Days</name>
        <label>No Cycle Days?</label>
        <locationX>580</locationX>
        <locationY>991</locationY>
        <defaultConnector>
            <targetReference>Loop_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle_Day_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cycle_Days</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>643</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Screen</name>
        <label>Routing Screen</label>
        <locationX>470</locationX>
        <locationY>1760</locationY>
        <defaultConnector>
            <targetReference>Null_Value_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_Compact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ViewMedication.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewMedication_0.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewMedication_0_0.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Value</targetReference>
            </connector>
            <label>Redirect Compact</label>
        </rules>
        <rules>
            <name>Redirect_Expanded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ViewMedication.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewMedication_0.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewMedication_0_0.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Value_0</targetReference>
            </connector>
            <label>Redirect Expanded</label>
        </rules>
    </decisions>
    <decisions>
        <name>View_Preference</name>
        <label>View Preference</label>
        <locationX>516</locationX>
        <locationY>1220</locationY>
        <defaultConnector>
            <targetReference>Display_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Results</targetReference>
            </connector>
            <label>Compact</label>
        </rules>
        <rules>
            <name>Results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Results_Only</targetReference>
            </connector>
            <label>Results</label>
        </rules>
        <rules>
            <name>Expanded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Results_Expanded</targetReference>
            </connector>
            <label>Expanded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Display Cycle Day Event Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Cycle Day Event Records</label>
    <loops>
        <name>Loop_Results</name>
        <label>Loop Results</label>
        <locationX>638</locationX>
        <locationY>1088</locationY>
        <collectionReference>Get_Cycle_Day_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Column_Blood_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>View_Preference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>649</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Day_Events</name>
        <label>Get Cycle Day Events</label>
        <locationX>637</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Cycle_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day_Events__c</object>
        <sortField>Day_Cycle_Number_Formula__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>343</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Results</name>
        <label>Display Results Compact</label>
        <locationX>339</locationX>
        <locationY>1347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Routing_Screen</targetReference>
        </connector>
        <fields>
            <name>ViewMedication</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:choice&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:all&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:sentiment_negative&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Table_Test</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day_Events__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Day_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Compact_Day_Display__c&quot;,&quot;guid&quot;:&quot;column-c69d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Day&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Compact Day Display&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Medications__c&quot;,&quot;guid&quot;:&quot;column-720f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Medications&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;E2_Text__c&quot;,&quot;guid&quot;:&quot;column-e13e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;E2&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;E2 Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LH_Text__c&quot;,&quot;guid&quot;:&quot;column-027f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;LH&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;LH Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;P4_Text__c&quot;,&quot;guid&quot;:&quot;column-cc1c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;P4&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;P4 Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;HCG_Text__c&quot;,&quot;guid&quot;:&quot;column-bcb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;HCG&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;HCG Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Doctors_Comments__c&quot;,&quot;guid&quot;:&quot;column-79ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Doctor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Doctors Comments&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Nursing_Notes_Long__c&quot;,&quot;guid&quot;:&quot;column-36d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nursing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Nursing Notes Long&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Results_Expanded</name>
        <label>Display Results Expanded</label>
        <locationX>618</locationX>
        <locationY>1401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Routing_Screen</targetReference>
        </connector>
        <fields>
            <name>ViewMedication_0_0</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:choice&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:all&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:sentiment_negative&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ResultsDisplay_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day_Events__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day_Events__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Day_Name__c,Day_of_Week__c,Cycle_Day_Date__c,Medications__c,Procedures__c,Doctors_Comments__c,Nursing_Notes_Long__c,E2_Text__c,LH_Text__c,P4_Text__c,HCG_Text__c,Ovulated__c,Have_Sex__c,Number_of_Follicles_Over_11mm_Left__c,Number_of_Follicles_Over_11mm_Right__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:90, Cycle_Day_Name__c:82, Day_of_Week__c:90, Cycle_Day_Date__c:98, Medications__c:274, Procedures__c:168, Doctors_Comments__c:209, Nursing_Notes_Long__c:221, E2_Text__c:80, LH_Text__c:77, P4_Text__c:89, HCG_Text__c:67, Ovulated__c:68, Have_Sex__c:65, Number_of_Follicles_Over_11mm_Left__c:50, Number_of_Follicles_Over_11mm_Right__c:56</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:ID, Cycle_Day_Name__c:Cycle Day, E2_Text__c:E2, LH_Text__c:LH, P4_Text__c:P4, HCG_Text__c:HCG, Ovulated__c:OV, Have_Sex__c:Sex, Number_of_Follicles_Over_11mm_Left__c:L, Number_of_Follicles_Over_11mm_Right__c:R, Nursing_Notes_Long__c:Nursing Notes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Day_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Cycle_Day_Name__c:false, Day_of_Week__c:false, Cycle_Day_Date__c:false, Medications__c:true, Doctors_Comments__c:true, E2__c:false, LH__c:false, P4__c:false, HCG_Text__c:false, Ovulated__c:false, Have_Sex__c:false, Number_of_Follicles_Over_11mm_Left__c:false, Number_of_Follicles_Over_11mm_Right__c:false, Nursing_Notes_Long__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Ovulated__c:true, Have_Sex__c:true, Doctors_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Cycle Day Events</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:asset_relationship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <stringValue>0:{class: slds-border_right}; 1:{class: slds-border_right}; 2:{class: slds-border_right}; 3:{class: slds-border_right}; 4:{class: slds-border_right}; 5:{class: slds-border_right}; 6:{class: slds-border_right}; 7:{class: slds-border_right}; 8:{class: slds-border_right}; 9:{class: slds-border_right}; 10:{class: slds-border_right}; 11:{class: slds-border_right}; 12:{class: slds-border_right}; 13:{class: slds-border_right}; 14:{class: slds-border_right}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Results_Only</name>
        <label>Display Results</label>
        <locationX>515</locationX>
        <locationY>1361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Routing_Screen</targetReference>
        </connector>
        <fields>
            <name>ViewMedication_0</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:choice&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:all&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:sentiment_negative&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ResultsDisplay_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day_Events__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day_Events__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Day_Name__c,Day_of_Week__c,Cycle_Day_Date__c,E2_Text__c,LH_Text__c,P4_Text__c,HCG_Text__c,Number_of_Follicles_Over_11mm_Left__c,Number_of_Follicles_Over_11mm_Right__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:90, Cycle_Day_Name__c:82, Day_of_Week__c:90, Cycle_Day_Date__c:98, E2_Text__c:80, LH_Text__c:77, P4_Text__c:89, HCG_Text__c:67, Number_of_Follicles_Over_11mm_Left__c:50, Number_of_Follicles_Over_11mm_Right__c:56</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:ID, Cycle_Day_Name__c:Cycle Day, E2_Text__c:E2, LH_Text__c:LH, P4_Text__c:P4, HCG_Text__c:HCG, Ovulated__c:OV, Have_Sex__c:Sex, Number_of_Follicles_Over_11mm_Left__c:L, Number_of_Follicles_Over_11mm_Right__c:R, Nursing_Notes_Long__c:Nursing Notes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Day_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Cycle_Day_Name__c:false, Day_of_Week__c:false, Cycle_Day_Date__c:false, Medications__c:true, Doctors_Comments__c:true, E2__c:false, LH__c:false, P4__c:false, HCG_Text__c:false, Ovulated__c:false, Have_Sex__c:false, Number_of_Follicles_Over_11mm_Left__c:false, Number_of_Follicles_Over_11mm_Right__c:false, Nursing_Notes_Long__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Ovulated__c:true, Have_Sex__c:true, Doctors_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Cycle Day Events</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:asset_relationship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <stringValue>0:{class: slds-border_right}; 1:{class: slds-border_right}; 2:{class: slds-border_right}; 3:{class: slds-border_right}; 4:{class: slds-border_right}; 5:{class: slds-border_right}; 6:{class: slds-border_right}; 7:{class: slds-border_right}; 8:{class: slds-border_right}; 9:{class: slds-border_right}; 10:{class: slds-border_right}; 11:{class: slds-border_right}; 12:{class: slds-border_right}; 13:{class: slds-border_right}; 14:{class: slds-border_right}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Cycle</name>
        <label>No Cycle</label>
        <locationX>892</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NOnfountext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;There is no cycle linked to this task. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>527</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>Get_API_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Cycle_Days</name>
        <label>Create Cycle Days</label>
        <locationX>316</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Get_Cycle_Day_Events</targetReference>
        </connector>
        <flowName>Cycle_Day_Create_Events</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valid1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valid2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valid3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valid4</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valid5</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
