force-app/main/default/flows/Display_All_Genetic_Material_On_Household.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Eggs</name>
        <label>Assign Eggs</label>
        <locationX>678</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>AllEggsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Cohort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Household_ID</name>
        <label>Assign Household ID</label>
        <locationX>399</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Embryos</name>
        <label>Count Embryos</label>
        <locationX>171</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>EmbryoCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Embryos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SemenCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SemenRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllEggsVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Semen_Assignmnet</name>
        <label>Semen Assignment</label>
        <locationX>355</locationX>
        <locationY>1455</locationY>
        <assignmentItems>
            <assignToReference>SemenRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Semen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Semen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Householder_or_Patient</name>
        <label>Householder or Patient</label>
        <locationX>188</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Get_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Eggs_Null</name>
        <label>Is Eggs Null?</label>
        <locationX>487</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Egg_Cohort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Patinets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Eggs_Null_0</name>
        <label>Is Eggs Null?</label>
        <locationX>787</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Assign_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Eggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Egg_Cohort</targetReference>
            </connector>
            <label>No Eggs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Semen_Null</name>
        <label>Is Semen Null?</label>
        <locationX>350</locationX>
        <locationY>1303</locationY>
        <defaultConnector>
            <targetReference>Semen_Assignmnet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Semen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Semen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <interviewLabel>Display All Genetic Material On Household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display All Genetic Material On Household</label>
    <loops>
        <name>Egg_Cohort</name>
        <label>Egg Cohort</label>
        <locationX>532</locationX>
        <locationY>1087</locationY>
        <collectionReference>Get_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Patinets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Patinets</name>
        <label>Loop Patients</label>
        <locationX>180</locationX>
        <locationY>993</locationY>
        <collectionReference>Get_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Semen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Semen</name>
        <label>Loop Semen</label>
        <locationX>169</locationX>
        <locationY>1300</locationY>
        <collectionReference>Get_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Semen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Eggs</name>
        <label>Get All Eggs</label>
        <locationX>677</locationX>
        <locationY>1039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Eggs_Null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Egg_Cohort.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>496</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Eggs_Null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Patinets.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reserved_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>170</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Embryos</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PGT Testing In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>188</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>395</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patients</name>
        <label>Get Patients</label>
        <locationX>187</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Patinets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen</name>
        <label>Get Semen</label>
        <locationX>357</locationX>
        <locationY>1170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Semen_Null</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Semen.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Frozen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Straws_Remaining__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sperm_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>174</locationX>
        <locationY>1753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>End_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmbryosText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Embryos (&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!EmbryoCount}&lt;/b&gt;&lt;b&gt;)&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Embryos</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Embryo__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Embryo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Embryos</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Cycle_Day__c,Storage_Date__c,Embryo_Status__c,PGT_Result__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:133, Cycle_Day__c:70, Storage_Date__c:140, Embryo_Status__c:128, PGT_Result__c:148</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Cycle_Day__c:Day</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SemenText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Semen ({!SemenCount})&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Semen</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Sperm_Sample__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Sperm_Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>SemenRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Number_of_Straws_Remaining__c,Storage_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Number_of_Straws_Remaining__c:84, Storage_Date__c:197</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Number_of_Straws_Remaining__c:# Straws</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>End_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Eggs</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Eggs ({!EggCount})&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EggTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Egg__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Egg__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AllEggsVar</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Age_of_Egg_at_OPU__c,Fate__c,Storage_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:139, Age_of_Egg_at_OPU__c:164, Fate__c:102, Storage_Date__c:141</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Householder_or_Patient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllEggsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggCohorts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Sample__c</objectType>
    </variables>
    <variables>
        <name>EggCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmbryoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SemenRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sperm_Sample__c</objectType>
    </variables>
</Flow>
