force-app/main/default/flows/Doctor_s_Cycle_Display_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_AFC_Value</name>
        <label>Assign AFC Value</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ResultsVar.Antral_Follicle_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AFC_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.Patients_or_Donors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0129o0000004I7aAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.Result_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Antral Follicle Count</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AMH_Value</name>
        <label>Assign AMH Value</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ResultsVar.Anti_Mullerian_Hormone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_AMH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.Patients_or_Donors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0129o0000004I7aAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultsVar.Result_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anti Mullerian Hormone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Null_Button_Value</name>
        <label>Copy 1 of Null Button Value</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AddResultsButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AMH_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Button_Value</name>
        <label>Null Button Value</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AddResultsButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AFC_Entry</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_Filter_AFC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 1 of Filter AFC</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_AMH_Result</collectionReference>
        <connector>
            <targetReference>Get_AMH</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Anti_Mullerian_Hormone__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_AFC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Filter AFC</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_AFC_Result</collectionReference>
        <connector>
            <targetReference>Get_AFC</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Collected__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Add_Which_Result</name>
        <label>Add Which Result</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddResultsButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add AFC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Button_Value</targetReference>
            </connector>
            <label>AFC</label>
        </rules>
        <rules>
            <name>AMH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddResultsButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add AMH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Null_Button_Value</targetReference>
            </connector>
            <label>AMH</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DisplayAMH</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Single_Result_AMH.Anti_Mullerian_Hormone__c}), &quot;Patient Does Not Have AMH Logged&quot;, &quot;AMH = &quot; &amp; TEXT({!Get_Single_Result_AMH.Anti_Mullerian_Hormone__c}))</expression>
    </formulas>
    <formulas>
        <name>DisplayResult</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Single_Results.Antral_Follicle_Count__c}), &quot;Patient Does Not Have AFC Logged&quot;, &quot;AFC = &quot; &amp; TEXT({!Get_Single_Results.Antral_Follicle_Count__c}))</expression>
    </formulas>
    <interviewLabel>Doctor&apos;s Cycle Display flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Flow - Doctor&apos;s Contact Page</label>
    <loops>
        <name>Get_AFC</name>
        <label>Get AFC</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_AFC_Result</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Results</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_AMH</name>
        <label>Get AMH</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_AMH_Result</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Result_AMH</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AFC_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Result</name>
        <label>Create Result</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <inputReference>ResultsVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AFC_Result</name>
        <label>Get AFC Result</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_AFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patients_or_Donors__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Antral_Follicle_Count__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AMH_Result</name>
        <label>Get AMH Result</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Filter_AFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patients_or_Donors__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anti_Mullerian_Hormone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AMH_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Result_AMH</name>
        <label>Get Single Result AMH</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AMH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AMH.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Results</name>
        <label>Get Single Results</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AFC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AFC_Entry</name>
        <label>AFC Entry</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AFC_Value</targetReference>
        </connector>
        <fields>
            <name>AFC_Value</name>
            <dataType>Number</dataType>
            <fieldText>AFC Value</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AMH_Entry</name>
        <label>AMH Entry</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AMH_Value</targetReference>
        </connector>
        <fields>
            <name>New_AMH</name>
            <dataType>Number</dataType>
            <fieldText>New AMH</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Which_Result</targetReference>
        </connector>
        <fields>
            <name>Display_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Get_Patient.First_Name__c} &lt;/strong&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Patient.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Birthday</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Birthdate: {!Get_Patient.Birthdate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Age</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Age: {!Get_Patient.Age__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Id</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Patient ID: {!Get_Patient.Patient_Id__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Mobile: {!Get_Patient.Mobile__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoAFCText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!DisplayResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AMHDisplay</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!DisplayAMH}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ResultEntryText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;If you&apos;d like to enter a new &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;AFC/AMH &lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;value, please select from one of the options below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddResultsButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add AFC&quot;,&quot;value&quot;:&quot;Add AFC&quot;,&quot;descriptionText&quot;:&quot;Add an AFC Result.&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:activity&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add AMH&quot;,&quot;value&quot;:&quot;Add AMH&quot;,&quot;descriptionText&quot;:&quot;Add and AMH Result&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AFCVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultsVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
</Flow>
