force-app/main/default/flows/Egg_Thaw_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Egg_EVent</name>
        <label>Assign Egg EVent</label>
        <locationX>1085</locationX>
        <locationY>1760</locationY>
        <assignmentItems>
            <assignToReference>EggEventVar.Egg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thawed_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eggs_to_Egg_Collection</name>
        <label>Assign Eggs to Egg Collection</label>
        <locationX>1073</locationX>
        <locationY>1167</locationY>
        <assignmentItems>
            <assignToReference>AllFrozenEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ICons</name>
        <label>Assign ICons</label>
        <locationX>431</locationX>
        <locationY>1384</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Selected_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Cryo_Date</name>
        <label>Assign Initial Cryo Date</label>
        <locationX>1231</locationX>
        <locationY>1635</locationY>
        <assignmentItems>
            <assignToReference>InitialCryoDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitialCryoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ANZARD_Cycle_Data_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All</name>
        <label>Assign to All</label>
        <locationX>978</locationX>
        <locationY>1837</locationY>
        <assignmentItems>
            <assignToReference>AllEggEventsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EggEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Egg_Cohorts</name>
        <label>Assign to All Egg Cohorts</label>
        <locationX>1138</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>AllEggCohorts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Egg_Single_Cohorts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Females</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>814</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>AllFemales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Female</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Females</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Eggs</name>
        <label>Count Selected Eggs</label>
        <locationX>380</locationX>
        <locationY>1539</locationY>
        <assignmentItems>
            <assignToReference>ThawedEggsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EggsfroThaw</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thawed_Eggs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Donor</name>
        <label>Donor?</label>
        <locationX>908</locationX>
        <locationY>1708</locationY>
        <defaultConnector>
            <targetReference>Loop_Thawed_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thawed_Eggs.Egg_Cohort__r.Donor_Owner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Cycle.Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ANZARD_Cycle_Data_0_0</targetReference>
            </connector>
            <label>Yes Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Egg_Type</name>
        <label>Egg Type</label>
        <locationX>872</locationX>
        <locationY>1346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Egg_fate.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Eggs</targetReference>
            </connector>
            <label>Survived</label>
        </rules>
        <rules>
            <name>Discarded_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Egg_fate.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Eggs_0_0</targetReference>
            </connector>
            <label>Discarded</label>
        </rules>
        <rules>
            <name>No_Egg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Egg_fate.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Egg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Eggs_0_0_0</targetReference>
            </connector>
            <label>No Egg</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Egg_Cohort_Null</name>
        <label>Get Egg Cohort Null</label>
        <locationX>1162</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Assign_to_All_Egg_Cohorts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Egg_Single_Cohorts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Females</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Egg_Cohort_Null_0</name>
        <label>Get Eggs Null</label>
        <locationX>1077</locationX>
        <locationY>1035</locationY>
        <defaultConnector>
            <targetReference>Assign_Eggs_to_Egg_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Egg_Cohorts</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Scientist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InitialCryoFormula</name>
        <dataType>Date</dataType>
        <expression>IF({!Loop_Thawed_Eggs.Initial_Cryopreservation_Date__c} = NULL, {!Loop_Thawed_Eggs.Storage_Date__c}, {!Loop_Thawed_Eggs.Initial_Cryopreservation_Date__c})</expression>
    </formulas>
    <formulas>
        <name>TotalEggsSurvived</name>
        <dataType>Number</dataType>
        <expression>{!ThawedEggsCount}-{!EggsDiscarded}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Egg Thaw Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Egg Thaw Event</label>
    <loops>
        <name>Loop_Egg_Cohorts</name>
        <label>Loop Egg Cohorts</label>
        <locationX>535</locationX>
        <locationY>1004</locationY>
        <collectionReference>AllEggCohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Egg_Thaw_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Females</name>
        <label>Loop Females</label>
        <locationX>525</locationX>
        <locationY>606</locationY>
        <collectionReference>Get_Related_Females</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Female</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_Females</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Females</name>
        <label>Loop Selected Females</label>
        <locationX>526</locationX>
        <locationY>829</locationY>
        <collectionReference>AllFemales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Egg_Single_Cohorts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Egg_Cohorts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thawed_Eggs</name>
        <label>Loop Thawed Eggs</label>
        <locationX>532</locationX>
        <locationY>1611</locationY>
        <collectionReference>EggsfroThaw</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Thawed_Egg_Fate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Egg_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Egg_Events</name>
        <label>Create Egg Events</label>
        <locationX>529</locationX>
        <locationY>1782</locationY>
        <connector>
            <targetReference>Create_Egg_Thaw_Event</targetReference>
        </connector>
        <inputReference>AllEggEventsVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Thaw_Event</name>
        <label>Create Egg Thaw Event</label>
        <locationX>395</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Egg_Freeze_Date__c</field>
            <value>
                <elementReference>InitialCryoDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Eggs_Thawed__c</field>
            <value>
                <elementReference>ThawedEggsCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Eggs_that_Survived__c</field>
            <value>
                <elementReference>TotalEggsSurvived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Date_and_Time_of_Thaw</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Egg_Thaw_Event_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_Performing_Event__c</field>
            <value>
                <elementReference>Scientist_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>525</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Females</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Single_Cohorts</name>
        <label>Get Egg Single Cohorts</label>
        <locationX>809</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Females.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reserved_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>869</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort_Null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Egg_Cohorts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Female</name>
        <label>Get Female</label>
        <locationX>947</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Females.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sex_at_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Females</name>
        <label>Get Related Females</label>
        <locationX>526</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Females</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Female__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>521</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ANZARD_Cycle_Data_0</name>
        <label>Update ANZARD  Cycle Data</label>
        <locationX>1258</locationX>
        <locationY>1781</locationY>
        <connector>
            <targetReference>Assign_Egg_EVent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DON_AGE__c</field>
            <value>
                <elementReference>Loop_Thawed_Eggs.Age_of_Egg_at_OPU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FDAT_EGG__c</field>
            <value>
                <elementReference>Loop_Thawed_Eggs.Initial_Cryopreservation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ANZARD_Cycle_Data_0_0</name>
        <label>Update ANZARD  Cycle Data</label>
        <locationX>824</locationX>
        <locationY>1578</locationY>
        <connector>
            <targetReference>Loop_Thawed_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DON_AGE__c</field>
            <value>
                <elementReference>Loop_Thawed_Eggs.Egg_Cohort__r.Donor_Owner__r.Age__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>536</locationX>
        <locationY>2247</locationY>
        <connector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>SelectedEggCohort.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Thaw_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD</name>
        <label>Update Cycle ANZARD</label>
        <locationX>696</locationX>
        <locationY>2358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_V_EGTH__c</field>
            <value>
                <elementReference>ThawedEggsCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>1105</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Assign_Initial_Cryo_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Thawed_Eggs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Denuded</stringValue>
            </value>
        </inputAssignments>
        <object>Egg__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs_0_0</name>
        <label>Update Eggs</label>
        <locationX>1041</locationX>
        <locationY>1436</locationY>
        <connector>
            <targetReference>Assign_Initial_Cryo_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Thawed_Eggs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </inputAssignments>
        <object>Egg__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs_0_0_0</name>
        <label>Update Eggs</label>
        <locationX>927</locationX>
        <locationY>1485</locationY>
        <connector>
            <targetReference>Assign_Initial_Cryo_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Thawed_Eggs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <stringValue>No Oocyte</stringValue>
            </value>
        </inputAssignments>
        <object>Egg__c</object>
    </recordUpdates>
    <screens>
        <name>Egg_Thaw_Screen</name>
        <label>Egg Thaw Screen</label>
        <locationX>517</locationX>
        <locationY>1163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Egg_Cohort</targetReference>
        </connector>
        <fields>
            <name>Date_and_Time_of_Thaw</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date and Time of Thaw</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scientist_picklist</name>
            <choiceReferences>Scientist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Egg_Cohort</name>
        <label>Select Egg Cohort</label>
        <locationX>536</locationX>
        <locationY>1268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ICons</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Cycle.Flow_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EggsSelection</name>
            <fieldText>&lt;p&gt;Select the eggs you want to thaw.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EggsSelectionTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllFrozenEggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Storage_Date__c,Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:156, Storage_Date__c:156, Storage_Location__c:156</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EggsfroThaw</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thawed_Egg_Fate</name>
        <label>Thawed Egg Fate</label>
        <locationX>769</locationX>
        <locationY>1420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Egg_Type</targetReference>
        </connector>
        <fields>
            <name>Egg_fate</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Survived&quot;,&quot;value&quot;:&quot;Survived&quot;},{&quot;label&quot;:&quot;Discarded&quot;,&quot;value&quot;:&quot;Discarded&quot;},{&quot;label&quot;:&quot;No Egg&quot;,&quot;value&quot;:&quot;No Egg&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>393</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllEggCohorts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Sample__c</objectType>
    </variables>
    <variables>
        <name>AllEggEventsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>AllFemales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllFrozenEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>CountofEggCohorts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EggsDiscarded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EggsforDiscard</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggsfroThaw</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialCryoDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEggCohort</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Sample__c</objectType>
    </variables>
    <variables>
        <name>ThawedEggsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
