force-app/main/default/flows/Fertilisation_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count</name>
        <label>Add 1 to Count</label>
        <locationX>2871</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>TotalOngoingEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Ongoing_Embryo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>2626</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>OngoingEmbryosForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OngoingEmbryoRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ongoing_Embryos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Collection_0</name>
        <label>Add to Update Collection</label>
        <locationX>3166</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>UpdateRemainingEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentRemainingEmbryo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_Embryos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch_ID</name>
        <label>Assign Batch ID</label>
        <locationX>2342</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>SelectEmbryoBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fate.Embryo_Batch2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Batch_Id</name>
        <label>Assign Embryo Batch Id</label>
        <locationX>1318</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>FoundBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Found_Batches.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Found_Batches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1843</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ongoing_Embryo_Count</name>
        <label>Assign Ongoing Embryo Count</label>
        <locationX>2498</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>OngoingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ongoing_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ongoing_Embryos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_Embryos_Variables</name>
        <label>Assign Remaining Embryos Variables</label>
        <locationX>3279</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentRemainingEmbryo.Embryo_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentRemainingEmbryo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Remaining_Embryos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>3882</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Procedure_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Fertilisation_Check_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Scientist_lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Witness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Embryo_Batch2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_0</name>
        <label>Assign Variables</label>
        <locationX>2200</locationX>
        <locationY>1384</locationY>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Procedure_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Fertilisation_Check_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Scientist_Performing_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Witness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectEmbryoBatchId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCycleEvent.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fertilisation_Check_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Embryo_Batches</name>
        <label>Count Embryo Batches</label>
        <locationX>1360</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Embryo_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_1_Embryo_Batch_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Ongoing_Embryo</name>
        <label>Current Ongoing Embryo</label>
        <locationX>2871</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>var_OngoingEmbryoRecord.Embryo_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalOngoingEmbryos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OngoingEmbryoRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Ongoing_Embryos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>2318</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEmbryos_Fate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Batch_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Count</name>
        <label>Update Count</label>
        <locationX>2059</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>OngoingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Embryo_Fate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Embryo_Fate</name>
        <label>Update Embryo Fate</label>
        <locationX>2163</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Loop_Fate.Embryo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fate_Quick_Choice.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Fate.Fertilisation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertStatusQuickChoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_than_1_Embryo_Batch_Found</name>
        <label>More than 1 Embryo Batch Found</label>
        <locationX>1533</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Loop_Found_Batches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbryoBatchCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_BatcheS_found</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>No_Embryo_Batch_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbryoBatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Active_Embryo_Batch_Screen</targetReference>
            </connector>
            <label>No Embryo Batch Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ongoing</name>
        <label>Ongoing?</label>
        <locationX>1992</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Embryo_Fate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep_Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fate_Quick_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Count</targetReference>
            </connector>
            <label>Yep Ongoing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Embryo_Status__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FertStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fertilisation_Status__c</picklistField>
        <picklistObject>Embryo__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientist_User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Fertilisation Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fertilisation Check</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>3623</locationX>
        <locationY>1200</locationY>
        <collectionReference>UpdatedEmbryosCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Fate</name>
        <label>Loop Fate</label>
        <locationX>2086</locationX>
        <locationY>735</locationY>
        <collectionReference>EmbryoRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Embryo_Update_Sceen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryo_Batch_fate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Found_Batches</name>
        <label>Loop Found Batches</label>
        <locationX>1510</locationX>
        <locationY>484</locationY>
        <collectionReference>Get_Embryo_Batch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Embryo_Batch_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Embryo_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Ongoing_Embryos</name>
        <label>Loop Ongoing Embryos</label>
        <locationX>2628</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_Ongoing_Embryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ongoing_Embryo_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_Embryos</name>
        <label>Loop Remaining Embryos</label>
        <locationX>3056</locationX>
        <locationY>968</locationY>
        <collectionReference>Get_Remaining_Embryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Remaining_Embryos_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Remaining_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fertilisation_Check_Cycle_Event</name>
        <label>Create Fertilisation Check Cycle Event</label>
        <locationX>2364</locationX>
        <locationY>1380</locationY>
        <connector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </connector>
        <inputReference>CurrentCycleEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Embryo_s</name>
        <label>Get All Embryo&apos;s</label>
        <locationX>1595</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <object>Embryo__c</object>
        <outputReference>EmbryoRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Embryo_Status__c</queriedFields>
        <queriedFields>Fertilisation_Status__c</queriedFields>
        <queriedFields>Embryo_Auto_Number_Display__c</queriedFields>
        <queriedFields>Fragmentation__c</queriedFields>
        <queriedFields>Cell_Number__c</queriedFields>
        <queriedFields>Embryo_Batch2__c</queriedFields>
        <queriedFields>Embryo_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Grading__c</queriedFields>
        <queriedFields>Other__c</queriedFields>
        <queriedFields>Classification__c</queriedFields>
        <queriedFields>Cycle_Day__c</queriedFields>
        <queriedFields>Insemination_Type__c</queriedFields>
        <sortField>Embryo_Auto_Number_Display__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>427</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batch</name>
        <label>Get Embryo Batch</label>
        <locationX>1168</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Embryo_Batches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Batch_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ongoing_Embryos</name>
        <label>Get Ongoing Embryos</label>
        <locationX>2442</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ongoing_Embryo_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <sortField>Embryo_Auto_Number_Display__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Embryos</name>
        <label>Get Remaining Embryos</label>
        <locationX>2857</locationX>
        <locationY>1015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Remaining_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <sortField>Fertilisation_Status__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>626</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fertilisation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>2211</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Assign_Variables_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fertilisation_Check_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD</name>
        <label>Update Cycle ANZARD</label>
        <locationX>2589</locationX>
        <locationY>1370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_FERT__c</field>
            <value>
                <elementReference>OngoingCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryo_Batch</name>
        <label>Update Embryo Batch</label>
        <locationX>1807</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Embryo_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundBatchId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Cycle.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryo_Batch_fate</name>
        <label>Update Embryo Batch</label>
        <locationX>2229</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputReference>UpdatedEmbryos_Fate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ongoing_Embryo_Records</name>
        <label>Update Ongoing Embryo Records</label>
        <locationX>2568</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Get_Remaining_Embryos</targetReference>
        </connector>
        <inputReference>OngoingEmbryosForUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Remaining_Embryos</name>
        <label>Update Remaining Embryos</label>
        <locationX>3058</locationX>
        <locationY>1197</locationY>
        <inputReference>UpdateRemainingEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Fertilisation_Screen</name>
        <label>Create Fertilisation Screen</label>
        <locationX>805</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Embryo_s</targetReference>
        </connector>
        <fields>
            <name>PatDis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Cycle.Flow_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Procedure_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Procedure Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scientist2</name>
            <choiceReferences>Scientist_User</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Embryo_Update_Sceen</name>
        <label>Embryo Update Sceen</label>
        <locationX>1856</locationX>
        <locationY>578</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fate_Screen</targetReference>
        </connector>
        <fields>
            <name>EmbryoTxt</name>
            <fieldText>&lt;p&gt;{!Loop_Fate.Name} - {!Loop_Fate.Embryo_Number__c} - {!Loop_Fate.Insemination_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FertStatusQuickChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortList</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;2PN&quot;,&quot;value&quot;:&quot;2PN&quot;},{&quot;label&quot;:&quot;1PN&quot;,&quot;value&quot;:&quot;1PN&quot;},{&quot;label&quot;:&quot;0PN&quot;,&quot;value&quot;:&quot;0PN&quot;},{&quot;label&quot;:&quot;MI&quot;,&quot;value&quot;:&quot;MI&quot;},{&quot;label&quot;:&quot;GV&quot;,&quot;value&quot;:&quot;GV&quot;},{&quot;label&quot;:&quot;Deg&quot;,&quot;value&quot;:&quot;Deg&quot;},{&quot;label&quot;:&quot;3PN+&quot;,&quot;value&quot;:&quot;3PN+&quot;},{&quot;label&quot;:&quot;No Oocyte (NO)&quot;,&quot;value&quot;:&quot;No Oocyte (NO)&quot;},{&quot;label&quot;:&quot;RZ&quot;,&quot;value&quot;:&quot;RZ&quot;},{&quot;label&quot;:&quot;Abn.&quot;,&quot;value&quot;:&quot;Abn.&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fate_Picklist</name>
            <choiceReferences>Fate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Ongoing</stringValue>
            </defaultValue>
            <fieldText>Fate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fate_Screen</name>
        <label>Fate Screen</label>
        <locationX>1856</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ongoing</targetReference>
        </connector>
        <fields>
            <name>Fate_Quick_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Ongoing&quot;},{&quot;label&quot;:&quot;Discarded&quot;,&quot;value&quot;:&quot;Discarded&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_BatcheS_found</name>
        <label>Multiple Batches Found</label>
        <locationX>1553</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Embryo_Batch</targetReference>
        </connector>
        <fields>
            <name>EmbryoBatchNotActiveText_0</name>
            <fieldText>&lt;p&gt;Multiple active embryo batches have been found against the household, please select which one you would like to use below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmbryoBatchLookup_0</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Embryo_Batch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>FoundBatchId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Embryo Batch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:social</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Batch_Active__c=TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Household__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FoundBatchId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Active_Embryo_Batch_Screen</name>
        <label>No Active Embryo Batch Screen</label>
        <locationX>1708</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Embryo_Batch</targetReference>
        </connector>
        <fields>
            <name>EmbryoBatchNotActiveText</name>
            <fieldText>&lt;p&gt;This cycle does not have an active Embryo Batch associated to it. Please confirm against the record or add an active embryo  batch below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmbryoBatchLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Embryo_Batch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>FoundBatchId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Embryo Batch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:social</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Active__c=TRUE </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Household__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FoundBatchId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentCycleEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CycleEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CycleLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmbryoBatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmbryoRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>EmbryoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>FoundBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OngoingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OngoingEmbryosForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectEmbryoBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalOngoingEmbryos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedEmbryos_Fate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEmbryosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdateRemainingEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>var_CurrentRemainingEmbryo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>var_OngoingEmbryoRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
</Flow>
