force-app/main/default/flows/Generate_Document_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <actionName>GetObjectAPIName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectAPIName</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Account_Object</name>
        <label>Assign Account Object</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Button_Name</name>
        <label>Assign Button Doc Name</label>
        <locationX>1766</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ButtonNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ButtonNameTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_TS_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Button_Object_Name</name>
        <label>Assign Button Object Name</label>
        <locationX>2030</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ButtonNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ButtonObjectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_TS_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Object</name>
        <label>Assign Case Object</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim_Object</name>
        <label>Assign Claim Object</label>
        <locationX>2690</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Claim__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consent_Object</name>
        <label>Assign Consent Object</label>
        <locationX>3482</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consent_Compass__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Cohort</name>
        <label>Assign Egg Cohort</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Egg_Sample__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emb_Batch_Object</name>
        <label>Assign Emb Batch Object</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Embryo_Batch__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inv_Object</name>
        <label>Assign Inv Object</label>
        <locationX>2426</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoices__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meds_Object</name>
        <label>Assign Meds Object</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medication__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Path_Rq_Object</name>
        <label>Assign Path Rq Object</label>
        <locationX>2162</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pathology_Requests__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pt_Object</name>
        <label>Assign Pt Object</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referral</name>
        <label>Assign Referral</label>
        <locationX>2954</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>3218</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Result__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sperm_Object</name>
        <label>Assign Sperm Object</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sperm_Sample__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tasks_Object</name>
        <label>Assign Tasks Object</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Var</name>
        <label>Assign Values to Var</label>
        <locationX>1986</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>DocumentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocIDVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocIdTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Count</name>
        <label>Document Count</label>
        <locationX>1898</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Docs_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Docs_Screen</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Button_Name</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Button_Object_Name</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pt_Object</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Object</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Object</targetReference>
            </connector>
            <label>Household</label>
        </rules>
        <rules>
            <name>Semen_Samples</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sperm_Sample__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sperm_Object</targetReference>
            </connector>
            <label>Semen Samples</label>
        </rules>
        <rules>
            <name>Egg_Cohorts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg_Sample__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Egg_Cohort</targetReference>
            </connector>
            <label>Egg Cohorts</label>
        </rules>
        <rules>
            <name>Embryo_Batches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryo_Batch__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Emb_Batch_Object</targetReference>
            </connector>
            <label>Embryo Batches</label>
        </rules>
        <rules>
            <name>Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tasks_Object</targetReference>
            </connector>
            <label>Tasks</label>
        </rules>
        <rules>
            <name>Medications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medication__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meds_Object</targetReference>
            </connector>
            <label>Medications</label>
        </rules>
        <rules>
            <name>Path_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pathology_Requests__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Path_Rq_Object</targetReference>
            </connector>
            <label>Path Request</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoices__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inv_Object</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
        <rules>
            <name>Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicare_Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Claim_Object</targetReference>
            </connector>
            <label>Claim</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Referral</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
        <rules>
            <name>Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Result__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Result</targetReference>
            </connector>
            <label>Result</label>
        </rules>
        <rules>
            <name>Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consent_Compass__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Consent_Object</targetReference>
            </connector>
            <label>Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_TS_Licensed</name>
        <label>User TS Licensed?</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Object_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Licensed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Object_Name</targetReference>
            </connector>
            <label>Yes Licensed</label>
        </rules>
        <rules>
            <name>No_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlicensed_Screen</targetReference>
            </connector>
            <label>No License</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <interviewLabel>Generate Document Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Document Flow</label>
    <loops>
        <name>Loop_Documents</name>
        <label>Loop Documents</label>
        <locationX>1898</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Document_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Docs_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>docb__Base_object_API__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>docb__Document_Builder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1898</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_License</name>
        <label>Get User License</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_TS_Licensed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PackageLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0509o000000Cad8</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserPackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Generate_TS_Document</name>
        <label>Generate TS Document</label>
        <locationX>1898</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TSDOCTOOL</name>
            <extensionName>docb:DocumentBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>ButtonNameVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateId</name>
                <value>
                    <elementReference>DocIDVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Docs_Screen</name>
        <label>No Docs Screen</label>
        <locationX>1502</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_TS_Document</targetReference>
        </connector>
        <fields>
            <name>NoDocsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 20px;&quot;&gt;There are no documents available for creation. Ask Pario to check document creation settings.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unlicensed_Screen</name>
        <label>Unlicensed Screen</label>
        <locationX>1854</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unlicensed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You are not licenced to use the TS Documents software. Please talk with your System Administrator if you require a Document Generation Licence.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ButtonNameTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Generate {!DocumentName} Document</text>
    </textTemplates>
    <textTemplates>
        <name>ButtonObjectName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Generate {!Loop_Documents.docb__Base_object_API__c} Document</text>
    </textTemplates>
    <textTemplates>
        <name>DocIdTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Documents.Id},</text>
    </textTemplates>
    <variables>
        <name>ButtonNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateIDVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
