force-app/main/default/flows/Generate_Doctor_Cycle_Summary_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Bug_Report</name>
        <label>Email Bug Report</label>
        <locationX>976</locationX>
        <locationY>439</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>grace.lanspeary@pariosolutions.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bug Report</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Egg_Freeze_Slate</name>
        <label>Run Egg Freeze Slate</label>
        <locationX>573</locationX>
        <locationY>985</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>0506DFAE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_FET_Slate</name>
        <label>Run FET Slate</label>
        <locationX>700</locationX>
        <locationY>921</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>F82240BE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_IUI_Slate</name>
        <label>Run IUI Slate</label>
        <locationX>452</locationX>
        <locationY>924</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>56DAB0BE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_IVF_Slate</name>
        <label>Run IVF Slate</label>
        <locationX>882</locationX>
        <locationY>920</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>7594C0BE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_OI_Slate</name>
        <label>Run OI Slate</label>
        <locationX>804</locationX>
        <locationY>916</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>85CA90BE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_VOT_Slate</name>
        <label>Run VOT Slate</label>
        <locationX>351</locationX>
        <locationY>889</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>9AF6A0BE-9000-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Cycle_Type</name>
        <label>Cycle Type</label>
        <locationX>557</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OI_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_OI_Slate</targetReference>
            </connector>
            <label>OI Cycle</label>
        </rules>
        <rules>
            <name>Stim_Cycle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fresh Egg Donor Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_IVF_Slate</targetReference>
            </connector>
            <label>IVF Cycle</label>
        </rules>
        <rules>
            <name>VOT_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VOT Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_VOT_Slate</targetReference>
            </connector>
            <label>VOT Cycle</label>
        </rules>
        <rules>
            <name>IUI_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_IUI_Slate</targetReference>
            </connector>
            <label>IUI Cycle</label>
        </rules>
        <rules>
            <name>FET_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FET Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_FET_Slate</targetReference>
            </connector>
            <label>FET Cycle</label>
        </rules>
        <rules>
            <name>Egg_Freeze_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg Freeze Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Egg_Freeze_Slate</targetReference>
            </connector>
            <label>Egg Freeze Cycle</label>
        </rules>
    </decisions>
    <description>Generates a Cycle Summary Report and Exports this to the &quot;Related Cycle Documents&quot; tab on the Case Layout. Emails bug report upon failure.</description>
    <environments>Default</environments>
    <interviewLabel>Generate Doctor Cycle Summary Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Doctor Cycle Summary Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>566</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>795</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Bug_Report</targetReference>
        </connector>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There has been a problem with this process. Please alert administration of this message. Make sure you press the finish button below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>580</locationX>
        <locationY>1211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You have just generated the Doctor Cycle Summary. Please note that this will take about 30-60 seconds to attach to the salesforce record. Check back soon to view it. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>440</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>There was an error on flow Generate Doctor Cycle Summary Report

The user was {!$User.Username}.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
