force-app/main/default/flows/Generate_Theatre_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_List</name>
        <label>Generate List</label>
        <locationX>169</locationX>
        <locationY>472</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerStyleString</name>
            <value>
                <elementReference>HeaderColour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Events</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>ActivityDate, Subject, Birthdate__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GenerateCollectionReport</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Generate Theatre List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Theatre List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>174</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Date_Selection</name>
        <label>Date Selection</label>
        <locationX>176</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <fields>
            <name>Date_of_List</name>
            <dataType>Date</dataType>
            <fieldText>Date of List</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>168</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayResults</name>
            <fieldText>&lt;p&gt;{!Generate_List.reportString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Date_Selection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>HeaderColour</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>background-colour: #424c94;
colour: white;</text>
    </textTemplates>
</Flow>
