force-app/main/default/flows/Get_Available_OPU_TESA_Slots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Avaliable_SlotsVar</name>
        <label>Avaliable SlotsVar</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AvailableSlotsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Theatre_Days_with_Availibility</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Avaliable_SlotsVar</name>
        <label>Copy 1 of Avaliable SlotsVar</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AvailableSlotsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Theatre_Days_with_Availability</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Not_Doctor_Specific</name>
        <label>Not Doctor Specific</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Theatre_Days_with_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doctor_Specific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotDoctorSpecific</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Theatre_Days_with_Availibility</targetReference>
            </connector>
            <label>Doctor Specific</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BMICheck</name>
        <dataType>Boolean</dataType>
        <expression>IF({!PatientVar.BMI_Check__c}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Get Available OPU/TESA Slots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Available OPU/TESA Slots</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Theatre_Days_with_Availability</name>
        <label>Copy 1 of Get Theatre Days with Availability</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Avaliable_SlotsVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Theatre_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Space_Available__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fully Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>BMI_Limit__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PatientVar.BMI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Theatre_Day_Templates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Theatre_Days_with_Availibility</name>
        <label>Get Theatre Days with Availability</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Avaliable_SlotsVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Theatre_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Space_Available__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fully Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>BMI_Limit__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PatientVar.BMI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drs_Available_for_this_Day__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CycleVar.Doctor_Initiating_Cycle__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Theatre_Day_Templates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Not_Doctor_Specific</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableSlotsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Theatre_Day_Templates__c</objectType>
    </variables>
    <variables>
        <name>CycleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NotDoctorSpecific</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
