force-app/main/default/flows/Insemination_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>940</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryoCycleEventVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllEmbryoCycleEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1455</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>FertUpdatedEmbryoCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ICSI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ICSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>1604</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>FertUpdatedEmbryoCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_IVF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IVF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Eggs_for_Discard</name>
        <label>Add to Eggs for Discard</label>
        <locationX>1769</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>EggsforDiscardCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Eggs_for_Discard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs_for_Discard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Discard_Status</name>
        <label>Assign Discard Status</label>
        <locationX>1799</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>Loop_Eggs_for_Discard.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Eggs_for_Discard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eggs_to_All_Eggs</name>
        <label>Assign Eggs to All Eggs</label>
        <locationX>587</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>AllEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eggs_to_All_Eggs_0</name>
        <label>Assign Eggs to All Eggs</label>
        <locationX>2029</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>EggsNotInseminated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Egg_Cohorts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Event</name>
        <label>Assign Embryo Event</label>
        <locationX>914</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Embryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Embryo_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ICSI</name>
        <label>Assign ICSI</label>
        <locationX>1465</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>Loop_ICSI.Insemination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ICSI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Egg_Values</name>
        <label>Assign New Egg Values</label>
        <locationX>1112</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Eggs.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Eggs.Cycle_Egg_Consumed_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Eggs.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MII</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Updated_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Egg_Values_0</name>
        <label>Assign New Egg Values</label>
        <locationX>1018</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Eggs.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Eggs.Cycle_Egg_Consumed_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Updated_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Updated_Eggs</name>
        <label>Assign to Updated Eggs</label>
        <locationX>955</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Embryo_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIVF</name>
        <label>AssignIVF</label>
        <locationX>1604</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>Loop_IVF.Insemination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IVF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Eggs</name>
        <label>Count Eggs</label>
        <locationX>676</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>EggsforInseminationVAR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllEggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Eggs_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Eggs_0</name>
        <label>Count Eggs</label>
        <locationX>963</locationX>
        <locationY>1170</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedEggs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedEggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_IVF</name>
        <label>Count IVF</label>
        <locationX>2456</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>NumberofIVFRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_IVF_Embyos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofICSIEmbryos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_ICSI_Embyos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Eggs</name>
        <label>Count Selected Eggs</label>
        <locationX>764</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedEggs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedEggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eggs_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eggs_for_Insem_Var_Reduction</name>
        <label>Eggs for Insem Var Reduction</label>
        <locationX>1116</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedEggs</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Denuded_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Type_for_Donor_Age_Update</name>
        <label>Cycle Type for Donor Age Update</label>
        <locationX>2734</locationX>
        <locationY>993</locationY>
        <defaultConnector>
            <targetReference>Medicare_ICSI_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relevant_Cycle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.CYCLE_TYPE_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 = Non-autologous: Oocyte/embryo donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.CYCLE_TYPE_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 = Non-autologous: Oocyte recipient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.CYCLE_TYPE_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 = Non-autologous: Embryo recipient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_ANZARD_0</targetReference>
            </connector>
            <label>Relevant Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Denuded_or_Not</name>
        <label>Denuded or Not</label>
        <locationX>1101</locationX>
        <locationY>745</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Denuded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Egg_Values</targetReference>
            </connector>
            <label>Denuded</label>
        </rules>
        <rules>
            <name>Not_Denuded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Egg_Values_0</targetReference>
            </connector>
            <label>Not Denuded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eggs_Selected</name>
        <label>Eggs Selected?</label>
        <locationX>797</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>No_Eggs_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Eggs_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSelectedEggs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Eggs</targetReference>
            </connector>
            <label>Yes Eggs Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insem_Type_Decision</name>
        <label>Insem Type Decision</label>
        <locationX>1225</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>Embryo_Batch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insemtype_VAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ICSI</targetReference>
            </connector>
            <label>ICSI</label>
        </rules>
        <rules>
            <name>IVF_Decison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insemtype_VAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_IVF</targetReference>
            </connector>
            <label>IVF</label>
        </rules>
    </decisions>
    <decisions>
        <name>IVF_ICSI</name>
        <label>IVF_ICSI</label>
        <locationX>137</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>Create_Insemination_Cycle_Event_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insemtype_VAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Insemination_Cycle_Event_Screen</targetReference>
            </connector>
            <label>IVF</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Eggs_Available</name>
        <label>No Eggs Available</label>
        <locationX>668</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>Eggs_Inseminated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EggsforInseminationVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EggsforInseminationVAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Eggs_Screen</targetReference>
            </connector>
            <label>No Eggs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_all_Eggs_Selected</name>
        <label>Were all Eggs Selected?</label>
        <locationX>2058</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Get_Egg_Cohorts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Eggs_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSelectedEggs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EggsforInseminationVAR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle</targetReference>
            </connector>
            <label>Yes All Eggs Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChooseScientist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Microscope</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Microscope__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ScientistChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsScientist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Insemination Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insemination Process</label>
    <loops>
        <name>Loop_All_Eggs</name>
        <label>Loop All Eggs</label>
        <locationX>929</locationX>
        <locationY>909</locationY>
        <collectionReference>SelectedEggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Embryo_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Embryo_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Egg_Cohorts</name>
        <label>Loop Egg Cohorts</label>
        <locationX>527</locationX>
        <locationY>701</locationY>
        <collectionReference>Get_Egg_Cohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Eggs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Egg_Cohorts_0</name>
        <label>Loop Egg Cohorts</label>
        <locationX>1921</locationX>
        <locationY>515</locationY>
        <collectionReference>Get_Egg_Cohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Eggs_Not_Inseminated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Eggs_for_Discard</name>
        <label>Loop Eggs for Discard</label>
        <locationX>1629</locationX>
        <locationY>559</locationY>
        <collectionReference>EggsforDiscard</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Discard_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Eggs_for_Discard</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ICSI</name>
        <label>Loop ICSI</label>
        <locationX>1312</locationX>
        <locationY>1139</locationY>
        <collectionReference>EmbryoRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ICSI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_IVF</name>
        <label>Loop IVF</label>
        <locationX>1441</locationX>
        <locationY>1307</locationY>
        <collectionReference>EmbryoRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignIVF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Embryo_Batch</name>
        <label>Create Embryo Batch</label>
        <locationX>354</locationX>
        <locationY>1164</locationY>
        <assignRecordIdToReference>CreatedEmbryoBatchId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Insemination_Cycle_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Cycle.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Batch__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo_Events</name>
        <label>Create Embryo Events</label>
        <locationX>959</locationX>
        <locationY>1048</locationY>
        <connector>
            <targetReference>Count_Eggs_0</targetReference>
        </connector>
        <inputReference>AllEmbryoCycleEventVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo_s</name>
        <label>Create Embryo&apos;s</label>
        <locationX>1115</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Eggs_for_Insem_Var_Reduction</targetReference>
        </connector>
        <inputAssignments>
            <field>Age_at_Embryo_Creation__c</field>
            <value>
                <elementReference>Loop_All_Eggs.Age_of_Egg_at_OPU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Sample__c</field>
            <value>
                <elementReference>Loop_All_Eggs.Egg_Cohort__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embryo_Batch2__c</field>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embryo_Created_In_Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embryo_Number__c</field>
            <value>
                <elementReference>CountSelectedEggs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embryo_Status__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Cycle.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insem_Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sperm_Sample__c</field>
            <value>
                <elementReference>Get_Cycle.Semen_Sample__c</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Insemination_Cycle_Event</name>
        <label>Create Insemination Cycle Event</label>
        <locationX>354</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Get_Egg_Cohorts</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embryo_Batch__c</field>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insem_Type__c</field>
            <value>
                <elementReference>Insemtype_VAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microscope__c</field>
            <value>
                <elementReference>Microscope_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Date_Time__c</field>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125m0000004L68AAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist_Performing_Event__c</field>
            <value>
                <elementReference>ScientistChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Embryo_Batch</name>
        <label>Delete Embryo Batch</label>
        <locationX>674</locationX>
        <locationY>1258</locationY>
        <connector>
            <targetReference>Delete_Insem_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </filters>
        <object>Embryo_Batch__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Insem_Event</name>
        <label>Delete Insem Event</label>
        <locationX>672</locationX>
        <locationY>1401</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Insemination_Cycle_Event</elementReference>
            </value>
        </filters>
        <object>Cycle_Event__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_ICSI_Embyos</name>
        <label>Get All ICSI Embyos</label>
        <locationX>2317</locationX>
        <locationY>997</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_IVF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insemination_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICSI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_IVF_Embyos</name>
        <label>Get All IVF Embyos</label>
        <locationX>2207</locationX>
        <locationY>987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_ICSI_Embyos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insemination_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>173</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>1579</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_all_Eggs_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Egg_Cohort__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohorts</name>
        <label>Get Egg Cohorts</label>
        <locationX>527</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Egg_Available_Rollup__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohorts_0</name>
        <label>Get Egg Cohorts</label>
        <locationX>1935</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Egg_Cohorts_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Egg_Available_Rollup__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Donor_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>470</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Eggs_to_All_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Egg_Cohorts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs_0</name>
        <label>Get Eggs</label>
        <locationX>1926</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Eggs_to_All_Eggs_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Egg_Cohorts_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>1104</locationX>
        <locationY>1307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insem_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </filters>
        <object>Embryo__c</object>
        <outputReference>EmbryoRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Embryo_Status__c</queriedFields>
        <queriedFields>Notes2__c</queriedFields>
        <queriedFields>Fertilisation_Status__c</queriedFields>
        <queriedFields>Embryo_Batch2__c</queriedFields>
        <queriedFields>Embryo_Auto_Number_Display__c</queriedFields>
        <queriedFields>Insemination_Type__c</queriedFields>
        <sortField>Embryo_Auto_Number_Display__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ICSI_IVF_Embryos</name>
        <label>Get ICSI/ IVF Embryos</label>
        <locationX>1270</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Embryo_Batch2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insemination_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICSI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Insemination_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insem_Type</name>
        <label>Get Insem Type</label>
        <locationX>173</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICSI_IVF_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125m0000004Kw8AAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>174</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insem_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>2066</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Get_All_IVF_Embyos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Embryo_Batch__c</field>
            <value>
                <elementReference>CreatedEmbryoBatchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insemination_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Growing Embryos</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD</name>
        <label>Update Cycle ANZARD</label>
        <locationX>2595</locationX>
        <locationY>988</locationY>
        <connector>
            <targetReference>Cycle_Type_for_Donor_Age_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_ICSI__c</field>
            <value>
                <elementReference>NumberofICSIEmbryos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_IVF__c</field>
            <value>
                <elementReference>NumberofIVFRecords</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD_0</name>
        <label>Update Cycle ANZARD</label>
        <locationX>2864</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Medicare_ICSI_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DON_AGE__c</field>
            <value>
                <elementReference>Get_Egg_Cohort.Donor_Owner__r.Age__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>949</locationX>
        <locationY>1307</locationY>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
        <inputReference>UpdatedEggs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs_for_Discard</name>
        <label>Update Eggs for Discard</label>
        <locationX>1631</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputReference>EggsforDiscardCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>1375</locationX>
        <locationY>746</locationY>
        <connector>
            <targetReference>Update_Embryos_0</targetReference>
        </connector>
        <inputReference>FertUpdatedEmbryoCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos_0</name>
        <label>Update Embryos</label>
        <locationX>1270</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Get_ICSI_IVF_Embryos</targetReference>
        </connector>
        <inputReference>UpdatedEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Insemination_Cycle_Event_Screen</name>
        <label>Create Insemination Cycle Event Screen</label>
        <locationX>105</locationX>
        <locationY>1185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Embryo_Batch</targetReference>
        </connector>
        <fields>
            <name>DisplayTextWit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Insem_Type.Sperm_Sample__r.Lab_Number__c}{!Get_Cycle.Flow_Display_Text__c} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Get_Insem_Type.Sperm_Sample__r.Donor_Owner__r.FirstName} {!Get_Insem_Type.Sperm_Sample__r.Donor_Owner__r.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Insem_Type.Sperm_Provider__r.Birthdate} {!Get_Insem_Type.Sperm_Provider__r.Patient_Id__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Lab Number: {!Get_Cycle.Semen_Sample__r.Lab_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsemType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The Insem Type for this Insem Event is {!Get_Insem_Type.Notes2__c}, Concentration of this Sample: {!Get_Insem_Type.Final_Concentration__c}, Motility of this Sample: {!Get_Insem_Type.Final_Motility__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scientist</name>
            <choiceReferences>ScientistChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Users.Id</elementReference>
            </defaultValue>
            <fieldText>Insem Scientist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witness</name>
            <dataType>String</dataType>
            <fieldText>Witness</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microscope_Selection</name>
            <choiceReferences>Microscope</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Microscope</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IVF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Insemination_Cycle_Event_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Insemination_Cycle_Event_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Procedure_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Procedure Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Insemination_Cycle_Event_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eggs_Inseminated_Screen</name>
        <label>Eggs Inseminated Screen</label>
        <locationX>802</locationX>
        <locationY>902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Eggs</targetReference>
        </connector>
        <fields>
            <name>Insemination_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;From the table below please &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;select &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;the eggs that you would like to inseminate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Egg_Selection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllEggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Grade__c,Denuded__c,Cycle_Egg_Collected_In__c,Storage_Date__c,Age_of_Egg_at_OPU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Grade__c:136, Denuded__c:136, Cycle_Egg_Collected_In__c:136, Storage_Date__c:136, Age_of_Egg_at_OPU__c:136</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedEggs</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eggs_Not_Inseminated</name>
        <label>Eggs Not Inseminated</label>
        <locationX>1633</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Eggs_for_Discard</targetReference>
        </connector>
        <fields>
            <name>Remainingeggstext</name>
            <fieldText>&lt;p&gt;You have eggs remaining that were not inseminated. Please select the eggs you would like to discard. Eggs for freeze are managed separately. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DiscardEggs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Egg_Collected_In__c,Denuded__c,Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:191, Cycle_Egg_Collected_In__c:191, Denuded__c:191, Grade__c:191, Fate__c:191</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>EggsNotInseminated</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EggsforDiscard</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embryo_Batch_0</name>
        <label>Embryo Batch</label>
        <locationX>1218</locationX>
        <locationY>613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos_0</targetReference>
        </connector>
        <fields>
            <name>Isemtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please record Insem Type next to each egg inseminated.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmbryoListNew_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryo__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>EmbryoRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c,Name,Insemination_Type__c,Embryo_Status__c,Notes2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:74, Name:183, Insemination_Type__c:262, Embryo_Status__c:185, Notes2__c:172</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:true, Insemination_Type__c:true, Embryo_Status__c:true, Notes__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:, Name:Egg Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:false, Embryo_Status__c:false, Notes__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ICSI_IVF_Screen</name>
        <label>ICSI_IVF Screen</label>
        <locationX>163</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IVF_ICSI</targetReference>
        </connector>
        <fields>
            <name>INSEM_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Cycle_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Insem_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Insemtype_VAR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Insemtype_VAR</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Eggs_Screen</name>
        <label>No Eggs Screen</label>
        <locationX>677</locationX>
        <locationY>1122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Embryo_Batch</targetReference>
        </connector>
        <fields>
            <name>NoEggsText</name>
            <fieldText>&lt;p&gt;This patient doesn&apos;t have any eggs. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Eggs_Selected</name>
        <label>No Eggs Selected</label>
        <locationX>806</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>I Admit I Stuffed Up</backButtonLabel>
        <fields>
            <name>Noeggtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Eye Roll Emoji&lt;/strong&gt;. You didn&apos;t select any eggs. press previous and read the instructions. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Medicare_ICSI_Flow</name>
        <label>Medicare ICSI Flow</label>
        <locationX>3057</locationX>
        <locationY>1010</locationY>
        <flowName>Medicare_Subflow_OPU</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>RecordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>AllEmbryoCycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CountSelectedEggs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreatedEmbryoBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggCohortCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggFreeze</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggsforDiscard</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggsforDiscardCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggsforInseminationVAR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggsNotInseminated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EmbryoEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EmbryoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>FertUpdatedEmbryoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>FinalEmbryoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Insemtype_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofICSIEmbryos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofIVFRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>TotalICSIIVFEmbryos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
</Flow>
