force-app/main/default/flows/List_of_Embryos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>List of Embryos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>List of Embryos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>499</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryo_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_s</name>
        <label>Get Embryo&apos;s</label>
        <locationX>709</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Embryo_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Embryo_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo__c</object>
        <sortField>Embryo_Auto_Number_Display__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Embryo_s</name>
        <label>Embryo&apos;s</label>
        <locationX>925</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Embryo_Screen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryo__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryo_s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Embryo_Auto_Number_Display__c,Insemination_Type__c,Fertilisation_Status__c,Day_3_Cell_Number__c,Day_3_Fragmentation__c,Day_3_Grade__c,Day_3_Other__c,Day_5_Cell_Number__c,Day_5_Fragmentation__c,Day_5_Grade__c,Day_5_Other__c,Day_6_Cell_Number__c,Day_6_Fragmentation__c,Day_6_Grade__c,Day_6_Other__c,Embryo_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:114, Embryo_Auto_Number_Display__c:50, Insemination_Type__c:58, Fertilisation_Status__c:61, Day_3_Cell_Number__c:68, Day_3_Fragmentation__c:67, Day_3_Grade__c:68, Day_3_Other__c:102, Day_5_Cell_Number__c:74, Day_5_Fragmentation__c:67, Day_5_Grade__c:67, Day_5_Other__c:88, Day_6_Cell_Number__c:68, Day_6_Fragmentation__c:64, Day_6_Grade__c:70, Day_6_Other__c:93, Embryo_Status__c:194</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Embryo_Auto_Number_Display__c:false, Insemination_Type__c:false, Fertilisation_Status__c:true, Day_3_Cell_Number__c:false, Day_3_Fragmentation__c:true, Day_3_Grade__c:true, Day_3_Other__c:true, Day_5_Cell_Number__c:false, Day_5_Fragmentation__c:true, Day_5_Grade__c:true, Day_5_Other__c:true, Day_6_Cell_Number__c:false, Day_6_Fragmentation__c:true, Day_6_Grade__c:true, Day_6_Other__c:true, Embryo_Status__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Auto_Number_Display__c:#, Insemination_Type__c:Ins, Fertilisation_Status__c:F, Day_3_Cell_Number__c:D3C, Day_3_Fragmentation__c:D3F, Day_3_Grade__c:D3G, Day_3_Other__c:D3O, Day_5_Cell_Number__c:D5C, Day_5_Fragmentation__c:D5F, Day_5_Grade__c:D5G, Day_5_Other__c:D5O, Day_6_Cell_Number__c:D6C, Day_6_Fragmentation__c:D6F, Day_6_Grade__c:D6G, Day_6_Other__c:D6O</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>71</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EmbryoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEmbryo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo__c</objectType>
    </variables>
    <variables>
        <name>UpdateEmbryos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
