force-app/main/default/flows/Medicare_Subflow_OPU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>ICSI_Completed</name>
        <label>ICSI Undertaken?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICSI_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Embryos.Insemination_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICSIMedicareItemCreation</targetReference>
            </connector>
            <label>ICSI Event?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>Year({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProceedureDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Cycle_Events.Procedure_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Medicare SubflowOPU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medicare Subflow OPU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ICSIMedicareItemCreation</name>
        <label>ICSI Medicare Item Creation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>ProceedureDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor_Providing_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13251.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ICSI </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Events</name>
        <label>Get Cycle Events</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Insemination_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICSI_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insemination_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICSI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Items</name>
        <label>Get Medicare Items</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medicare_Item_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>13212.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Medicare_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountCycles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
