force-app/main/default/flows/Medications_Change_Dose.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Medication</name>
        <label>Assign Medication</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewMedicationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Med</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Dosage</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>TodayMinus1</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Medications Change Dose {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medications Change Dose</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Medication</name>
        <label>Create New Medication</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Created_Med</targetReference>
        </connector>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>SelectedMedication.Dosage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_Type__c</field>
            <value>
                <elementReference>SelectedMedication.Medication_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication__c</field>
            <value>
                <elementReference>SelectedMedication.Medication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectedMedication.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Donors__c</field>
            <value>
                <elementReference>SelectedMedication.Patients_Donors__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime__c</field>
            <value>
                <elementReference>SelectedMedication.Regime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>SelectedMedication.Related_Cycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <elementReference>SelectedMedication.Units__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Med</name>
        <label>Get Created Med</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Medication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Medication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Meds</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_End_Date_on_Old_Meds</name>
        <label>Update End Date on Old Meds</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_New_Dosage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedMedication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medication_End_Date__c</field>
            <value>
                <elementReference>End_Date_for_Old_Dosage</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Dosage</name>
        <label>Update New Dosage</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Medication</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>New_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_Start_Date__c</field>
            <value>
                <elementReference>Start_Date_for_New_Medication_Dosage</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Var</name>
        <label>Update Var</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <inputReference>NewMedicationVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Adjust_Dosage</name>
        <label>Adjust Dosage</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_End_Date_on_Old_Meds</targetReference>
        </connector>
        <fields>
            <name>End_Date_for_Old_Dosage</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayMinus1</elementReference>
            </defaultValue>
            <fieldText>End Date for Old Dosage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date_for_New_Medication_Dosage</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date for New Medication Dosage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Dosage</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedMedication.Dosage__c</elementReference>
            </defaultValue>
            <fieldText>New Dosage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewMedicationVar.Regime__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Meds</name>
        <label>Select Meds</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Medication</targetReference>
        </connector>
        <fields>
            <name>MedicationDisplayText</name>
            <fieldText>&lt;p&gt;Please select the medication you would like to change the dosage for. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medications_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Medication_Name__c,Medication_Start_Date__c,Dosage__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Medication_Name__c:235, Medication_Start_Date__c:163, Dosage__c:137, Regime__c:165</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMedication</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewMedicationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
