force-app/main/default/flows/Medicare_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Cycle_Type</name>
        <label>Cycle Type</label>
        <locationX>471</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelled_Cycle_IVF_Record</targetReference>
            </connector>
            <label>IVF</label>
        </rules>
        <rules>
            <name>FET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FET Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelled_Cycle_FET_Record</targetReference>
            </connector>
            <label>FET</label>
        </rules>
        <rules>
            <name>VOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VOT Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelled_Cycle_FET_Record</targetReference>
            </connector>
            <label>VOT</label>
        </rules>
        <rules>
            <name>IUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelled_Cycle_FET_Record_0</targetReference>
            </connector>
            <label>IUI</label>
        </rules>
        <rules>
            <name>Egg_Freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg Freeze Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Medical_Egg_Freeze</targetReference>
            </connector>
            <label>Egg Freeze</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Medical_Egg_Freeze</name>
        <label>Is Medical Egg Freeze</label>
        <locationX>180</locationX>
        <locationY>1141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Type_is_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Egg Freeze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelled_Cycle_IVF_Record</targetReference>
            </connector>
            <label>Price Type is Medical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Cancelled</name>
        <label>Is Status Cancelled?</label>
        <locationX>467</locationX>
        <locationY>675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medicare_Items_found</targetReference>
            </connector>
            <label>Status Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medicare_Items_found</name>
        <label>Medicare Items found</label>
        <locationX>468</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Cycle_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Medicare_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Medicare_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Medicare Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medicare Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cancelled_Cycle_FET_Record</name>
        <label>Create Cancelled Cycle FET/VOT Record</label>
        <locationX>366</locationX>
        <locationY>1422</locationY>
        <connector>
            <targetReference>Create_Cancelled_Cycle_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13218.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cancelled FET/VOT Global Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancelled_Cycle_FET_Record_0</name>
        <label>Create Cancelled Cycle FET Record</label>
        <locationX>512</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Create_Cancelled_Cycle_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13203.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cancelled IUI Global Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancelled_Cycle_IVF_Record</name>
        <label>Create Cancelled Cycle IVF Record</label>
        <locationX>194</locationX>
        <locationY>1317</locationY>
        <connector>
            <targetReference>Create_Cancelled_Cycle_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13202.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cancelled IVF Global Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancelled_Cycle_Record</name>
        <label>Create Cancelled Cycle Record</label>
        <locationX>342</locationX>
        <locationY>1642</locationY>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13209.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cancelled Special Planning and Management </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Medicare_Items</name>
        <label>Delete Medicare Items</label>
        <locationX>269</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>Cycle_Type</targetReference>
        </connector>
        <inputReference>Get_Medicare_Item</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>476</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125m0000004L8EAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Item</name>
        <label>Get Medicare Items</label>
        <locationX>476</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>350</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Medicare_Item</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
