force-app/main/default/flows/Medication_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Medication_Type</name>
        <label>Medication Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedManagment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Medication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_meds</targetReference>
            </connector>
            <label>Add Medication</label>
        </rules>
        <rules>
            <name>Edit_Meds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedManagment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start/End Medications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medications</targetReference>
            </connector>
            <label>Edit Meds</label>
        </rules>
        <rules>
            <name>Change_Dose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedManagment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Dosage/Regime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Dosage</targetReference>
            </connector>
            <label>Change Dose</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Medication Managament Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medication Management Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_meds_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meds</name>
        <label>Update Meds</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputReference>EditedMeds</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_meds_Screen</name>
        <label>Edit meds</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Meds</targetReference>
        </connector>
        <fields>
            <name>MedTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Medication_Start_Date__c,Medication_End_Date__c,Regime__c,Dosage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:274, Medication_Start_Date__c:274, Medication_End_Date__c:274, Regime__c:274, Dosage__c:274</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EditedMeds</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Event</name>
        <label>Medication Event</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Medication_Type</targetReference>
        </connector>
        <fields>
            <name>MedManagment</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Medication&quot;,&quot;value&quot;:&quot;Add Medication&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Start/End Medications&quot;,&quot;value&quot;:&quot;Start/End Medications&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adjust_value&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Change Dosage/Regime&quot;,&quot;value&quot;:&quot;Change Dosage/Regime&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2,&quot;iconName&quot;:&quot;utility:ad_set&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Medication_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_meds</name>
        <label>Add Meds</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>New_Medications_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Change_Dosage</name>
        <label>Change Dosage</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>Medications_Change_Dose</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EditedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
