force-app/main/default/flows/Medicare_Subflow_Insem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Price</name>
        <label>Assign Price Bulk Bill</label>
        <locationX>494</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medicare_Items.Bulk_Bill_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsemMedicareItemEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_0</name>
        <label>Assign Price Full Price</label>
        <locationX>486</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medicare_Items.Full_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsemMedicareItemEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Type</name>
        <label>Cycle Type</label>
        <locationX>768</locationX>
        <locationY>682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVF_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Type</targetReference>
            </connector>
            <label>IUI Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Type</name>
        <label>Price Type</label>
        <locationX>610</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Assign_Price_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk_Billed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Billed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price</targetReference>
            </connector>
            <label>Bulk Billed</label>
        </rules>
        <rules>
            <name>Full_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price_0</targetReference>
            </connector>
            <label>Full Price</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>Year({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DateofService</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Cycle_Events.Procedure_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Medicare Subflow Insem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medicare Subflow Insem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsemMedicareItemEvent</name>
        <label>Insem Medicare Item Event</label>
        <locationX>147</locationX>
        <locationY>653</locationY>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>DateofService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor_Providing_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Item_Number__c</field>
            <value>
                <numberValue>13221.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sperm Prep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Events</name>
        <label>Get Cycle Events</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Sperm_Preparation_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Items</name>
        <label>Get Medicare Items</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medicare_Item_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>13221.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Medicare_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountCycles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
