force-app/main/default/flows/New_Result_From_Patient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>UniqueName</name>
        <choiceText>+</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Allow_Result_Entry</name>
        <label>Allow Result Entry</label>
        <locationX>293</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Infectious_Screens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infectious Screens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Infections_Screens</targetReference>
            </connector>
            <label>Infectious Screens</label>
        </rules>
        <rules>
            <name>ER_Peak_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ER Peak</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ER_Peak</targetReference>
            </connector>
            <label>ER Peak</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HEPB</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HEP_B__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HEPC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HEP_C__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HIVPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HIV__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RubellaType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rubella_Type__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Result From Patient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Result From Patient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Result</name>
        <label>Result</label>
        <locationX>317</locationX>
        <locationY>981</locationY>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Date_of_Test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEP_B__c</field>
            <value>
                <elementReference>HEP_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEP_C__c</field>
            <value>
                <elementReference>HEP_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HIV__c</field>
            <value>
                <elementReference>HIV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <elementReference>Selected_Result_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rubella_Type__c</field>
            <value>
                <elementReference>Rubella_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rubella__c</field>
            <value>
                <elementReference>Rubella_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>298</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ER_Peak</name>
        <label>ER Peak</label>
        <locationX>309</locationX>
        <locationY>731</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Infections_Screens</name>
        <label>Infections Screens</label>
        <locationX>50</locationX>
        <locationY>762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <fields>
            <name>HIV</name>
            <choiceReferences>HIVPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HIV</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HEP_B</name>
            <choiceReferences>HEPB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HEP B</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HEP_C</name>
            <choiceReferences>HEPC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HEP C</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rubella_Number</name>
            <dataType>Number</dataType>
            <fieldText>Rubella</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Rubella_Type</name>
            <choiceReferences>RubellaType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rubella Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Test</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of Test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed</name>
        <label>Not Allowed</label>
        <locationX>681</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoggingResults</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;This result type can only be logged against active cycles. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Type</name>
        <label>Result Type</label>
        <locationX>302</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Allow_Result_Entry</targetReference>
        </connector>
        <fields>
            <name>Test_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Result__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Result_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Result_Type</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>172</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Result_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
