force-app/main/default/flows/New_Results_From_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Commit_Result</name>
        <label>Commit Result</label>
        <locationX>1199</locationX>
        <locationY>1616</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Not_Pregnant_Display</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_To_Result</name>
        <label>Go To Result</label>
        <locationX>1727</locationX>
        <locationY>2177</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ResultVAR.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_To_Scan_Booking</name>
        <label>Redirect To Scan Booking</label>
        <locationX>1848</locationX>
        <locationY>1953</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Auto_Generated_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>ScanURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Collection_Date</name>
        <label>Collection Date</label>
        <locationX>850</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>CollectionDateOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Time_Blood_Test</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blood_Test_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Date_0</name>
        <label>Collection Date</label>
        <locationX>1460</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>CollectionDateOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blood_Test_Result_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Pregnancy_Results</name>
        <label>Count Pregnancy Results</label>
        <locationX>1620</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>CountPregnancyResults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PregnancyResultsCollectionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pregnancy_Test_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Medication_Assignment</name>
        <label>Medication Assignment</label>
        <locationX>223</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>AllMedicationsandDosages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medication_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Count</name>
        <label>Task Count</label>
        <locationX>840</locationX>
        <locationY>1755</locationY>
        <assignmentItems>
            <assignToReference>CountofTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Biochem_Over</name>
        <label>Biochem Over</label>
        <locationX>1363</locationX>
        <locationY>1354</locationY>
        <defaultConnector>
            <targetReference>Update_Pregnancy_Outcome_BioChem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HCG_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome_BioChem_0</targetReference>
            </connector>
            <label>HCG Below 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Even_Day</name>
        <label>Even Day</label>
        <locationX>41</locationX>
        <locationY>1257</locationY>
        <defaultConnector>
            <targetReference>Medication_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Even_Day_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODDEVENFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Even</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medication_Assignment</targetReference>
            </connector>
            <label>Even Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_System_Generated_Records_Found</name>
        <label>No System Generated Records Found</label>
        <locationX>1726</locationX>
        <locationY>2046</locationY>
        <defaultConnector>
            <targetReference>Go_To_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Auto_Generated_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_Result</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Pregnancy_Result</name>
        <label>Previous Pregnancy Result</label>
        <locationX>1626</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitialPositiveBHCG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BioChem_0</targetReference>
            </connector>
            <label>Initial Positive BHCG</label>
        </rules>
        <rules>
            <name>Not_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome</targetReference>
            </connector>
            <label>Not Pregnant</label>
        </rules>
        <rules>
            <name>Positive_BHCG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome_0_0</targetReference>
            </connector>
            <label>Positive BHCG</label>
        </rules>
        <rules>
            <name>Subsequent_No_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BioChem</targetReference>
            </connector>
            <label>BioChem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_to_Heart_Beat</name>
        <label>Proceed to Heart Beat</label>
        <locationX>2446</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Error_on_Preg_Scan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Sac</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Not_Pregnant</targetReference>
            </connector>
            <label>No Sac</label>
        </rules>
        <rules>
            <name>Sac_No_Heart_Beat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Heart_Beats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Based_on_No_Sacs_0</targetReference>
            </connector>
            <label>Sac, No Heart Beat</label>
        </rules>
        <rules>
            <name>Preg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Heart_Beats</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Result</targetReference>
            </connector>
            <label>Preg</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regime_Not_Daily</name>
        <label>Regime Not Daily</label>
        <locationX>365</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Medication_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once every two days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Date_Today</targetReference>
            </connector>
            <label>Not Daily</label>
        </rules>
        <rules>
            <name>Daily</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once a Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twice a Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once a Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twice a Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication_Loop.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Three times a Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medication_Assignment</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultTypeDecision</name>
        <label>Result Type Decision</label>
        <locationX>1608</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Result_Type_Not_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blood_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blood_Test_Screen</targetReference>
            </connector>
            <label>Blood Test</label>
        </rules>
        <rules>
            <name>Pregnancy_Test_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Test Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pregnancy_Result_Subflow</targetReference>
            </connector>
            <label>Pregnancy Test Result</label>
        </rules>
        <rules>
            <name>Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scan_Result_0</targetReference>
            </connector>
            <label>Scan</label>
        </rules>
        <rules>
            <name>Pregnancy_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Pregnancy_Scan</targetReference>
            </connector>
            <label>Pregnancy Scan</label>
        </rules>
        <rules>
            <name>Where_in_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Where in Cycle Blood</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blood_Test_Screen_0</targetReference>
            </connector>
            <label>Where in Cycle</label>
        </rules>
        <rules>
            <name>Ovulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record Ovulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ovulation_Screen</targetReference>
            </connector>
            <label>Ovulation</label>
        </rules>
        <rules>
            <name>HistoPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Result_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Histopathology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Histo_Display_Screen</targetReference>
            </connector>
            <label>HistoPath</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Today</name>
        <label>Start Date Today</label>
        <locationX>41</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Even_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Start_Date_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication_Loop.Medication_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CollectionDateOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medication_Assignment</targetReference>
            </connector>
            <label>Is Start Date Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Number</name>
        <label>Task Number</label>
        <locationX>834</locationX>
        <locationY>1913</locationY>
        <defaultConnector>
            <targetReference>Task_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofTasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Creation</targetReference>
            </connector>
            <label>No Task</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CycleOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cycle_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PregnancyOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pregnancy_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Result_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result_Type__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WanttoBooknewappointment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Book_Appointment_Choice__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateTransformation</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ResultVAR.Collected__c})</expression>
    </formulas>
    <formulas>
        <name>DaysBetweenDates</name>
        <dataType>Number</dataType>
        <expression>{!Medication_Loop.Medication_Start_Date__c}-{!Medication_Loop.Medication_End_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EDD</name>
        <dataType>Date</dataType>
        <expression>{!Get_Cycle.Day_1__c}+280</expression>
    </formulas>
    <formulas>
        <name>MedicationandDosage</name>
        <dataType>String</dataType>
        <expression>{!Medication1}&amp;&quot;-&quot;&amp;TEXT({!Dosage1})</expression>
    </formulas>
    <formulas>
        <name>ODDEVENFormula</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!DaysBetweenDates}, 2) = 0, &apos;EVEN&apos; , &apos;ODD&apos;)</expression>
    </formulas>
    <formulas>
        <name>PatientNextPregnancyBloodTestLabel</name>
        <dataType>String</dataType>
        <expression>{!Get_Cycle.Contact.Name}&amp;&apos; - &apos;&amp;{!Selected_Result_Type}</expression>
    </formulas>
    <formulas>
        <name>ScanName</name>
        <dataType>String</dataType>
        <expression>&quot;Pregnanacy Scan&quot;&amp;&quot;- &quot;&amp;{!Get_Cycle.Contact.Name}&amp;&quot;- &quot;&amp;TEXT({!Scan_Date})</expression>
    </formulas>
    <formulas>
        <name>ScanPatinetName</name>
        <dataType>String</dataType>
        <expression>{!Get_Cycle.Contact.Name}&amp; &apos;- Scan&apos;</expression>
    </formulas>
    <formulas>
        <name>ScanURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://compassfert.force.com/s/onlinescheduler?processId=a389o000000008LAAQ&amp;clientId=&quot;&amp;{!Get_Cycle.Contact.Id}&amp;&quot;&amp;relatedId=&quot;&amp;{!Get_Cycle.Id}</expression>
    </formulas>
    <interviewLabel>New Results From Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Results From Cycle</label>
    <loops>
        <name>Medication_Loop</name>
        <label>Medication Loop</label>
        <locationX>375</locationX>
        <locationY>1257</locationY>
        <collectionReference>Get_Medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Regime_Not_Daily</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Blood_Test_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Blood_Test_Result</name>
        <label>Blood Test Result</label>
        <locationX>856</locationX>
        <locationY>902</locationY>
        <assignRecordIdToReference>ResultVAR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Blood_Test_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Collection_Time_Blood_Test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2__c</field>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LH__c</field>
            <value>
                <elementReference>LH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Description__c</field>
            <value>
                <stringValue>Blood Test Results</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Blood Test Result</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Blood_Test_Result_0</name>
        <label>Blood Test Result</label>
        <locationX>1630</locationX>
        <locationY>1066</locationY>
        <assignRecordIdToReference>ResultVAR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Previous_Pregnancy_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCG__c</field>
            <value>
                <elementReference>HGC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4_Preg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>Get_Cycle.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Description__c</field>
            <value>
                <stringValue>Pregnancy Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Pregnancy Test Result</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Blood_Test_Result_0_0</name>
        <label>Blood Test Result</label>
        <locationX>1136</locationX>
        <locationY>728</locationY>
        <assignRecordIdToReference>ResultVAR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Collection_Time_Blood_Test_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2__c</field>
            <value>
                <elementReference>E2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCG__c</field>
            <value>
                <elementReference>BHCG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LH__c</field>
            <value>
                <elementReference>LH_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Description__c</field>
            <value>
                <stringValue>Where in Cycle Blood Test Results</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Where in Cycle Blood</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Ovulation_Event</name>
        <label>Create Ovulation Event</label>
        <locationX>1777</locationX>
        <locationY>280</locationY>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Ovulation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ovulated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pregnancy_Scan_Result</name>
        <label>Create Pregnancy Scan Result</label>
        <locationX>2936</locationX>
        <locationY>228</locationY>
        <assignRecordIdToReference>ResultVAR.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Pregnancy_Scan_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Heart_Beats__c</field>
            <value>
                <elementReference>Number_of_Heart_Beats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sacs__c</field>
            <value>
                <elementReference>Number_of_Sacs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_or_Donors__c</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Pregnancy Scan</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Result</name>
        <label>Create Result</label>
        <locationX>1139</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Update_Hysto_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Collection_Date_Histo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Description__c</field>
            <value>
                <stringValue>Products of conception showed CV present</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Pregnancy Histopathology</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scan_Result_0</name>
        <label>Create Scan Result</label>
        <locationX>1969</locationX>
        <locationY>841</locationY>
        <assignRecordIdToReference>ResultVAR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>New_Scan</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Scan</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>623</locationX>
        <locationY>2067</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Result__c</field>
            <value>
                <elementReference>ResultID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Book_Blood_QueueID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Entered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Cycle.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pregnancy_Test_Cycle_Event</name>
        <label>Pregnancy Test Cycle Event</label>
        <locationX>1405</locationX>
        <locationY>1557</locationY>
        <connector>
            <targetReference>Commit_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Pregnancy_Test__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pregnancy_Test_Cycle_Event_0</name>
        <label>Pregnancy Test Cycle Event</label>
        <locationX>1633</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Get_Auto_Generated_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Pregnancy_Test__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auto_Generated_Records</name>
        <label>Get Auto Generated Records</label>
        <locationX>1502</locationX>
        <locationY>1839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_System_Generated_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Collected_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionDateOnly</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>System_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blood_Test_Result</name>
        <label>Get Blood Test Result</label>
        <locationX>853</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultVAR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1616</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>855</locationX>
        <locationY>1133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medication_Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Related_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Blood_Test_Result.Date_Collected_Only__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Blood_Test_Result.Date_Collected_Only__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dosage__c</queriedFields>
        <queriedFields>Medication__c</queriedFields>
        <queriedFields>Regime__c</queriedFields>
        <queriedFields>Medication_Start_Date__c</queriedFields>
        <queriedFields>Medication_End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>855</locationX>
        <locationY>1594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pregnancy_Results</name>
        <label>Pregnancy Results</label>
        <locationX>1619</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Pregnancy_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pregnancy Test Result</stringValue>
            </value>
        </filters>
        <object>Result__c</object>
        <outputReference>PregnancyResultsCollectionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HCG__c</queriedFields>
        <queriedFields>P4__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Based_on_No_Sacs</name>
        <label>Update Based on No Sacs</label>
        <locationX>2762</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Create_Pregnancy_Scan_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PR_CLIN__c</field>
            <value>
                <stringValue>n = No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Under 20 Week Miscarriage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Based_on_No_Sacs_0</name>
        <label>Update Based on No Sacs</label>
        <locationX>2445</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Create_Pregnancy_Scan_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_DELIV__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_CLIN__c</field>
            <value>
                <stringValue>y = Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_END_DT__c</field>
            <value>
                <elementReference>Pregnancy_Scan_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Under 20 Week Miscarriage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Blood_Test_Result</name>
        <label>Update Blood Test Result</label>
        <locationX>686</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultVAR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medications__c</field>
            <value>
                <elementReference>AllMedicationsandDosages</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>2145</locationX>
        <locationY>1097</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <elementReference>Cycle_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <elementReference>Pregnancy_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hysto_Cycle</name>
        <label>Update Hysto Cycle</label>
        <locationX>978</locationX>
        <locationY>394</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_CLIN__c</field>
            <value>
                <stringValue>y = Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Under 20 Week Miscarriage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1448</locationX>
        <locationY>1192</locationY>
        <connector>
            <targetReference>Pregnancy_Test_Cycle_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1634</locationX>
        <locationY>1576</locationY>
        <connector>
            <targetReference>Pregnancy_Test_Cycle_Event_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Positive BHCG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Transfer Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>WFPR</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_0_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1848</locationX>
        <locationY>1333</locationY>
        <connector>
            <targetReference>Book_Scan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Positive BHCG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_BioChem</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1441</locationX>
        <locationY>1481</locationY>
        <connector>
            <targetReference>Get_Auto_Generated_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Biochem</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_BioChem_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1236</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>Pregnancy_Test_Cycle_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Biochem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Result</name>
        <label>Update Pregnancy Result</label>
        <locationX>2936</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Create_Pregnancy_Scan_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_FH__c</field>
            <value>
                <elementReference>Number_of_Heart_Beats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_CLIN__c</field>
            <value>
                <stringValue>y = Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scan</name>
        <label>Update Scan</label>
        <locationX>2259</locationX>
        <locationY>841</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultVAR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Scan_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endometrium_Thickness__c</field>
            <value>
                <elementReference>Endometrial_Lining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Follicles_Left__c</field>
            <value>
                <elementReference>NumberofFollicle_Left</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Follicles_Over_11mm_Right__c</field>
            <value>
                <elementReference>Number_of_Follicle_Right</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observations__c</field>
            <value>
                <elementReference>Notes_from_Sonographer</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>855</locationX>
        <locationY>2201</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Linked_Result__c</field>
            <value>
                <elementReference>ResultID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Entered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>BioChem</name>
        <label>BioChem</label>
        <locationX>1507</locationX>
        <locationY>1349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Biochem_Over</targetReference>
        </connector>
        <fields>
            <name>BiochemInfor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Result Indicates a BioChem Pregnancy&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BioChem_0</name>
        <label>BioChem</label>
        <locationX>1634</locationX>
        <locationY>1429</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Pregnancy_Outcome_0</targetReference>
        </connector>
        <fields>
            <name>BiochemInfor_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Result Indicates a First Positive BHCG&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Blood_Test_Screen</name>
        <label>Blood Test Screen</label>
        <locationX>850</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collection_Date</targetReference>
        </connector>
        <fields>
            <name>LH</name>
            <dataType>Number</dataType>
            <fieldText>LH</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>P4</name>
            <dataType>Number</dataType>
            <fieldText>P4</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>E2</name>
            <dataType>Number</dataType>
            <fieldText>E2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Collection_Time_Blood_Test</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Collection Time - Blood Test</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Blood_Test_Screen_0</name>
        <label>Blood Test Screen</label>
        <locationX>1417</locationX>
        <locationY>740</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Blood_Test_Result_0_0</targetReference>
        </connector>
        <fields>
            <name>LH_0</name>
            <dataType>Number</dataType>
            <fieldText>LH</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>P4_0</name>
            <dataType>Number</dataType>
            <fieldText>P4</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>E2_0</name>
            <dataType>Number</dataType>
            <fieldText>E2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BHCG</name>
            <dataType>Number</dataType>
            <fieldText>BHCG</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Collection_Time_Blood_Test_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Collection Time - Blood Test</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Book_Scan</name>
        <label>Book Scan</label>
        <locationX>1847</locationX>
        <locationY>1503</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Scan_Booking</targetReference>
        </connector>
        <fields>
            <name>PatientPregnant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Patient is Pregnant with 2 Positive BHCG results. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Book Scan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1967</locationX>
        <locationY>1102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <fields>
            <name>ErrorResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;This result falls outside of automated parameters. Please report this to the System Admin. In the interim you can update the Cycle Outcome Value if required or book another blood test. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycle_Outcome</name>
            <choiceReferences>CycleOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cycle Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pregnancy_Outcome</name>
            <choiceReferences>PregnancyOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pregnancy Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_on_Preg_Scan</name>
        <label>Error on Preg Scan</label>
        <locationX>2453</locationX>
        <locationY>839</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorPregText</name>
            <fieldText>&lt;p&gt;This data doesn&apos;t look right. Please check them or speak to an administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Histo_Display_Screen</name>
        <label>Histo Display Screen</label>
        <locationX>1342</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Result</targetReference>
        </connector>
        <fields>
            <name>Collection_Date_Histo</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Products</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;By pressing next you are confirming that products of conception contained chorionic villi.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm CV Present</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pregnancy_Scan</name>
        <label>New Pregnancy Scan</label>
        <locationX>2013</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Pregnancy_Scan_Heart_Beat_0</targetReference>
        </connector>
        <fields>
            <name>Pregnancy_Scan_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Pregnancy Scan Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LMP</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </defaultValue>
            <fieldText>LMP</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gestational_Age</name>
            <dataType>Number</dataType>
            <fieldText>Gestational Age</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Delivery_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EDD</elementReference>
            </defaultValue>
            <fieldText>Estimated Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Pregnancy_Scan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Pregnancy_Scan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Heart_Beats</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Heart Beats</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pregnancy_Scan_Heart_Beat_0</name>
        <label>New Pregnancy Scan Sacs</label>
        <locationX>2292</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_to_Heart_Beat</targetReference>
        </connector>
        <fields>
            <name>New_Pregnancy_Scan_Heart_Beat_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Pregnancy_Scan_Heart_Beat_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Sacs</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Sacs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Scan</name>
        <label>New Scan</label>
        <locationX>2113</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Scan</targetReference>
        </connector>
        <fields>
            <name>Scan_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Scan Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endometrial_Lining</name>
            <dataType>Number</dataType>
            <fieldText>Endometrial Lining</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FET Cycle</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Scan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Scan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberofFollicle_Left</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Follicle Left Over 10mm</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Scan_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Follicle_Right</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Follicle Right Over 10mm</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes_from_Sonographer</name>
            <dataType>String</dataType>
            <fieldText>Notes from Sonographer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upload_Scan_Results</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ScanName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ScanUploadVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ResultVAR.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Pregnant_Display</name>
        <label>Not Pregnant</label>
        <locationX>1064</locationX>
        <locationY>1602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotPregnantDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This Patient is&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; Not Pregnant&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; and this cycle will now be closed. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ovulation_Screen</name>
        <label>Ovulation Screen</label>
        <locationX>1776</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Ovulation_Event</targetReference>
        </connector>
        <fields>
            <name>OVTExt</name>
            <fieldText>&lt;p&gt;Please record the date of Ovulation. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ovulation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Ovulation Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Not_Pregnant</name>
        <label>Patient Not Pregnant</label>
        <locationX>2590</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Based_on_No_Sacs</targetReference>
        </connector>
        <fields>
            <name>NotPregnant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Patient has no foetal Sacs. This Cycle will now be Closed. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregnancy_Test_Data</name>
        <label>Pregnancy Test Data</label>
        <locationX>1802</locationX>
        <locationY>963</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collection_Date_0</targetReference>
        </connector>
        <fields>
            <name>HGC</name>
            <dataType>Number</dataType>
            <fieldText>HGC</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>P4_Preg</name>
            <dataType>Number</dataType>
            <fieldText>P4</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pregnanacy_Test_Collection_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Pregnancy Test Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Type</name>
        <label>Result Type</label>
        <locationX>1616</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ResultTypeDecision</targetReference>
        </connector>
        <fields>
            <name>Test_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Result__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Result_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Result_Type_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Result_Type</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Type_Not_Supported</name>
        <label>Result Type Not Supported</label>
        <locationX>2241</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Supported_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(255, 170, 0);&quot;&gt;The result type you have selected is not supported for entry via the Cycle Screen&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Allocation</name>
        <label>Task Allocation</label>
        <locationX>849</locationX>
        <locationY>2053</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TaskSelectionText</name>
            <fieldText>&lt;p&gt;Select the task below that you would like to associate with the result entered. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,ActivityDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:479, ActivityDate:479</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTask</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>624</locationX>
        <locationY>1909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>NotaskText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No tasks currently exist for this patient if you press next as new task will be created for follow-up.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Incoming Result Generated Task</stringValue>
            </defaultValue>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1490</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pregnancy_Result_Subflow</name>
        <label>Pregnancy Result Subflow</label>
        <locationX>1360</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <flowName>Subflow_New_Pregnancy_Result</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>LoopRecord</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Medication_Loop.Medication__r.Name} - {!Medication_Loop.Dosage__c},</text>
    </textTemplates>
    <variables>
        <name>AllMedicationsandDosages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllResultsonDay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>CollectionDateOnly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountPregnancyResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountRecordsonDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DateOnly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dosage1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Medication1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PregnancyResultsCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>ScanUploadVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Result_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>YesNoBloodBooking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
