force-app/main/default/flows/New_System_Template_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Path</name>
        <label>Assign Selected Path</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SelectedPath</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Pathology_Table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Var</name>
        <label>Assign Task Var</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ItemVar.System_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_System_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0129o0000004JpnAAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Created_Medications</name>
        <label>Assign to Created Medications</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CreatedMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Created_Med</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Created_Path_Tests</name>
        <label>Assign to Created Path Tests</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CreatedPathTests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Created_Path_Tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Selected_Meds</name>
        <label>Assign To Selected Meds</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SelectedMeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Medication_Table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Task_Var</name>
        <label>Copy 1 of Assign Task Var</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ItemVar.System_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_System_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0129o0000004L7AAAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Administration_Choice</name>
        <choiceText>Patient Services</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Lab_Choice</name>
        <choiceText>Lab</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nursing_Choice</name>
        <choiceText>Nursing</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Template.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queues</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Template.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medication Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Medications</targetReference>
            </connector>
            <label>Medication</label>
        </rules>
        <rules>
            <name>Pathology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Template.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pathology Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pathology_Tests</targetReference>
            </connector>
            <label>Pathology</label>
        </rules>
        <rules>
            <name>Event_Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Template.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Triggered Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_Screen</targetReference>
            </connector>
            <label>Event Triggered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QueueName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Task_Allocated_to__c</picklistField>
        <picklistObject>Template_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Queues</name>
        <collectionReference>Get_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DoctorFromCycleorAccount</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!PathVar.Cycle__c}), 
    {!PathVar.Patients_Donors__r.Account.Doctor2__r.Name},
    {!PathVar.Cycle__r.Doctor_Initiating_Cycle__r.Name}
)</expression>
    </formulas>
    <interviewLabel>New System Template Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New System Template Items</label>
    <loops>
        <name>Loop_Selected_Medications</name>
        <label>Loop Selected Medications</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>SelectedMeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Medication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Path</name>
        <label>Loop Selected Path</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <collectionReference>SelectedPath</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Copy 1 of Create Task</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <inputReference>ItemVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication</name>
        <label>Create Medication</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Created_Med</targetReference>
        </connector>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Get_Medication.Dosage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Day__c</field>
            <value>
                <elementReference>Get_Medication.Normal_End_Day__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Medication_List__c</field>
            <value>
                <elementReference>Get_Medication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_Type__c</field>
            <value>
                <elementReference>Get_Medication.Medication_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Medication.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129o0000004JpiAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime__c</field>
            <value>
                <elementReference>Get_Medication.Regime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Day__c</field>
            <value>
                <elementReference>Get_Medication.Normal_Start_Day__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Template__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Template_Items_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <elementReference>Get_Medication.Units__c</elementReference>
            </value>
        </inputAssignments>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Path_Test</name>
        <label>Create Path Test</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Created_Path_Tests</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Path.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129o0000004L6M</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Template__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>ItemVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Medications</name>
        <label>Get All Medications</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medication_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Med</name>
        <label>Get Created Med</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Created_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Path_Tests</name>
        <label>Get Created Path Tests</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Created_Path_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Path_Tests.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Medication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Medications.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Path</name>
        <label>Get Path</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Path_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Path.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pathology_Tests</name>
        <label>Get Pathology Tests</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pathology_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Template</name>
        <label>Get System Template</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meds</name>
        <label>Update Meds</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <inputReference>EditedMeds</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tests</name>
        <label>Update Tests</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <inputReference>CreatedPathTests</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Task_Screen</name>
        <label>Copy 1 of Task_Screen</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Task_Var</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ItemVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ItemVar.Task_Allocated_to__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ItemVar.Days_from_Event__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Medications</name>
        <label>Edit Medications</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Meds</targetReference>
        </connector>
        <fields>
            <name>Update_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please edit the proposed medications as required below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ItemsEditTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Template_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Template_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CreatedMedications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage__c,Units__c,Regime__c,Start_Day__c,End_Day__c,Medication_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:246, Dosage__c:211, Units__c:211, Regime__c:368, Start_Day__c:211, End_Day__c:211, Medication_Type__c:211</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Units__c:true, Dosage__c:true, Start_Day__c:true, End_Day__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EditedMeds</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Screen</name>
        <label>Medication Screen</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_To_Selected_Meds</targetReference>
        </connector>
        <fields>
            <name>MedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select Medications that you want to include on this template, these can be customised in the next step.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Medications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b84e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Medication Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Dosage__c&quot;,&quot;guid&quot;:&quot;column-b9ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Dosage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Units__c&quot;,&quot;guid&quot;:&quot;column-b4b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Units&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Regime__c&quot;,&quot;guid&quot;:&quot;column-a9b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Regime&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Medication_Type__c&quot;,&quot;guid&quot;:&quot;column-821a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Medication Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Normal_Start_Day__c&quot;,&quot;guid&quot;:&quot;column-16dc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Normal Start Day&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Normal_End_Day__c&quot;,&quot;guid&quot;:&quot;column-ffb2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Normal End Day&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pathology_Screen</name>
        <label>Pathology Screen</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Path</targetReference>
        </connector>
        <fields>
            <name>PathText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select all of the Pathology Tests you want to include on this template.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pathology_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Tests__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pathology_Tests</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-27e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Tests Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Test_Type__c&quot;,&quot;guid&quot;:&quot;column-f47f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Test Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Screen</name>
        <label>Task_Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Task_Var</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ItemVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ItemVar.Task_Allocated_to__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
    <variables>
        <name>CreatedPathTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
    <variables>
        <name>EditedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
    <variables>
        <name>ItemVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
    <variables>
        <name>PathVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Requests__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication__c</objectType>
    </variables>
    <variables>
        <name>SelectedPath</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tests__c</objectType>
    </variables>
    <variables>
        <name>SingleMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Item__c</objectType>
    </variables>
</Flow>
