force-app/main/default/flows/New_Medications_In_Cycle_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Back</name>
        <label>Add Back</label>
        <locationX>886</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>AllMeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Meds_in_Edit_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Edit_Medications_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_All_Cycle_Medications</name>
        <label>Add to All Cycle Medications</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>AllCycleMeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleMedicationVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icones</name>
        <label>Assign Icones</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:tableau</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:work_plan_template_entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCycleMeds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Medication_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Medications</name>
        <label>Assign to All Medications</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AllMeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Medication_from_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Meds</name>
        <label>Assign To Meds</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AllMeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Meds_for_Edit</name>
        <label>Blank Meds for Edit</label>
        <locationX>358</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>Medicationsforedit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Edit_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Meds_for_EDit</name>
        <label>Count Meds for EDit</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CountMedsforEdit</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Medicationsforedit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medications_Selected_foir_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cycle_Medication</name>
        <label>Cycle Medication</label>
        <locationX>798</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Prescribed_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Normal_Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Prescribed_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Normal_End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cycle_Medications.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleMedicationVar.Related_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All_Cycle_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove</name>
        <label>Remove</label>
        <locationX>886</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>AllMeds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>All_Meds_in_Edit_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Medications_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Medication</name>
        <label>Add Medication?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Edit_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Med</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMeds.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Medication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medication</targetReference>
            </connector>
            <label>Add Med</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allocation_Type</name>
        <label>Allocation Type</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Edit_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MediChoice.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medication_Templates</targetReference>
            </connector>
            <label>Template</label>
        </rules>
        <rules>
            <name>Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MediChoice.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Table</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Medications</targetReference>
            </connector>
            <label>Table</label>
        </rules>
        <rules>
            <name>Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MediChoice.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Medications</targetReference>
            </connector>
            <label>Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_ID_Match</name>
        <label>Do ID Match?</label>
        <locationX>1018</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>All_Meds_in_Edit_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Medications_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>All_Meds_in_Edit_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove</targetReference>
            </connector>
            <label>Yes Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medications_Selected_foir_Edit</name>
        <label>Medications Selected for Edit</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medications_Have_Been_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountMedsforEdit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Medications_Loop</targetReference>
            </connector>
            <label>Medications Have Been Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MedicationName</name>
        <dataType>String</dataType>
        <expression>{!Patient.LastName}&amp;&quot; - &quot;&amp;{!Create_Cycle_Medications.Name}</expression>
    </formulas>
    <interviewLabel>New Medications In Cycle Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Medications In Cycle Subflow</label>
    <loops>
        <name>All_Meds_in_Edit_Loop</name>
        <label>All Meds in Edit Loop</label>
        <locationX>798</locationX>
        <locationY>1706</locationY>
        <collectionReference>AllMeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_ID_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Medications_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Cycle_Medications</name>
        <label>Create Cycle Medications</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllMeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Medication</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Edit_Medications_Loop</name>
        <label>Edit Medications Loop</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <collectionReference>Medicationsforedit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Meds_in_Edit_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Blank_Meds_for_Edit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Template_Items</name>
        <label>Loop Template Items</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Medication_from_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_Medications</name>
        <label>Get all Medications</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Medications_Form_Table</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Meds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Lookup.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_from_Template</name>
        <label>Get Medication from Template</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Template_Items.Master_Medication_List__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_Templates</name>
        <label>Get Medication Templates</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129o0000004L3IAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Items</name>
        <label>Get Template Items</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Templates.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Edit_Medications</name>
        <label>Edit Medications</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Meds_for_EDit</targetReference>
        </connector>
        <fields>
            <name>EDitMedsText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select the medication you would like to edit below. You can only edit one medication at a time. You may proceed without selecting medications if you are happy with the defaults listed. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditMedicationsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllMeds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage__c,Units__c,Regime__c,Normal_Start_Day__c,Normal_End_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:211, Dosage__c:211, Units__c:211, Regime__c:211, Normal_Start_Day__c:211, Normal_End_Day__c:211</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Medicationsforedit</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Medications_Screen</name>
        <label>Edit Medications Screen</label>
        <locationX>886</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Back</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>All_Meds_in_Edit_Loop.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>All_Meds_in_Edit_Loop.Dosage__c</objectFieldReference>
        </fields>
        <fields>
            <name>Edit_Medications_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Medications_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>All_Meds_in_Edit_Loop.Units__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>All_Meds_in_Edit_Loop.Normal_Start_Day__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Medications_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>All_Meds_in_Edit_Loop.Regime__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>All_Meds_in_Edit_Loop.Normal_End_Day__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Choice</name>
        <label>Medication Choice</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allocation_Type</targetReference>
        </connector>
        <fields>
            <name>MediChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Search for Medications&quot;,&quot;value&quot;:&quot;Allows you to search the medication database&quot;},{&quot;label&quot;:&quot;Choose Medications From Table&quot;,&quot;value&quot;:&quot;Provides a table of all medications that can be selected&quot;},{&quot;label&quot;:&quot;Use a Medication Template&quot;,&quot;value&quot;:&quot;Shows all medication templates that can be used to quick allocate medications to a cycle&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Medications</name>
        <label>Search Medications</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Medication</targetReference>
        </connector>
        <fields>
            <name>Search_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddMeds</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Medication&quot;,&quot;value&quot;:&quot;Add Medication&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Add Medication</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Medications_Form_Table</name>
        <label>Select Medications From Table</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Medications</targetReference>
        </connector>
        <fields>
            <name>Medications</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Medication Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3b4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Medication Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Dosage__c&quot;,&quot;guid&quot;:&quot;column-2605&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Dosage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Units__c&quot;,&quot;guid&quot;:&quot;column-6a3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Units&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Regime__c&quot;,&quot;guid&quot;:&quot;column-c378&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Regime&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Normal_Start_Day__c&quot;,&quot;guid&quot;:&quot;column-e6a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Normal Start Day&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Normal_End_Day__c&quot;,&quot;guid&quot;:&quot;column-0bd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Normal End Day&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AllMeds</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Template</name>
        <label>Select Template</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Template_Items</targetReference>
        </connector>
        <fields>
            <name>Templates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>System_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Medications Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medication_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aa52&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;System Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-9799&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Icones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCycleMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>AllMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication__c</objectType>
    </variables>
    <variables>
        <name>CountMedsforEdit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CycleMedicationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medicationsforedit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication__c</objectType>
    </variables>
    <variables>
        <name>MedID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Patient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
