force-app/main/default/flows/Next_Cycle_Step_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <collectionProcessors>
        <name>Sort_Next_Step</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Next Step</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Next_Steps</collectionReference>
        <connector>
            <targetReference>Display_Steps</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Day_of_Step__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>SOrt_Next_Step_PreDay1</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Next Step</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_1_of_Copy_1_of_Get_Next_Steps</collectionReference>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Display_Steps</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Day_of_Step__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Null</name>
        <label>Null?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Display_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Next_Steps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Get_Next_Steps</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_To_Day_One</name>
        <label>Prior To Day One?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Next_Steps</targetReference>
            </connector>
            <label>Yes Prior</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Next Step Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Next Cycle Step Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Get_Next_Steps</name>
        <label>Copy 1 of Copy 1 of Get Next Steps</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SOrt_Next_Step_PreDay1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_of_Step__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <sortField>Day_of_Step__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Next_Steps</name>
        <label>Copy 1 of Get Next Steps</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_of_Step__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <sortField>Day_of_Step__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_To_Day_One</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Steps</name>
        <label>Get Next Steps</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Next_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_of_Step__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Get_Cycle.Current_Cycle_Day__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Copy_1_of_Display_Steps</name>
        <label>Copy 1 of Copy 1 of Display Steps</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Cards_Next_Step</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Step__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Cycle_Step__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cycle Steps Name&quot;,&quot;name&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Day of Step&quot;,&quot;name&quot;:&quot;Day_of_Step__c&quot;,&quot;type&quot;:&quot;DOUBLE&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Step Notes&quot;,&quot;name&quot;:&quot;Step_Notes__c&quot;,&quot;type&quot;:&quot;TEXTAREA&quot;,&quot;hidden&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionDisplayType</name>
                <value>
                    <stringValue>menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClickable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isClickable</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiSelect</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnClick</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_transitionOnClick</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flows</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;Book_Bloods&quot;,&quot;label&quot;:&quot;Book Bloods&quot;},{&quot;value&quot;:&quot;Book_Appointments&quot;,&quot;label&quot;:&quot;Book Appointments&quot;},{&quot;value&quot;:&quot;Day_1_Cycle_Event&quot;,&quot;label&quot;:&quot;Day 1 Cycle Event&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:activations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Next Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Copy_1_of_Copy_1_of_Get_Next_Steps</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Display_Steps</name>
        <label>Copy 1 of Display Steps</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Cards_Next_Step</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Step__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Cycle_Step__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cycle Steps Name&quot;,&quot;name&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Day of Step&quot;,&quot;name&quot;:&quot;Day_of_Step__c&quot;,&quot;type&quot;:&quot;DOUBLE&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Step Notes&quot;,&quot;name&quot;:&quot;Step_Notes__c&quot;,&quot;type&quot;:&quot;TEXTAREA&quot;,&quot;hidden&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionDisplayType</name>
                <value>
                    <stringValue>menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClickable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isClickable</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiSelect</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnClick</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_transitionOnClick</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flows</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;Book_Bloods&quot;,&quot;label&quot;:&quot;Book Bloods&quot;},{&quot;value&quot;:&quot;Book_Appointments&quot;,&quot;label&quot;:&quot;Book Appointments&quot;},{&quot;value&quot;:&quot;Day_1_Cycle_Event&quot;,&quot;label&quot;:&quot;Day 1 Cycle Event&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:activations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Next Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Copy_1_of_Get_Next_Steps</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Steps</name>
        <label>Display Steps</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cards_Next_Step</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Step__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Cycle_Step__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cycle Steps Name&quot;,&quot;name&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Cycle Step Type&quot;,&quot;name&quot;:&quot;Cycle_Step_Type__c&quot;,&quot;type&quot;:&quot;PICKLIST&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Day of Step&quot;,&quot;name&quot;:&quot;Day_of_Step__c&quot;,&quot;type&quot;:&quot;DOUBLE&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Step Notes&quot;,&quot;name&quot;:&quot;Step_Notes__c&quot;,&quot;type&quot;:&quot;TEXTAREA&quot;,&quot;hidden&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionDisplayType</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClickable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isClickable</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiSelect</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnClick</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_transitionOnClick</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flows</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;Book_Bloods&quot;,&quot;label&quot;:&quot;Book Bloods&quot;},{&quot;value&quot;:&quot;Book_Appointments&quot;,&quot;label&quot;:&quot;Book Appointments&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:activations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Get_Next_Steps</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionforDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Pre_Day_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Step__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
