force-app/main/default/flows/OPU_Preparation_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_IUI_Prep_to_Var</name>
        <label>Assign IUI Prep to Var</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CEVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_Scheduled_EPU_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_Preparation_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Create_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prep_Event_Values</name>
        <label>Assign Prep Event Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CEVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Procedure_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Scheduled_EPU_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_Preparation_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prep_Values_to_Var</name>
        <label>Assign Prep Values to Var</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CEVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_EPU_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Record_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_Preparation_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Doctor_ET_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOctor_ET_NUmber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Number_of_Eggs_Expected_Left__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Eggs_Expected_Left</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Number_of_Eggs_Expected_Right__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Eggs_Expected_Right</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Number_of_Eggs_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofTotalEggs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.OPU_Preparation_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEVar.Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Type</name>
        <label>Cycle Type?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>POU_Preparation_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FET Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_POU_Preparation_Event</targetReference>
            </connector>
            <label>FET</label>
        </rules>
        <rules>
            <name>IUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_POU_Preparation_Event</targetReference>
            </connector>
            <label>IUI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DoctorETnumber</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Doctor_ET_Number__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ETNumber</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Doctor_ET_Number__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreezeExcessEggs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Excess_Eggs__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsemType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Insem_Type__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PatientETNumber</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_ET_Number__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PGT</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PGT_Type__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrevSpermQual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Previous_Sperm_Quality__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NumberofTotalEggs</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Eggs_Expected_Left}+{!Number_of_Eggs_Expected_Right}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>OPU Preparation Cycle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPU Preparation Cycle Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_Cycle_Event</name>
        <label>Copy 1 of Copy 1 of Create Cycle Event</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>UPdate_Cycle</targetReference>
        </connector>
        <inputReference>CEVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Cycle_Event</name>
        <label>Copy 1 of Create Cycle Event</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>UPdate_Cycle</targetReference>
        </connector>
        <inputReference>CEVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>UPdate_Cycle</targetReference>
        </connector>
        <inputReference>CEVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Data</name>
        <label>Get Event Data</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPdate_Cycle</name>
        <label>Update Cycle</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OPU_Preparation_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_POU_Preparation_Event</name>
        <label>Copy 1 of POU Preparation Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Prep_Event_Values</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Scheduled_EPU_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Event_Data.StartDateTime</elementReference>
            </defaultValue>
            <fieldText>Scheduled Procedure Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Thaw_Instructions</name>
            <fieldText>Thaw Instructions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Thaw_Instructions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Date_and_Time_of_Thaw__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Thaw_Instructions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Thaw_Instructions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Embryo_Source__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.PGT_Thaw_Instructions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Transfer</name>
            <fieldText>Transfer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Transfer_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_POU_Preparation_Event_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_POU_Preparation_Event_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Patient_ET_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_POU_Preparation_Event_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Doctor_ET_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Notes_section</name>
            <fieldText>Other</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Notes_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Diary_Check</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Set-ups written in diary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This needs to be ticked&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(NOT({!Copy_1_of_Diary_Check}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_POU_Preparation_Event_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_POU_Preparation_Event_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_POU_Preparation_Event_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_POU_Preparation_Event</name>
        <label>Copy 3 of POU Preparation Event</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_IUI_Prep_to_Var</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Scheduled_EPU_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Event_Data.StartDateTime</elementReference>
            </defaultValue>
            <fieldText>Scheduled Procedure Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Sperm</name>
            <fieldText>Sperm</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Sperm_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_POU_Preparation_Event_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_POU_Preparation_Event_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Primary_Sperm_Source__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_POU_Preparation_Event_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Secondary_Sperm_Source__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CEVar.Previous_Sperm_Quality__c</objectFieldReference>
        </fields>
        <fields>
            <name>Copy_3_of_Notes_section</name>
            <fieldText>Other</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Notes_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_3_of_Diary_Check</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Set-ups written in diary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This needs to be ticked&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(NOT({!Copy_3_of_Diary_Check}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_POU_Preparation_Event_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_POU_Preparation_Event_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_POU_Preparation_Event_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POU_Preparation_Event</name>
        <label>POU Preparation Event</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Prep_Values_to_Var</targetReference>
        </connector>
        <fields>
            <name>Scheduled_EPU_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Event_Data.StartDateTime</elementReference>
            </defaultValue>
            <fieldText>Scheduled EPU Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected</name>
            <fieldText>Expected</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Expected_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Eggs_Expected_Left</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Eggs Expected Left</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Eggs_Expected_Right</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Eggs Expected Right</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sperm</name>
            <fieldText>Sperm</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sperm_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Insem_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Primary_Sperm_Source__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Secondary_Sperm_Source__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Previous_Sperm_Quality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Eggs</name>
            <fieldText>Eggs</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Eggs_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Eggs_to_Insem__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Freeze_Excess_Eggs__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Transfer</name>
            <fieldText>Transfer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.Patient_ET_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <name>DOctor_ET_NUmber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Cycle.Number_of_Embryos_for_Transfer__c</elementReference>
                    </defaultValue>
                    <fieldText>Doctor ET Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes_section</name>
            <fieldText>Other</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notes_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CEVar.PGT_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Diary_Check</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Set-ups written in diary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This needs to be ticked&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(NOT({!Diary_Check}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>POU_Preparation_Event_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>POU_Preparation_Event_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>POU_Preparation_Event_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CEVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
