force-app/main/default/flows/Run_TS_Protocols.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Med_Templates</name>
        <label>Generate Med Templates</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_All_Med_Templates</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Loop_All_Med_Templates.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a2a9o0000002X2cAAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Protocol</name>
        <label>Generate Protocol</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_System_Template</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Protocol.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a2a9o0000002X1PAAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FormulaVar</name>
        <dataType>String</dataType>
        <expression>CASE({!recordId},
    &apos;System_Template__c&apos;, &apos;a2a9o0000002X2cAAE&apos;,
    &apos;Protocol__c&apos;, &apos;a2a9o0000002X1PAAU&apos;,
    NULL
)</expression>
    </formulas>
    <interviewLabel>Run TS Protocols {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run TS Protocols</label>
    <loops>
        <name>Loop_All_Med_Templates</name>
        <label>Loop All Med Templates</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_System_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Med_Templates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Document_Gen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Protocol</name>
        <label>Get Protocol</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Protocol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Protocol__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Template</name>
        <label>Get System Template</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Med_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Protocol__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Protocol.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129o0000004L3IAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Document_Gen</name>
        <label>Document Gen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your documents are being generated, please check back on the files tab of this Protocol/Corresponding Medical Protocols in a few seconds and refresh the page as needed. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Protocol</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SuccessMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully generated Protocol Documents, please wait 60 seconds for this to attach to the record and refresh this page.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
