force-app/main/default/flows/Send_Storage_Financial_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Billing_Contact_Embryos_IFC</name>
        <label>Run Billing Contact Embryos IFC</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>3EEE3369-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Billing_Contact_Oocyte_IFC</name>
        <label>Run Billing Contact Oocyte IFC</label>
        <locationX>1018</locationX>
        <locationY>1838</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>C7930369-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Billing_Contact_Semen_IFC</name>
        <label>Run Billing Contact Semen IFC</label>
        <locationX>1282</locationX>
        <locationY>1838</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>EAC62369-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Embryo_Consent_Single</name>
        <label>Run Embryo Consent Single</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>102B8269-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Oocyte_Consent_Single</name>
        <label>Run Oocyte Consent Single</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>D5E03269-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Semen_Consent_Single</name>
        <label>Run Semen Consent Single</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>D4C15269-5100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AllCOntact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_COntact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>1414</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactVar.Billing_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactSelection.firstSelectedRow.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContactVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactSelection.firstSelectedRow.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom42</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom56</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom67</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom39</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Contact_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sample_Icons</name>
        <label>Assign Sample Icons</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SampleIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom63</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SampleIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom92</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SampleIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom67</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genetic_Material_Type_Choice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Patient_and_Billing_contact_the_same</name>
        <label>Patient and Billing contact the same?</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Single_IFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingQuickChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The patient is paying for their own storage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sample_Type</targetReference>
            </connector>
            <label>Send Single IFC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sample_Type</name>
        <label>Sample Type</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oocytes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oocytes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Oocyte_Consent_Single</targetReference>
            </connector>
            <label>Oocytes</label>
        </rules>
        <rules>
            <name>Semen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Semen_Consent_Single</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
        <rules>
            <name>Embryos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Embryo_Consent_Single</targetReference>
            </connector>
            <label>Embryos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sample_Type_Decision</name>
        <label>Sample Type Decision</label>
        <locationX>1414</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oocyte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oocytes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Billing_Contact_Oocyte_IFC</targetReference>
            </connector>
            <label>Oocytes</label>
        </rules>
        <rules>
            <name>SemenChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Billing_Contact_Semen_IFC</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
        <rules>
            <name>Embryo_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GMChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Billing_Contact_Embryos_IFC</targetReference>
            </connector>
            <label>Embryo Choice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Storage Financial Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Storage Financial Consent</label>
    <loops>
        <name>Loop_ACR</name>
        <label>Loop ACR</label>
        <locationX>1414</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_COntact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Billing_Contact_Choice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>1414</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent</name>
        <label>Get Consent</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent_Compass__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_COntact</name>
        <label>Get COntact</label>
        <locationX>1502</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ACR.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>1414</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consent.Patients_Donors__r.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Household</name>
        <label>Update Household</label>
        <locationX>1414</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Sample_Type_Decision</targetReference>
        </connector>
        <inputReference>SelectedContactVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Billing_Contact_Choice</name>
        <label>Billing Contact Choice</label>
        <locationX>1414</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
        <fields>
            <name>BillingContactText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please choose the billing contact for this storage:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Household Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllCOntact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e681&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Birthdate&quot;,&quot;guid&quot;:&quot;column-5eda&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-7b3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Billing_Contact_Decision</name>
        <label>Billing Contact Decision</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Sample_Icons</targetReference>
        </connector>
        <fields>
            <name>SameContactText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Is the patient paying for their own storage or will another household contact be responsible for this?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingQuickChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;The patient is paying for their own storage&quot;,&quot;value&quot;:&quot;Send consent to the sample owner to collect billing details&quot;},{&quot;label&quot;:&quot;Another household contact is paying for the storage&quot;,&quot;value&quot;:&quot;Choose from one of the following household contacts to collect billing details.&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>IconVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success_Screen</name>
        <label>Copy 1 of Success Screen</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You have successfully sent a storage consent. Please allow 30 seconds for this to attach to the files tab and refresh as necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Genetic_Material_Type_Choice</name>
        <label>Genetic Material Type Choice</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Patient_and_Billing_contact_the_same</targetReference>
        </connector>
        <fields>
            <name>ConsentTypeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please select a genetic material type to send the relevant storage consent&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GMChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Oocytes&quot;,&quot;value&quot;:&quot;Send an Oocyte Storage Consent&quot;},{&quot;label&quot;:&quot;Semen&quot;,&quot;value&quot;:&quot;Send a Semen Storage Consent&quot;},{&quot;label&quot;:&quot;Embryos&quot;,&quot;value&quot;:&quot;Send an Embryo Storage Consent&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>SampleIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1414</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You have successfully &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;generated&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; a storage consent. Please allow 30 seconds for this to attach to the files tab and refresh as necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Consent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCOntact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IconVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SampleIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
