force-app/main/default/flows/Send_SMS_Upon_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sens_SMS_from_Task_Creation</name>
        <label>Sens SMS from Task Creation</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>SendSMSAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiKey</name>
            <value>
                <stringValue>D75B6B47-003E-AF2D-1D31-1511C3390657</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>CompassFert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>WhatIDResolution</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to</name>
            <value>
                <elementReference>Get_Pat.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>sarah.newman@compassfertility.com.au</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendSMSAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>SMS_Record</name>
        <label>SMS Record?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS Message</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pat</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WhatIDResolution</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WhatId}), {!$Record.WhoId}, {!$Record.WhatId})</expression>
    </formulas>
    <interviewLabel>Send SMS Upon Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS Upon Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pat</name>
        <label>Get Pat</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sens_SMS_from_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SMS_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
