force-app/main/default/flows/Send_Recipient_Consents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Couple_Emb</name>
        <label>Run Couple Emb</label>
        <locationX>1458</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Oocyte_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>69BDEF63-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Oocyte_Consent</name>
        <label>Run Oocyte Consent</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Oocyte_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>E0C36A13-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Partner_Sperm_Consent</name>
        <label>Run Partner Sperm Consent</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sperm_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>84AF2813-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Consent.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Single_Emb</name>
        <label>Run Single Emb</label>
        <locationX>1722</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Oocyte_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>F528A573-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Single_Oocyte</name>
        <label>Run Single Oocyte</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Oocyte_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>28EE5E63-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Single_Sperm_Consent</name>
        <label>Run Single Sperm Consent</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>pdffiller_sfree__ProcessToFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sperm_success_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>AC115D63-4100-0000-0000BA29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pdffiller_sfree__ProcessToFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1238</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom39</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom15</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consent_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Consent_Decision</name>
        <label>Consent Decision</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sperm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_or_Partner_Consent</targetReference>
            </connector>
            <label>Sperm</label>
        </rules>
        <rules>
            <name>Oocyte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eggs/Oocyte Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_or_Partner_Oocyte_Consent</targetReference>
            </connector>
            <label>Oocyte</label>
        </rules>
        <rules>
            <name>Emb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryo Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_or_Partner_Emb_Consent</targetReference>
            </connector>
            <label>Emb</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_and_Partner_Emails_the_same</name>
        <label>Patient and Partner Emails the same?</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mayday_Fix_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Consent.Patients_Donors__r.Partner__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amend_Emails_Screen</targetReference>
            </connector>
            <label>Mayday! Fix now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Partner_Consent</name>
        <label>Single or Partner Consent</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Sperm_success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Partner_Sperm_Consent</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Single_Sperm_Consent</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Partner_Emb_Consent</name>
        <label>Single or Partner Emb Consent</label>
        <locationX>1722</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Oocyte_success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emb_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Couple_Emb</targetReference>
            </connector>
            <label>Emb Partner</label>
        </rules>
        <rules>
            <name>Emb_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Single_Emb</targetReference>
            </connector>
            <label>Emb Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Partner_Oocyte_Consent</name>
        <label>Single or Partner Oocyte Consent</label>
        <locationX>1018</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Oocyte_success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oocyte_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Oocyte_Consent</targetReference>
            </connector>
            <label>Oocyte Partner</label>
        </rules>
        <rules>
            <name>Oocyte_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Patients_Donors__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Single_Oocyte</targetReference>
            </connector>
            <label>Oocyte Single</label>
        </rules>
    </decisions>
    <description>Allows users marked &quot;Is Donor Coordinator? = TRUE&quot; to select from a menu of sample types and send a recipient consent to either patient or patient &amp; partner (determined by flow).</description>
    <environments>Default</environments>
    <interviewLabel>Send Recipient Consents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Recipient Consents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Consent</name>
        <label>Get Consent</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_and_Partner_Emails_the_same</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consent_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recipient Consents</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent_Compass__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Amend_Emails_Screen</name>
        <label>Amend Emails Screen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <fields>
            <name>ChangeEmailsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;&lt;u&gt;We have identified that the patient and partner&apos;s email are the same. Please amend this before continuing.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Consent_Choice_Screen</name>
        <label>Consent Choice Screen</label>
        <locationX>1238</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Consent_Decision</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Which type of recipient consent would you like to send?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Semen Consent&quot;,&quot;value&quot;:&quot;Send a Semen Consent&quot;},{&quot;label&quot;:&quot;Eggs/Oocyte Consent&quot;,&quot;value&quot;:&quot;Send an Eggs/Oocyte Consent&quot;},{&quot;label&quot;:&quot;Embryo Consent&quot;,&quot;value&quot;:&quot;Send an Embryo Consent&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Oocyte_success_screen</name>
        <label>Copy 1 of Oocyte success screen</label>
        <locationX>1722</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_oocytetext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;You have successfully generated an embryo recipient consent. Please allow 30 seconds for this to attach to the record and refresh as necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Oocyte_success_screen</name>
        <label>Oocyte success screen</label>
        <locationX>1018</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>oocytetext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;You have successfully generated an oocyte recipient consent. Please allow 30 seconds for this to attach to the record and refresh as necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sperm_success_screen</name>
        <label>Sperm success screen</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_oocytetext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;You have successfully generated a sperm recipient consent. Please allow 30 seconds for this to attach to the record and refresh as necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Consent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
