force-app/main/default/flows/Subflow_New_Pregnancy_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Commit_Result</name>
        <label>Commit Result</label>
        <locationX>1061</locationX>
        <locationY>1398</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Not_Pregnant_Display</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Collection_Date_0</name>
        <label>Collection Date</label>
        <locationX>1615</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>CollectionDateOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Pregnancy_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Pregnancy_Results</name>
        <label>Count Pregnancy Results</label>
        <locationX>1623</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>CountPregnancyResults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PregnancyResultsCollectionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pregnancy_Test_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Biochem_Over</name>
        <label>Biochem Over</label>
        <locationX>1363</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Update_Pregnancy_Outcome_BioChem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HCG_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome_BioChem_0</targetReference>
            </connector>
            <label>HCG Below 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Pregnancy_Result</name>
        <label>Previous Pregnancy Result</label>
        <locationX>1626</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Miscarriage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Live Birth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Miscarriage_Screen</targetReference>
            </connector>
            <label>Miscarriage</label>
        </rules>
        <rules>
            <name>No_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_0</targetReference>
            </connector>
            <label>No Data</label>
        </rules>
        <rules>
            <name>InitialPositiveBHCG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Pregnant</targetReference>
            </connector>
            <label>Initial Positive BHCG</label>
        </rules>
        <rules>
            <name>Not_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome</targetReference>
            </connector>
            <label>Not Pregnant</label>
        </rules>
        <rules>
            <name>Positive_BHCG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pregnancy_Outcome_0_0</targetReference>
            </connector>
            <label>Positive BHCG</label>
        </rules>
        <rules>
            <name>Subsequent_No_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPregnancyResults</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HGC</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BioChem</targetReference>
            </connector>
            <label>BioChem</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CycleOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cycle_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PregnancyOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pregnancy_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Result_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result_Type__c</picklistField>
        <picklistObject>Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WanttoBooknewappointment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Book_Appointment_Choice__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateTransformation</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ResultVAR.Collected__c})</expression>
    </formulas>
    <formulas>
        <name>MedicationandDosage</name>
        <dataType>String</dataType>
        <expression>{!Medication1}&amp;&quot;-&quot;&amp;TEXT({!Dosage1})</expression>
    </formulas>
    <formulas>
        <name>SubjectLine</name>
        <dataType>String</dataType>
        <expression>&quot;Patient Pregnancy Report -&quot;&amp;{!Get_Cycle.Contact.Name}</expression>
    </formulas>
    <interviewLabel>Subflow Pre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow New Pregnancy Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pregnancy_Test</name>
        <label>Create Pregnancy Test</label>
        <locationX>1624</locationX>
        <locationY>804</locationY>
        <assignRecordIdToReference>ResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Pregnancy_Test_Cycle_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected__c</field>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCG__c</field>
            <value>
                <elementReference>HGC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4_Preg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Type__c</field>
            <value>
                <stringValue>Pregnancy Test Result</stringValue>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Pregnancy_Test_Cycle_Event</name>
        <label>Pregnancy Test Cycle Event</label>
        <locationX>1620</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>Collection_Date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>Pregnanacy_Test_Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Cycle_Event_Variables__c.Pregnancy_Test__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Pregnancy_Test</name>
        <label>Delete Pregnancy Test</label>
        <locationX>1764</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>Delete_Pregnancy_Test_Cycle_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultId</elementReference>
            </value>
        </filters>
        <object>Result__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pregnancy_Test_Cycle_Event</name>
        <label>Delete Pregnancy Test Cycle Event</label>
        <locationX>2143</locationX>
        <locationY>1056</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pregnancy_Test_Cycle_Event</elementReference>
            </value>
        </filters>
        <object>Cycle_Event__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1624</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pregnancy_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pregnancy_Results</name>
        <label>Pregnancy Results</label>
        <locationX>1624</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Pregnancy_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pregnancy Test Result</stringValue>
            </value>
        </filters>
        <object>Result__c</object>
        <outputReference>PregnancyResultsCollectionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HCG__c</queriedFields>
        <queriedFields>P4__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>2145</locationX>
        <locationY>1281</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <elementReference>Cycle_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <elementReference>Pregnancy_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_0</name>
        <label>Update Cycle</label>
        <locationX>2322</locationX>
        <locationY>1429</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <elementReference>Pregnancy_Outcome_PcikList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_ANZARD</name>
        <label>Update Cycle ANZARD</label>
        <locationX>1065</locationX>
        <locationY>2089</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PR_CLIN__c</field>
            <value>
                <stringValue>n = No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1448</locationX>
        <locationY>1376</locationY>
        <connector>
            <targetReference>Commit_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1634</locationX>
        <locationY>1760</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Positive BHCG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Transfer Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>WFPR</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_0_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1856</locationX>
        <locationY>1666</locationY>
        <connector>
            <targetReference>Pregnant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Positive BHCG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Awaiting Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_BioChem</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1441</locationX>
        <locationY>1665</locationY>
        <connector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Biochem</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pregnancy_Outcome_BioChem_0</name>
        <label>Update Pregnancy Outcome</label>
        <locationX>1236</locationX>
        <locationY>1816</locationY>
        <connector>
            <targetReference>Commit_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Biochem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed Cycle - Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cycle Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>BioChem</name>
        <label>BioChem</label>
        <locationX>1507</locationX>
        <locationY>1533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Biochem_Over</targetReference>
        </connector>
        <fields>
            <name>BiochemInfor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Result Indicates a BioChem Pregnancy&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1967</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <fields>
            <name>ErrorResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;This result falls outside of automated parameters. Please report this to the System Admin. In the interim you can update the Cycle Outcome Value if required or book another blood test. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycle_Outcome</name>
            <choiceReferences>CycleOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cycle Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pregnancy_Outcome</name>
            <choiceReferences>PregnancyOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pregnancy Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>1764</locationX>
        <locationY>1192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Pregnancy_Test</targetReference>
        </connector>
        <fields>
            <name>ErrorResult_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;This result falls outside of automated parameters because there is no BHCG value. This result has been deleted because it does not fulfil pregnancy reporting criteria and will need to be entered correctly.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Pregnant</name>
        <label>Initial Pregnant</label>
        <locationX>1634</locationX>
        <locationY>1613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Pregnancy_Outcome_0</targetReference>
        </connector>
        <fields>
            <name>BiochemInfor_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This Result Indicates a First Positive BHCG&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Miscarriage_Screen</name>
        <label>Miscarriage</label>
        <locationX>2093</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Cycle_0</targetReference>
        </connector>
        <fields>
            <name>LiveBirthText</name>
            <fieldText>&lt;p&gt;This cycle has an outcome of awaiting live birth and as such additional results should not be added. If you need to change the pregnancy outcome please select the outcome below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pregnancy_Outcome_PcikList</name>
            <choiceReferences>PregnancyOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pregnancy Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Pregnant_Display</name>
        <label>Not Pregnant</label>
        <locationX>948</locationX>
        <locationY>1419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Cycle_ANZARD</targetReference>
        </connector>
        <fields>
            <name>NotPregnantDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This Patient is&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; Not Pregnant&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; and this cycle will now be closed. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregnancy_Test_Data</name>
        <label>Pregnancy Test Data</label>
        <locationX>1623</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Pregnancy_Test</targetReference>
        </connector>
        <fields>
            <name>HGC</name>
            <dataType>Number</dataType>
            <fieldText>HGC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>P4_Preg</name>
            <dataType>Number</dataType>
            <fieldText>P4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pregnanacy_Test_Collection_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Pregnancy Test Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregnant</name>
        <label>Pregnant</label>
        <locationX>1855</locationX>
        <locationY>1825</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotPregnantDisplay_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This Patient is&lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; Pregnant&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; and this cycle will now be transitioned to Clinical Pregnancy and Live Birth Tracking. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1498</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Dr {!Get_Cycle.Doctor_Initiating_Cycle__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see attached final cycle report for {!Get_Cycle.Contact.Name} (DOB: {!Get_Cycle.Contact.Birthdate}). The pregnancy results are as follows. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;King Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Compass Fertility Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PregnantEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Dr {!Get_Cycle.Doctor_Initiating_Cycle__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is to notify you that {!Get_Cycle.Contact.Name} is now pregnant with 2 positive BHCG results. These results have been summarised for you below. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllMedicationsandDosages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllResultsonDay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>CollectionDateOnly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountPregnancyResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountRecordsonDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DateofTest</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateOnly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dosage1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Medication1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PregnancyResultsCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>Selected_Result_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesNoBloodBooking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
