force-app/main/default/flows/xxxSub_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PastDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Day.Cycle_Day_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Day</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Var</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Var</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Cycle_Day</collectionReference>
        <connector>
            <targetReference>Loop_Day</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Cycle_Day_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Past_Date_Equal</name>
        <label>Past Date Equal</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PastDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Day.Cycle_Day_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Duplicate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>xxxSub FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>xxxSub FLow</label>
    <loops>
        <name>Loop_Day</name>
        <label>Loop Day</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Cycle_Day</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Past_Date_Equal</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Duplicate</name>
        <label>Delete Duplicate</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_Day</targetReference>
        </connector>
        <inputReference>Loop_Day</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cycle_Day</name>
        <label>Get Cycle Day</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Day</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PastDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
